[2014-12-10 15:44] tunnckoCore opened #1 "What's the purpose, idea behind?"
Is the purpose is to be completely compatible with `minimatch` and pass it's tests?

Because I think minimatch support too much cases for one simple usage like glob filepaths. I [fork the repo](https://github.com/tunnckoCore/micromatch) and made some basic implementation and tests.

It would be great if you come with more test cases. :)

[2014-12-23 06:43] jonschlinkert opened #2 "screens: benchmarks"
![image](https://cloud.githubusercontent.com/assets/383994/5535193/1c28a4a2-8a45-11e4-813a-0236586aa990.png)

[2014-12-23 11:03] #2 closed, assigned to nobody

[2014-12-23 11:05] #1 closed, assigned to nobody

[2014-12-23 23:54] jonschlinkert opened #3 "path variables"
Consider supporting bash-like path variables, ex. `${foo}`. Should be easy to do since the syntax is exactly the same as es6 variables.

[2014-12-23 23:58] jonschlinkert opened #4 "extended glob matching"
Support for http://mywiki.wooledge.org/BashGuide/Patterns#Extended_Globs. If this is a common request, I'll implement support.

[2015-01-13 12:30] jonschlinkert opened #6 "comparison to minimatch"
Since minimatch is so heavily used, a comparison between micromatch and minimatch might help devs see where this lib is superior.

For starters: here is the difference between the matching regex generated by micromatch and minimatch:  https://gist.github.com/jonschlinkert/ef4ee3bab2d78b50b323

[2015-01-18 23:56] jonschlinkert commented on #3
implemented: `${foo}` is now treated as an escaped brace and is ignored

[2015-01-18 23:56] #3 closed

[2015-02-05 13:02] tunnckoCore opened #7 "possibility `.filter` to accept array glob pattern"
Like...

[code]

**Use case if `.filter` accepts array**
this [part of recursive-readdir](https://github.com/jergason/recursive-readdir/blob/master/index.js#L24-L34) package would become something like this

[code]

[2015-02-11 23:22] oncletom opened #8 "cwd option"
Do you have plans to support a `cwd` option?

Otherwise it is a bit unclear where the fs lookup is performed.

[2015-02-11 23:24] oncletom commented on #8
My bad, I did not get the files had to be provided :-D

[2015-02-11 23:25] #8 closed

[2015-02-22 09:55] vweevers opened #9 "Array with negation pattern"
As you noted in [level-glob#1](https://github.com/vweevers/level-glob/issues/1) (thanks!), there's a possible bug (I'm not sure either) when using multiple patterns and negation. I did some tests with both 1.0.1 and 1.4.2, and it comes down to the following. These two lines produce different results:

[code]

The first matches nothing, the second matches `b.js`. Is this expected behavior?

[2015-02-24 14:09] es128 commented on #6
I'd particularly like a comparison of API differences - i.e. can micromatch be used as a drop-in replacement for minimatch?

[2015-02-25 14:47] jonschlinkert commented on #6
@es128 you got, I'll work something up.

[2015-02-27 00:42] jonschlinkert commented on #6
Here is a start: https://gist.github.com/jonschlinkert/96212e11d128fc659d12. fwiw I tend to be wordy when I start something, then try to reduce it down as I get it filled in. It's not finished but at least you will have something to look at.

[2015-02-27 00:49] jonschlinkert commented on #9
sorry for the late reply! Ah, yes, not a bug, but... it was an implementation decision - but one I can easily change/revisit if necessary.
The thinking is that:

- if you only pass a string pattern, then the behavior will be the same as minimatch. which is inclusive by default. Meaning `'!*.md'` should return everything except `'*.md'`. This is how minimatch works.
- however, if you pass an array

[2015-02-27 01:05] jonschlinkert commented on #7
sorry don't know how I missed this!.

Maybe I'm missing something, but why is any of that needed? Couldn't this be achieved by using the main function instead of filter?

[code]

If additional `ignore` patterns need to be passed, you can do:

[code]

[2015-02-27 01:06] jonschlinkert commented on #4
done

[2015-02-27 01:06] #4 closed

[2015-02-27 01:53] es128 commented on #6
Looks good, but ultimately I was just looking for a simple yes/no on whether I can just replace the main minimatch function with the main micromatch one. Appears to be yes (assuming you don't expect input to always be an array). If I were you I'd call that out at the top of your README - that you can easily swap out either minimatch() or multimatch() for micromatch()

I'm interested in using it in

[2015-02-27 01:56] tunnckoCore commented on #7
Hmmm. Maybe, I'll review it soon, I think I got it.

Actually, it's not an issue, cuz [`fs-readdir`](https://github.com/tunnckoCore/fs-readdir) is almost the fastest async/stream out there. ASAP I'll add support for globs and filters using micromatch. :)

Cute avatar btw! :+1:

[2015-02-27 02:03] tunnckoCore commented on #7
btw why when benchmark ends not close the std? I mean.. I need to CTRL + C to exit from benchmark.

Can you review benchmarked config, is I missing something?

[2015-02-27 04:21] jonschlinkert commented on #7
really? hmm, honestly I created benchmarked in like 30 min lol. I just needed something fast, but I should revisit since I use it so much.

Actually I might be wrong. It depends... I was thinking about it, maybe it would make the most sense if either a) `.isMatch()` could take an array of patterns, since that could be used for filtering, or b) we just add multi-pattern functionality like you said.

[2015-02-27 04:37] tunnckoCore commented on #7
Yep. idk, but always, maybe I'm in some mistake when implement it, lol.

Agreed. Both are good ideas.

[2015-02-27 05:15] jonschlinkert commented on #7
that looks right to me. I think there is a bug.

[2015-02-27 05:24] tunnckoCore commented on #7
Isn't bug label for benchmarked, not here? lol

[2015-02-27 05:40] jonschlinkert commented on #7
lol, that's the problem with off-topic conversations.

[2015-02-27 05:41] jonschlinkert commented on #7
and thanks, I get a little absentminded when I'm working on something.

[2015-02-27 05:48] tunnckoCore commented on #7
yep yep, no problem, lol, i'll soon

[2015-02-27 07:06] vweevers commented on #9
That explains it, thanks. Although this behavior is counter-intuitive to me (because I always read a negation pattern as "everything but x", and multiple negation pattterns as "everything but x and y"), it's sane to keep in line with multimatch.

For now, what's missing, is a note in the readme. There's an example of multiple negation patterns:

[code]

.. which kind of reveals the behavior, but i

[2015-02-27 08:04] jonschlinkert commented on #9
Good point. I'll get that inserted!

Thanks for the cross-references too!

[2015-02-27 08:05] jonschlinkert opened #10 "add a note about negation patterns to docs"
https://github.com/jonschlinkert/micromatch/issues/9#issuecomment-76348584

[2015-02-27 08:06] jonschlinkert commented on #9
closing, I opened up an issue to add to docs. I'm not shutting down the idea of changing this behavior though. if you or anyone who has any thoughts on this wants to comment, please feel free

[2015-02-27 08:06] #9 closed

[2015-02-27 08:10] jonschlinkert commented on #6
That's great! I guess that's why I didn't put a simple yes/no lol. I want you to have the info you need to decide for yourself. But IMO the main difference is that the main `minimatch()` function returns true/false on a single file path, but the main `micromatch()` function works like multimatch.

If you do use micromatch and have any issues, let me know right away and I'll get it fixed.

[2015-02-27 14:16] es128 commented on #6
Ah ok now I see.. you _can_ pass a single string to `micromatch()` but the return value will be an array instead of a boolean. I hadn't been familiar with `multimatch`'s API, so this distinction didn't click for me until I just went and tried it. Up to this point I was thinking I didn't really _need_ to specify the `isMatch` method and it would still work out. I know you already said it, just desc

[2015-02-27 14:28] jonschlinkert commented on #6
exactly, thanks for helping me get that clear in my own head lol.

[2015-03-01 12:51] tunnckoCore opened #11 "problem with "logical OR" or problem in my mind, lol?"
I use makeRe to generate regex based on glob pattern to test against some filepath.

examples
[code]
isMatch()
[code]
micromatch()
[code]
I think its logical to return `true` only if there no dots in the pattern, ie `'maiden/{**/*,*}'`

[2015-03-01 13:11] tunnckoCore commented on #11
Just dont want to match folder names, this is the idea.

[2015-03-01 15:09] jonschlinkert commented on #11
it's a bug. also, for reference (and reminder to me) this is what bash returns for your pattern:

[code]

[2015-03-01 15:20] tunnckoCore commented on #11
Cool, okey, I'll wait then :)

I just workin on glob stream idea.

[2015-03-01 15:24] tunnckoCore commented on #11
examples updated

[2015-03-01 15:26] jonschlinkert commented on #11
should be good. let me know if you have any more problems.

[2015-03-01 15:29] tunnckoCore commented on #11
Awesome, works! Very fast response.

[2015-03-01 15:54] tunnckoCore commented on #11
@jonschlinkert hmmm, strange
why this not works? Is related to this fix?

[code]

[2015-03-01 18:33] jonschlinkert commented on #11
yeah I see exactly why that's happening. I'll get it fixed. sorry

[2015-03-01 18:57] #11 closed

[2015-03-01 18:59] jonschlinkert commented on #11
done. looks like I broke the last one you posted in a recent optimization.

[2015-03-01 19:06] tunnckoCore commented on #11
Yeyy! Good job.

[2015-03-01 21:06] jonschlinkert commented on #11
all working for you now?

[2015-03-01 22:53] tunnckoCore commented on #11
Yep.

[2015-03-01 23:27] jonschlinkert commented on #11
:+1:

[2015-03-04 13:59] jonschlinkert commented on #6
@es128 I just fixed a bug in micromatch that caused one of the tests to fail in anymatch. all tests pass now.

[2015-03-04 14:02] es128 commented on #6
Cool, thanks. I'll give it a try.

[2015-03-04 14:52] jonschlinkert commented on #6
:+1:

[2015-03-06 16:45] jonschlinkert commented on #7
ok I think I got it. Instead of `.filter()` how about `.every()`?

[2015-03-06 16:50] jonschlinkert commented on #7
e.g. "every pattern", not files

[2015-03-06 18:18] jonschlinkert opened #12 "make patterns the first arg?"
This is a major breaking change, and it's probably a bad idea given that minimatch has gotten everyone used to passing patterns as the second arg, but I've always strongly disliked it and found it confusing.

I'm curious if anyone else agrees with this.

This is the current signature, with pattern(s) usually the second arg:

[code]

I think it makes more sense like this:

[code]

This signature ma

[2015-03-06 23:19] #7 closed

[2015-03-12 12:51] tunnckoCore commented on #12
:+1:

[2015-03-13 15:38] es128 commented on #12
:+1: for the primary API, but you should continue to provide methods that accomplish drop-in equivalency with matching signatures such as `mm.multimatch(array, pattern)` and `mm.minimatch(string, glob)`

[2015-03-13 16:12] jonschlinkert commented on #12
Hmm, interesting. So actually add methods to provide parity? like a "minimatch" mode or "multimatch" mode?

[2015-03-13 17:12] es128 commented on #12
Yeah, well at least just for the main functions. I think it would help people migrate, you'd just drop `micromatch.` in front of the existing `minimatch` calls.

[2015-03-13 17:46] tunnckoCore commented on #12
Hm yea, interesting idea, but if someone is going to add `micromatch` in front of `minimatch/multimatch` its better to replace them with `micromatch.isMatch()` or/and `mm() constructor`.

Jon, one idea from yesterday - micromatch.base(string/array) - for getting the base path of glob(s), like base in `.expand().tokens.base`. Use case - I dont want to use whole expand to only get the base and dont

[2015-03-13 17:50] es128 commented on #12
But now if this change is implemented they'll also have to change arg order. And maybe there will be other differences in the future. The thought behind my suggestion is reducing friction for adoption of this lib as a replacement for those well-established alternatives. The further micromatch deviates from what people are used to, the more friction there will be.

[2015-03-16 07:25] tunnckoCore opened #13 "problem with re-include, excluded path"
Because I still working on glob-fs idea :D lol
Actually it works on 80% of the common usage of gulp/glob-stream, fails only on complex fixtures, or no logical tests (look at you glob-stream, nah.. it have very very weird tests).
Btw, talking about that, can you answer me why is needed [to ignore negate glob if it is first in given patterns](https://github.com/wearefractal/glob-stream/blob/master/t

[2015-03-16 07:42] tunnckoCore commented on #13
or say we have this one
[code]

[2015-03-16 10:27] jonschlinkert commented on #13
This is exactly what I was talking about with "re-inclusion" patterns. You said: https://github.com/jonschlinkert/glob-fs/issues/1#issuecomment-68498242.

Now you know what I mean? This isn't a bug, I did the PR to multimatch that allows it to re-include patterns like that, I can do the same here. IMO, this is the expected result since you are removing it from the set. But maybe it makes more sens

[2015-03-16 10:30] jonschlinkert commented on #13
Initially I was thinking maybe we should change to what multimatch does, but I'm not sure that's correct.  You can get the exact result you want with `foo/bar/*.j*`, right? Why exclude everything first, then include that?

[2015-03-16 10:32] jonschlinkert commented on #13
also I'm almost ready to push up a first pass at glob-fs. I focused 100% on the correctness of resolving paths, so it's all sync atm. It will be easy to do async, promises, streams whatever once the basic path logic is down

[2015-03-16 11:29] tunnckoCore commented on #13
Hmm, right, clear. Yea, maybe make more sense to save this behaving and allow users to un-negate patterns in options, like not-documented `ignore` option.

Yep, but testing, complexity, possible use cases and etc.

Great! From you sync, from me streams, haha. Almost pass all gulp/glob-stream tests. lol
Benchmarks shows x22,000 faster than glob-stream and its normal. :) glob-stream is slowest thing

[2015-03-16 11:36] tunnckoCore commented on #13
mm, yea and for this reason we'll never pass 90-100% of gulp/glob-stream/vinyl-fs tests and they are very very weird and low quality. They not deserves 100%-coverage-badge LOL

[2015-03-26 05:40] jonschlinkert commented on #13
@tunnckoCore was this resolved?

[2015-03-26 05:42] tunnckoCore commented on #13
I'll look after 10-20mins

[2015-03-26 05:45] jonschlinkert commented on #13
no prob, I don't know how long I'll last anyway, trying to keep my eyes open!

[2015-03-26 05:52] tunnckoCore commented on #13
@jonschlinkert okey, we can close and wait your push.

[2015-03-26 06:06] jonschlinkert commented on #13
k thx

[2015-03-26 06:06] #13 closed

[2015-03-26 18:08] es128 opened #15 "Bug with partial wildcards"
[code]

Realized this is the cause of a few newly failing tests in chokidar

[2015-03-26 18:12] es128 commented on #15
Looks like it's specific to the globstar occurring right after the partial (tailing) wildard - the `*/**` part.

[code]

[2015-03-26 19:05] es128 commented on #15
Been digging into this. Focusing on this line atm https://github.com/jonschlinkert/micromatch/blob/c007899ae1e288310cc0c43d5d57faf6d7ec671a/lib/expand.js#L138

Appears to be where the globstar handling fails, probably because of the `\w`

[2015-03-26 19:20] es128 commented on #15
Ok it's actually the `\w`s down in https://github.com/jonschlinkert/micromatch/blob/c007899ae1e288310cc0c43d5d57faf6d7ec671a/lib/expand.js#L284-L294

Replacing them with `[^\/]` fixes the issue. Now to try it against the rest of the test suite and write a new test...

[2015-03-26 20:22] es128 commented on #15
The fix described in the last comment did not fully fix the issue. There seems to be a secondary problem with partial wildcard matches after a globstar as well.

[code]

[2015-03-26 21:03] jonschlinkert commented on #15
sorry I've been offline all day. just reading over this now

[2015-03-26 21:03] es128 commented on #15
Was just beginning to prepare a branch and PR

[2015-03-26 21:04] jonschlinkert commented on #15
did you figure out which regex was causing it?

[2015-03-26 21:05] jonschlinkert commented on #15
crazy that this pattern wouldn't be anywhere in the unit tests...

[2015-03-26 21:06] es128 commented on #15
I have figured out half of the issue so far - with the `optionalGlobstar` function. Although it points to an assumption that may need to be adjusted elsewhere too regarding using `\w` to indicate path part boundaries

[2015-03-26 21:06] jonschlinkert commented on #15
Ok, I can get it the rest of the way. Do you want to do the pr still?

[2015-03-26 21:06] jonschlinkert commented on #15
Sorry you had to deal with this.

[2015-03-26 21:08] es128 commented on #15
Yeah I'll get the PR started in a minute, but on a branch here so you'll be able to keep pushing commits to it and finish up.

No worries. It was an opportunity to get acquainted with how this thing works

[2015-03-26 21:09] jonschlinkert commented on #15
ah, wait, this is the one that's causing the issue, right?

[code]

If so, I can fix that, but it was intentional, since that's how the specification is written, but it's not how minimatch works. I like how minimatch works for this - so we can change it

[2015-03-26 21:09] jonschlinkert commented on #15
great, thanks!

[2015-03-26 21:10] jonschlinkert commented on #15
I'm looking for that spec, it was either wildmatch (used by git) or bash. no matter though since we're changing it

[2015-03-26 21:12] es128 commented on #15
That's the part I hadn't solved yet.

This is a separate problem as well (which I have solved)

[code]

[2015-03-26 21:15] jonschlinkert commented on #15
ok, great.

[2015-03-26 21:19] jonschlinkert commented on #15
@es128 would you mind pushing up some failing unit tests that describe all the failing patterns? Maybe just create a section [right here](https://github.com/jonschlinkert/micromatch/blob/fix-15/test/match.js#L74) and name it something like `issue #15`?

[2015-03-26 21:19] jonschlinkert commented on #15
ha, well you might have already done it. and that's a better place too probably

[2015-03-26 21:23] es128 commented on #15
Yeah I tried to isolate them to expose the observed issues (and potential related ones).

But I was mainly focusing on the use case that I started with - I suspect there are more holes that can be poked. Would take a close look at any regex that uses `\w`

[2015-03-26 21:30] jonschlinkert commented on #15
looks like they're all they same issue.

If it makes sense to change all boundaries to use slashes instead of word characters. I'll try to get this one fixed then we can go from there and decide where else we want to depart from spec

[2015-03-26 21:32] jonschlinkert commented on #15
btw, one thing that might not be immediately obvious in `expand.js` is how I'm using `glob.repl` versus `replace`. they're they same except `replace` also does escaping on the patterns so we don't continue to replace `?` and `*` characters throughout parsing

[2015-03-26 21:33] es128 commented on #15
That did confuse me briefly when I was monitoring the value of `pattern` instead of `glob.pattern`

[2015-03-26 21:34] jonschlinkert commented on #15
quick glance, there are only four places using `\w`.

- one is for drive letters `\w:`
- two are dotfile related

but the other we might be able to get rid of

[2015-03-26 21:35] jonschlinkert commented on #15
did you notice the `track` option?

[2015-03-26 21:36] jonschlinkert commented on #15
it might not be documented...

[2015-03-26 21:39] es128 commented on #15
Sorry AFK at this point. But no, didn't notice it
On Thu, Mar 26, 2015 at 5:36 PM Jon Schlinkert <notifications@github.com>
wrote:

[2015-03-26 21:53] jonschlinkert commented on #15
no prob. I'm on it

[2015-03-26 22:45] jonschlinkert commented on #15
I have a fix. I'll be pushing it up in a bit after testing more

[2015-03-27 00:51] jonschlinkert commented on #15
I'm still working on the fix. It's not the regex or getting to work that's a problem, it's the spec and inconsistencies with minimatch (or rather, minimatch's inconsistencies), and I want to make sure I'm not missing something before I push this up.  In the meantime, I pushed up a patch with your fix.

[2015-03-27 00:52] jonschlinkert commented on #15
meant to just comment....

[2015-03-27 01:01] es128 commented on #15
Alright. The publish wasn't necessary - the patch I had committed wasn't enough to make the chokidar tests pass. But no worries, looking forward to your the fixes you're polishing up.

[2015-03-27 01:17] jonschlinkert commented on #15
k, thx. just wanted to show this, here is one of the many examples of inconsistencies with minimatch:

[code]

This, and gaps in the spec, are what made this a pita in the beginning

[2015-03-27 02:12] #15 closed

[2015-03-27 02:21] jonschlinkert commented on #15
for the heck of it, here's another one for you. Run the following:

[code]

Outputs:

[code]

[2015-03-27 13:31] es128 opened #17 "win32 issues?"
https://ci.appveyor.com/project/es128/chokidar

Looks like glob tests are failing on windows

[2015-03-27 13:35] es128 commented on #17
Hoping this can be resolved quickly and easily with just `s/\\/\//g` on the raw user input in a few places

[2015-03-27 13:37] es128 commented on #17
or maybe `path.posix.normalize()`

[2015-03-27 13:56] jonschlinkert commented on #17
see:
- https://github.com/jonschlinkert/micromatch/blob/master/lib/utils.js#L5
- https://github.com/jonschlinkert/micromatch/blob/master/lib/utils.js#L58?
- https://github.com/jonschlinkert/micromatch/blob/master/index.js#L92

just wanted to post those while I'm looking to see if I'm normalizing paths in all functions. it's possible it's only done in the main export and `.match()`

[2015-03-27 13:58] es128 commented on #17
yup remember that I'm basically just using `isMatch` so probably the same thing needs to be added there

[2015-03-27 14:00] jonschlinkert commented on #17
was just going to say... that's it. damn, so obvious too but I don't use windows so was hard to test for that. I did actually use windows when i started on this... but now I'm on mac. guess I decided I didn't needed that on the newer methods lol.

so here we need it: https://github.com/jonschlinkert/micromatch/blob/master/index.js#L180, and...

[2015-03-27 14:01] es128 commented on #17
yeah I lost my windows vm, so I've spent the last half hour trying to set up a new one so I could start trying to help with resolution

[2015-03-27 14:01] jonschlinkert commented on #17
the other methods like contains need it too. Okay, let's hope this fixes it. I can add those and push up a fix in a bit.

[2015-03-27 14:02] es128 commented on #17
Sounds good - I bet this is what caused the gulp-watch issue too even though they didn't mention windows

[2015-03-27 14:03] jonschlinkert commented on #17
damn, sorry you have to go through this. I really appreciate you helping me get these kinks worked out.

[2015-03-27 14:03] jonschlinkert commented on #17
I was thinking the exact same thing

[2015-03-27 14:03] jonschlinkert commented on #17
ask maybe, would be good to know

[2015-03-27 14:04] es128 commented on #17
eh, I'd rather just publish the fix, confirm chokidar tests pass on appveyor, then reply over there

[2015-03-27 14:05] jonschlinkert commented on #17
:) sounds good

[2015-03-27 14:20] jonschlinkert commented on #17
done

[2015-03-27 14:25] jonschlinkert commented on #17
also, fwiw looks like the benchmarks look relatively unaffected by this. the differences in the benchmarks from last run are mostly from other changes I made - overall it's matching faster than before. especially on long lists.

[2015-03-27 14:53] es128 commented on #17
:crying_cat_face:

appveyor still failing the glob tests https://ci.appveyor.com/project/es128/chokidar/branch/master/job/rewrg9yq8g2jru45

Still not set up to be able to help diagnose

[2015-03-27 15:40] jonschlinkert commented on #17
hmm, strange. did you try dropping in minimatch to see if that fixed it? It's very possible that I'm wrong, maybe likely, but like I mentioned on the other issue it doesn't even seem related to matching. what are the patterns that are failing? I think we need to get specific

[2015-03-27 15:41] es128 commented on #17
ok, finally starting to be able to track down what's going on

[code]

[2015-03-27 15:41] jonschlinkert commented on #17
ah, that helps. right on time

[2015-03-27 15:42] jonschlinkert commented on #17
damn windows

[2015-03-27 15:42] es128 commented on #17
srsly

[2015-03-27 15:44] jonschlinkert commented on #17
minimatch gives the same result.

[code]

[2015-03-27 15:44] jonschlinkert commented on #17
and regex as you can see

[2015-03-27 15:45] es128 commented on #17
doesn't seem like the backslashes are properly escaped there

[2015-03-27 15:45] jonschlinkert commented on #17
besides that unescaped qmark dammit. yeah this is from the "fix" earlier. I know what it is

[2015-03-27 15:46] jonschlinkert commented on #17
however, minimatch is still returning false on all of the methods, `minimatch()`, `minimatch.match()` and `minimatch.makeRe().test()`.

[2015-03-27 15:47] es128 commented on #17
yes, I'm seeing the same thing, but this definitely worked before... not sure what I'm doing/copying wrong

something about the escaping may still be messed up

[2015-03-27 15:48] jonschlinkert commented on #17
oh, btw the paths you mentioned that's different than what I meant. I think that's just my console output. it's not actually removing slashes, just isn't showing them in the console

[2015-03-27 15:49] jonschlinkert commented on #17
I could be wrong, I'll look at how minimatch "fixes" windows paths

[2015-03-27 15:53] jonschlinkert commented on #17
ah, wait! what am I thinking, of course the slashes aren't there. Backslashes are disallowed in globs, in every specification, in minimatch and in micromatch.

[2015-03-27 15:54] es128 commented on #17
yes that occurred to me, but then I'm not sure why the tests worked before

[2015-03-27 15:56] es128 commented on #17
Doing stuff like [this](https://github.com/paulmillr/chokidar/blob/master/test.js#L397) is probably wrong

Still, why did it pass with minimatch? I can't even get it to work now using raw minimatch.

[2015-03-27 15:59] es128 commented on #17
How are you supposed to specify an absolute path on windows within the glob pattern? `C:/Users/**`?

[2015-03-27 15:59] jonschlinkert commented on #17
the most likely thing is that, since the glob pattern is an absolute path, either something changed in node.js or io.js normalization of the paths, or maybe paths were relative before? I would really be kind of surprised if you were matching on absolute paths before and it worked consistently

[2015-03-27 16:00] jonschlinkert commented on #17
that's right as far as I know

[2015-03-27 16:00] es128 commented on #17
Yes, these tests were based on absolute paths before and passed. Maybe they shouldn't have and it just worked by some odd coincidence.

[2015-03-27 16:01] jonschlinkert commented on #17
or you're just that damn good!

[2015-03-27 16:01] es128 commented on #17
So... probably this is just an artifact of the test script... Doubt users are doing the same dumb thing

[2015-03-27 16:02] es128 commented on #17
haha I think the situation is indicating toward the opposite :wink:

[2015-03-27 16:02] jonschlinkert commented on #17
Yes, and my thinking is that it might be better (whether you use minimatch or micromatch) for you to normalize on your end to a relative, unixified path _after_ getting the absolute paths

[2015-03-27 16:04] es128 commented on #17
Do you mean normalize the glob pattern in that way? The actual fs paths need to be left alone - there's all sorts of downstream implications for users if I automatically convert them right away

[2015-03-27 16:05] jonschlinkert commented on #17
lol nah, you're just taking a chance on a new lib that has some quarks. on the upside, sometimes it's the same with version bumps. Once you bump something and have an issue, it gets harder to tell whether it's the bumped version causing it or something else

[2015-03-27 16:07] es128 commented on #17
Anymatch allows users to provide relative or absolute paths that aren't globs as well. So I don't think unixifying all input is going to be the way to go.

Probably just need to change the tests... but I still want to figure out why it used to work

[2015-03-27 16:10] jonschlinkert commented on #17
I think you meant making the paths relative, right? since we just did the unixifying here, and minimatch does it with everything so it happens anyway.

yeah I'm curious too

[2015-03-27 16:12] es128 commented on #17
I meant that's the right place for it to happen. I don't want to convert the input prematurely in chokidar or anymatch (which I thought was what you were suggesting) because I think that'll be a rabbit hole of other implications.

[2015-03-27 16:17] jonschlinkert commented on #17
oh, yeah got it. agreed. the main part I was focused on was relativizing paths though. It does seem like that's something that might help, given that you're already going through the trouble of getting the glob parent, etc.

Really, you know what you're doing, it only matters that you have the correct paths, and the pattern is correctly being used against the path.

[2015-03-27 19:15] es128 commented on #17
Ok it looks to me like `minimatch` actually behaves differently on win32. Passing backslash-delimited glob patterns on darwin (as you've shown above) does not do the conversion, but on win32 it does.

Think you can easily emulate this in `micromatch`?

[2015-03-27 19:16] es128 commented on #17
[code]

[2015-03-27 19:37] jonschlinkert commented on #17
great! good find

Implementing it is straightforward enough, looks like minimatch just does `'a\\b\\c'.split('\\').join('/')` when win32. I'll look into it more.

and I might be able to test on an old PC I have. But I'll have to get back to you on that, I might need someone to double check the results.

[2015-03-27 19:41] jonschlinkert commented on #17
I'll start implementing/testing. in the meantime, if you want to try adding `glob = glob.split('\\').join('/');` after the `typeof` check in `isMatch()` to see if that fixes the issue, that would be great. no worries if you're not able to do this easily right now.

[2015-03-27 20:02] jonschlinkert commented on #17
oh nice. thx I'll check it out.

[2015-03-27 20:09] doowb commented on #17
@jonschlinkert fwiw I'm testing out setting up [appveyor](http://www.appveyor.com/) on a smaller project so we can start adding that to our projects. Not sure if there's a good workflow for setting up new repos and adding the badge though, but I'll let you know and do a PR here when it's ready.

[2015-03-27 20:16] es128 commented on #17
I've tried quickly sliding this in to both `isMatch()` and `matcher()` - so far no dice

[2015-03-27 20:40] jonschlinkert commented on #17
did split have a double backslash? looks like it's normalized to one slash in the example. I did some testing on the pc here and everything is passing for me. I'll push something up in a few, and if that works we can bump and publish, if not, I'll do more digging

[2015-03-27 20:41] jonschlinkert commented on #17
@doowb just saw your comment. thanks, that's awesome.

[2015-03-27 20:42] es128 commented on #17
The single backslash is just from the copy/paste for the comment. It does seem to fix the pattern matching, but the tests still fail... still digging around to try to figure out why.

[2015-03-27 20:48] jonschlinkert commented on #17
Me: "I'm not going to support windows in my projects."
@doowb: "Never? c'mon"
Me: "Nope. not doin' it. Wasted too much time on windows already."
@es128: "Hey can you fix this windows problem"
Me: "Absolutely!"

why do I keep letting you back in my life windows!?

[2015-03-27 20:49] jonschlinkert commented on #17
my tale of sorrow

[2015-03-27 20:49] es128 commented on #17
lol

[2015-03-27 20:56] jonschlinkert commented on #17
ok, just pushed up https://github.com/jonschlinkert/micromatch/tree/fix-17. See if that does it

[2015-03-27 21:10] es128 commented on #17
There is still one test failing, but yes that seems to work. Awesome, thanks.

Will let you know what I figure out about the failing case that remains.

[2015-03-27 21:11] jonschlinkert commented on #17
yes, please do. thanks!

[2015-03-27 21:12] jonschlinkert commented on #17
Let's leave this open until you know what's up with that last test

[2015-03-27 21:13] es128 commented on #17
The test is the one about ignoring the children of ignored dirs. I think my solution to that was to append `/**/*` to the dir path in the ignore patterns - so perhaps it's an issue of mixing slashes and backslashes on the pattern input.

[2015-03-27 21:15] es128 commented on #17
Well yes that's definitely what's happening, but the question is why it doesn't work

[2015-03-27 21:27] es128 commented on #17
ok here's the problem - it's actually with straight-up string matching in a matcher

[code]

[2015-03-27 21:28] jonschlinkert commented on #17
on it

[2015-03-27 21:29] es128 commented on #17
The mixed slash globstar thing is actually fine

[code]

[2015-03-27 21:29] jonschlinkert commented on #17
i think I know what it is

[2015-03-27 21:32] jonschlinkert commented on #17
just to be clear, is that happening just on windows?

[2015-03-27 21:41] es128 commented on #17
seems that way

just tried on mac:
[code]

[2015-03-27 22:01] jonschlinkert commented on #17
just pushed up a fix. that should do it. I even had that code in there earlier and then thought "no, this is done in the matcher". but no, it's not done in the matcher lol. really sorry for all of the time you've had to spend on this.

[2015-03-27 23:10] es128 commented on #17
I can't test it for a while, but if you go ahead and publish the patch I can trigger appveyor to go again and we can see what happens.

Seriously, you have nothing to apologize for. This is how progress happens, and I'm happy to have participated. I can't even express how grateful I am for you and anyone else like you who looks at something like glob matching and rather than think "that's a solved

[2015-03-27 23:47] jonschlinkert commented on #17
really awesome way to look at it, thank you for that. I'll push something up here in a little bit

[2015-03-28 05:38] jonschlinkert commented on #17
closing per https://github.com/jonschlinkert/micromatch/commit/1f8c57383f5ac9ef9bbd233eebba3da21e209404. we can reopen or open a new issue if the need arises

[2015-03-28 13:45] #17 closed

[2015-03-29 23:54] jonschlinkert commented on #12
Agreed, for this reason I think this is a bad idea. For my own tastes that's kind of a bummer, but it is what it is... closing

[2015-03-29 23:54] #12 closed

[2015-03-29 23:59] es128 commented on #12
Anyone preferring the other order does already have the option of doing `mm.matcher(pattern)(path)`, which is reasonably close.

[2015-03-30 00:18] tunnckoCore commented on #15
damn, this is dramatically bad.

[2015-03-30 00:32] jonschlinkert commented on #15
good grief, please lighten up the tone a little. that doesn't help. Try posting a proposed solution instead to encourage discussion and collaboration to solve the problem.

None of these patterns is too difficult to implement. of course we'll have some things that didn't get tested:
 - including some seemingly obvious ones at first.  but at the end of the day:
- we would have to make 150 patches l

[2015-03-30 00:36] jonschlinkert commented on #12
true. and really, if I cared about it so much for my own projects I guess I could wrap it in a function and revers the args lol.

[2015-03-30 00:36] es128 commented on #15
The code in [the quote](https://github.com/jonschlinkert/micromatch/issues/15#issuecomment-87502241) is modified from what was posted earlier in the thread. That version evaluates as `false`, which makes sense. The original version started with a globstar, and it evaluates as `true` (`console.log(micromatch.makeRe('**/z*.js').test('z.js'))`). Both cases currently behave exactly as I'd expect them

[2015-03-30 00:39] es128 commented on #12
I did pretty much the same thing here https://github.com/es128/progeny/commit/9706276b4c36c0e05de1b68de54ac3e3609785c1 when I decided I needed args reversed to improve future cases but still needed to maintain compatibility with the original consumer.

[2015-03-30 00:40] jonschlinkert commented on #15
yeah I was just going to say, I just tested it and the code produces what I would expect:

[code]

@tunnckoCore is there a reason that should evaluate to `true`?

[2015-03-30 00:44] tunnckoCore commented on #15
no, exactly what I mean. it should stay false.

[2015-03-30 00:45] jonschlinkert commented on #12
great minds think alike! except mine thought it like 6 months later... takes me a while sometimes

[2015-03-30 00:46] tunnckoCore commented on #15
there's no logic to be `true` and also here
[code]

[2015-03-30 00:46] jonschlinkert commented on #15
that result is correct. `/**/` may also be evaluated as `/`

[2015-03-30 00:47] jonschlinkert commented on #15
and `/**/**/**/**/**/**/**/**/**/**/**/**/**/**` may also be evaluate as `/`

[2015-03-30 00:54] jonschlinkert commented on #15
@tunnckoCore is it possible that you misread the example above where **minimatch** fails, thinking it was this library?

[2015-03-30 01:04] tunnckoCore commented on #15
[this one](https://github.com/jonschlinkert/micromatch/issues/15#issuecomment-86789730)? no.

idk, sorry for the tone around, but Im just not okey with the [added tests](https://github.com/jonschlinkert/micromatch/commit/2409bae7338d09ebf64d0b51476c643457c4ee73) and think that they should be false.

[2015-03-30 01:10] tunnckoCore commented on #15
okey if we [back to this comment](https://github.com/jonschlinkert/micromatch/issues/15#issuecomment-86698744) I understand that the problem was that this one
[code]
returns false?

[2015-03-30 01:10] es128 commented on #15
Seems like you simply disagree with how globstar is meant to work.

Except [this one](https://github.com/jonschlinkert/micromatch/commit/2409bae7338d09ebf64d0b51476c643457c4ee73#diff-0695d9db3c89e5879a8ab1497522e46eR73) already existed before and you didn't take issue with it.

The glob spec and minimatch both also agree that globstar means 0 or more subdirs, not 1 or more

[2015-03-30 01:11] tunnckoCore commented on #15
yea I notice that.

[2015-03-30 01:13] jonschlinkert commented on #15
the only one that looks wrong to me is `console.log(micromatch.isMatch('z.js', '**/z*.js'));` I can't see how that would be correct.

[2015-03-30 01:14] es128 commented on #15
That's right.

[code]
should be true.

[2015-03-30 01:14] jonschlinkert commented on #15
but that's different since the path to match against has a slash. technically you should have to define `matchBase` to only match on the basename

[2015-03-30 01:15] jonschlinkert commented on #15
hmmm

[2015-03-30 01:15] tunnckoCore commented on #15
exactly

[2015-03-30 01:15] tunnckoCore commented on #15
Im not saying that.

[2015-03-30 01:17] es128 commented on #15
wait a sec

[code]

looks right to me. The globstar is 0 or more subdirs, and the wildcard adjoined with a (non-separator) char is 0 or more chars.

[2015-03-30 01:17] tunnckoCore commented on #15
I dont know why it should be, but this is wrong behavior for me.

[2015-03-30 01:18] es128 commented on #15
just... intuition?

the globstar part or the zero-width wildcard part - which seems wrong to you?

[2015-03-30 01:19] jonschlinkert commented on #15
the thing that makes this seemingly straightforward is that there are use cases where you are both correct. but it's not so "exact". the specification differs based on accompanying patterns.

[2015-03-30 01:19] jonschlinkert commented on #15
like this. the following result is correct. I think we would all agree with this, no?

[code]

[2015-03-30 01:21] tunnckoCore commented on #15
hm, I dont thinks so. But want to mention that I didn't read the spec. Im not spec specialist.

[2015-03-30 01:22] es128 commented on #15
Puts [this comment](https://github.com/jonschlinkert/micromatch/pull/16#commitcomment-10459473) in a very different light

[2015-03-30 01:25] jonschlinkert commented on #15
I didn't memorize the spec(s) yet, but I did read them. Bash 4.3 and wildmatch (used by git). They follow the same specifications for most cases, but there are holes in both, and differences.

How about if I come back later with some spec details so that if we continue this discussion we can do so around some hard data?

[2015-03-30 01:27] es128 commented on #15
http://man7.org/linux/man-pages/man7/glob.7.html is far from comprehensive - but it is very clear about a wildcard `*` character being able to match 0 (empty string) or more characters

[2015-03-30 01:33] tunnckoCore commented on #15
its simple.. on bash 4.1
[code]
i did some tests on the file system

just created following structure
[code]
and this `ls -al **/*.js` matches only `a/z.js`

[2015-03-30 01:35] tunnckoCore commented on #15
so this one
[code]
should be false

[2015-03-30 01:36] jonschlinkert commented on #15
This follows Bash 4.3.

See:

- https://github.com/jonschlinkert/micromatch/blob/master/test/bash.js#L20 (this is complete, except for unit tests that had bash variables or patterns that are irrelevant in node. minimatch does not pass all of these, micromatch does)
- https://github.com/jonschlinkert/micromatch/blob/master/test/braces.js#L65 (even though the attribution comment is on line 65, virtu

[2015-03-30 01:36] es128 commented on #15
add more subdirs: `a/b/c/d/e.js`

does it match?

[2015-03-30 01:36] jonschlinkert commented on #15
You're making falsey assumptions about the spec.

[2015-03-30 01:39] jonschlinkert commented on #15
and don't point out the extglob wildmatch tests lol, that's not even officially supported here yet (nor by  minimatch), but this still passes most of them.

[2015-03-30 01:44] es128 commented on #15
Here's another reference explaining how globstars are supposed to work, which is consistent with how micromatch currently behaves:

http://www.gnu.org/software/bash/manual/bashref.html#The-Shopt-Builtin-1

[2015-03-30 01:46] jonschlinkert commented on #15
that's what I was just reading over, thx.

[2015-03-30 01:56] tunnckoCore commented on #15
actually nope, keep matching only `a/z.js`

[2015-03-30 01:57] es128 commented on #15
eeeexactly

[2015-03-30 01:58] jonschlinkert commented on #15
This is the part of the spec I was focused on with example above. Minimatch does this, and micromatch does as well. However, like every specification, there are exceptions to this rule. It doesn't apply to every pattern in the specification.

[2015-03-30 02:00] jonschlinkert commented on #15
okay, here is micromatch vs minimatch for all of the patterns in the section we've been discussing.

Both libraries yield the same result for all of the following:

[code]

However, results differ on the following:

[code]

[2015-03-30 02:00] es128 commented on #15
I interpret that to mean the difference between `path/to/**` and `path/to/**/`.

I don't see that as at odds with `path/to/**/*.js` matching `path/to/this.js`

[2015-03-30 02:01] jonschlinkert commented on #15
no you're right. that would be a match.

[2015-03-30 02:02] es128 commented on #15
oh interesting, turns out github comments drops a * when there are two in a quote

[2015-03-30 02:02] jonschlinkert commented on #15
yeah I just saw that too lol. I had to edit and add backticks

[2015-03-30 02:03] es128 commented on #15
Why are you getting different results?

[code]

[2015-03-30 02:05] jonschlinkert commented on #15
not with micromatch. minimatch produces a different answer between the two methods

[2015-03-30 02:05] es128 commented on #15
you show `false` above? just a copypasta mistake maybe?

[2015-03-30 02:05] jonschlinkert commented on #15
oh, wait. I think I missed the point. yeah one sec

[2015-03-30 02:08] jonschlinkert commented on #15
wanted to double check. yes you're correct. I just didn't update the result in the comments before I pasted. seems important to do lol

[2015-03-30 02:09] jonschlinkert commented on #15
ok, corrected

[2015-03-30 02:10] jonschlinkert commented on #15
I'm thinking we're in good shape for now. so far, everything seems to be consistent with the spec.

[2015-03-30 02:11] es128 commented on #15
ok yeah... we have beat this to death

for every example that's been discussed, micromatch's current behavior is **correct**, and the tests are appropriate for keeping it that way

@tunnckoCore I hope satisfactory proof has been provided for you. If not, I'm sorry. But I, for one, am done here.

[2015-03-30 02:46] tunnckoCore commented on #15
haha, okey thanks guys. I dont like the results, but okey.

[2015-03-30 02:49] es128 commented on #15
For reference, if you want a pattern that says one or more subdirs (instead of 0 or more), use `/*/**`

[2015-03-30 02:58] tunnckoCore commented on #15
but .. doh. I cant understand why this is true (as shown in examples)
[code]
and this is false
[code]

[2015-03-30 03:01] es128 commented on #15
ah you're right on this one, you've spotted a bug. Second example should be `true`

[2015-03-30 03:01] tunnckoCore commented on #15
doh, noooo, opposite :D

[2015-03-30 03:02] tunnckoCore commented on #15
first is absolutely wrong for me. and think it, if it have ability to talk it would say "a want dir and something starting with `z`"

[2015-03-30 03:03] es128 commented on #15
nope, sorry - that's just is not how it's supposed to be. If you want that it would be `*/z*.js`. Or if you want any number (1 or more) of subdirs it's `*/**/z*.js`

[2015-03-30 03:06] tunnckoCore commented on #15
what?

[2015-03-30 03:07] es128 commented on #15
to express that as a glob: `*/z*`

or if you meant a javascript file `*/z*.js`

one star instead of two. `**` means **zero** or more subdirs. This is very well established at this point.

[2015-03-30 03:10] tunnckoCore commented on #15
so one star means **one or more**? lol

[2015-03-30 03:11] es128 commented on #15
one star means zero or more characters. In the context of being the only thing between path separators, it means exactly one dir.

[2015-03-30 03:20] tunnckoCore commented on #15
[code]

[2015-03-30 03:25] es128 commented on #15
You've identified one bug and represented it twice in these examples:

[code]

And then potentially one more with that last example, although it's a more academic case that wouldn't be found among anyone's legitimate use cases.

[2015-03-30 03:26] tunnckoCore commented on #15
and multimatch

[code]

[2015-03-30 04:36] jonschlinkert commented on #15
@tunnckoCore can I just ask why you're doing this? you said you don't use this, but you're trying your best to find bugs - which IMO is fine b/c it helps us, but I don't get the impression you're pointing out flaws to try to be helpful here.

[2015-03-30 12:37] tunnckoCore commented on #15
b/c I will use it, but it looks wrong to me.

nevermind

[2015-03-30 12:52] es128 opened #19 "Partial wildcard bug (without globstar)"
Uncovered by @tunnckoCore in #15 (thank you). Opening a new issue to track resolution.

[code]

[code]

[2015-03-30 12:53] es128 opened #20 "Double-asterisk without path separator (globstar confusion)"
Reposting from #15

[code]

[2015-03-30 13:00] es128 commented on #15
Yeah we're just going to have to move on.

@tunnckoCore you've made your point that you disagree with how globstar is intended to work as agreed upon in every spec and implementation we can find, but that's how it is (and it isn't an arbitrary decision by @jonschlinkert nor I that you can talk us out of). I'd suggest you either adjust your understanding or just refrain from using globstar function

[2015-03-30 14:18] tunnckoCore commented on #20
it's interesting what should be.

[2015-03-30 23:52] jonschlinkert commented on #20
@es128 I've been fighting off a cold. just got back on a bit ago, trying to catch up with what's happening. I'll take a look at this in micromatch.

[2015-03-30 23:54] es128 commented on #20
Alright, don't worry about it. There is no SLA. Hope you're feeling better.

[2015-03-31 00:14] jonschlinkert commented on #19
working on this now

[2015-03-31 01:55] jonschlinkert commented on #20
lol true. and thank you.

[2015-04-09 18:21] mattdesl opened #21 "Bump regex-cache"
micromatch@2.1.5 depends on regex-cache@0.3.0 which is now a little outdated. Darn that magic zero.

:smile:

I can submit a PR but I figure you may know best whether or not it's safe to bump without major change.

[2015-04-09 18:34] jonschlinkert commented on #21
lol, yeah that zero will bite you sometimes.

that would be great, thanks!

[2015-04-09 18:47] mattdesl commented on #21
Unfortunately it seems to break a few tests.

[code]

[2015-04-09 18:48] mattdesl commented on #21
With regex-cache@0.3.0 I still have 2 pending, but no failures:

[code]

[2015-04-09 18:54] jonschlinkert commented on #21
hmmm, this might be why I didn't merge lol. trying to remember. It's also possible that I changed the signature/args in some way. I can look into it, thanks for giving it a shot

[2015-04-14 18:35] sethkinast commented on #21
I believe https://github.com/jonschlinkert/is-equal-shallow/pull/1 is the cause of the failing tests.

[2015-04-14 21:09] doowb commented on #21
Fixed and bumped with latest dependencies.

[2015-04-14 21:09] #21 closed

[2015-04-16 23:54] es128 opened #23 "dot not properly escaped in expandFilename"
These should return `false`

[code]

With a directory in the pattern, it behaves correctly because the dot gets escaped
[code]

[2015-04-17 13:06] es128 opened #24 "Double globstar bug"
From paulmillr/chokidar#283

[code]

[2015-04-17 14:02] jonschlinkert commented on #24
working on this today

[2015-04-17 14:05] jonschlinkert commented on #23
I'm working on these patterns today. thanks for the detail, that helps

[2015-04-17 14:16] #19 closed

[2015-04-17 15:09] artem-malko commented on #24
Great. Will be waiting for fixes.

[2015-04-18 00:11] jonschlinkert opened #25 "re-organize tests"
unit tests and file names need to be organized differently to make it easier to test for regressions and new features.

[2015-04-18 23:38] #20 closed

[2015-04-18 23:38] #24 closed

[2015-04-18 23:41] #23 closed

[2015-04-18 23:45] jonschlinkert commented on #10
resolved by https://github.com/jonschlinkert/micromatch/commit/0136a0dea1b7effca2d06445f005b1dbafff6523

[2015-04-18 23:45] #10 closed

[2015-04-19 14:48] es128 opened #27 "Release 2.2.0"
Just trying to gather all the outstanding points discussed recently to be resolved prior to release. Anything is still open to discussion if there remains any disagreement about any of these points.

@jonschlinkert In the future if you want to do your changes in branches/PRs I'd be happy to review and I think it would make it easier to keep all feedback and resolution organized.

- [x] Ensure `ext

[2015-04-19 15:39] jonschlinkert commented on #27
sounds good to me, I really like the format you follow.

[2015-04-19 15:42] jonschlinkert commented on #27
also I have several fixes I'll be pushing up in a bit. the docs are getting a bit long, I might generate a basic gh-pages site at some point.

[2015-04-19 23:49] jonschlinkert commented on #27
@es128 what's the best way to get in touch outside of github? my email is on my profile if you want you to shoot me an email.

[2015-04-19 23:54] es128 commented on #27
@jonschlinkert sent

[2015-04-20 00:19] jonschlinkert commented on #27
replied! thanks

[2015-04-22 22:11] es128 commented on #6
Closing as this has been addressed.

@jonschlinkert feel free to reopen if you felt there was anything left to be done with this.

[2015-04-22 22:11] #6 closed

[2015-05-05 17:56] tunnckoCore commented on #27
erm, enabled? hm, when i read the whole readme i noticed that they are "undefined by default".

[2015-05-11 03:36] jonschlinkert commented on #27
@es128 sorry this is taking so long. I have a few fixes to push up to a brach that might get us 90% of the way there.

also, @doowb and I [created this](https://github.com/jonschlinkert/snapdragon) as an attempt at making this easier to maintain, but I don't know how the speed is comparatively yet. if you feel like playing around with it, feedback would be great!

[2015-05-11 04:02] tunnckoCore commented on #27
@jonschlinkert WOW! examples looks awesome! benchmarks need.

[2015-05-11 04:26] jonschlinkert commented on #27
thanks! it's a pretty fun project. @doowb and I have been wanting to create a project like that for a while. @doowb wrote some code for the parser stuff and had some awesome ideas for how parsers could be used by other parsers. we finally decided to just get it implemented.

is there a use case for having sourcemaps with glob patterns? lol:

[code]

[2015-05-11 04:28] jonschlinkert commented on #27
and fwiw, that's just one use case. I'd like to use snapdragon to refactor the parsers for braces, expand-brackets, extglob, parse-comments, etc.

[2015-05-11 07:11] tunnckoCore commented on #27
Yea, I also had some idea like that, but on per single character basis with some thin api on top like in snapdragon are `this.match()` and `this.position()` methods exposed. But it is more for css parsing.

But yea, looks pretty good and composable. Their codebase will look better definitely.

okey, that's offtopic, lol. gj

[2015-05-11 13:24] es128 commented on #27
@jonschlinkert no worries about the delay, I'm similarly tied up. I had just as much aspiration to tackle this checklist, didn't mean to just put it all on you.

Snapdragon looks like an awesome concept. Looking forward to seeing what can come of it.

[2015-05-23 11:43] tunnckoCore opened #31 "false on regex group matching"
with `is-match`

[code]

[2015-05-23 14:57] es128 commented on #31
Why'd you open the issue here instead of at is-match?

[2015-05-23 14:58] tunnckoCore commented on #31
cuz it is based on micromatch in that case. ^^

[2015-05-23 14:58] tunnckoCore commented on #31
https://github.com/jonschlinkert/is-match/blob/master/index.js#L29-L33

[2015-05-23 15:00] es128 commented on #31
Ok. But so, shouldn't your regex be an actual regex instead of a string?

[2015-05-23 15:03] tunnckoCore commented on #31
erm? with title i mean `regex matching group` functionality of micromatch.

https://github.com/jonschlinkert/micromatch#regex-character-classes
https://github.com/jonschlinkert/micromatch#regex-groups

[2015-05-23 15:05] es128 commented on #31
Ok yeah I get it now. Sorry for the noise

[2015-05-23 15:07] tunnckoCore commented on #31
@es128 no problem :)

[2015-05-23 16:04] jonschlinkert commented on #31
@tunnckoCore thanks will look into it. Can you tell me if it works if the numbers are letters? it might be a simple fix

[2015-05-23 16:39] tunnckoCore commented on #31
@jonschlinkert mm yea, this works

[code]

[2015-05-23 21:09] jonschlinkert commented on #31
so it does work with alpha but not numeric... Okay, that's probably a pretty simple fix.

[2015-05-23 21:14] jonschlinkert commented on #31
oh, wait I just realized something. you're technically using an invalid regex range in the character class (`[71-77]`).

this is still a bug, but it might be a different bug than I thought... in the meantime, here is what I suspect is happening. since you used `[a-z]` in the alpha example, and that happened to be a valid range, it worked. It might have been because it was alpha, but it might not.

[2015-05-23 21:16] jonschlinkert commented on #31
or... we just stay strict and make you use braces instead. try doing this:

[code]

[2015-05-23 21:23] jonschlinkert commented on #31
one more point of clarification, I don't mean that it's invalid regex, just that it's an invalid range. e.g. `[71-79]` will match, `7`, `1`, `-`, or `9`.

[2015-05-23 21:40] jonschlinkert commented on #31
var repeat = require('repeat-string');

function fill(val, num) {
  var str = String(val);
  var neg = str.charAt(0) === '-';
  var len = num - str.length;
  if (neg) {
    val = str.slice(1);
  }
  var res = repeat('0', len || 0) + val;
  return neg ? '-' + res : res;
}

function pad(a, b, len, step) {
  step = step || 1;
  var res = [];

  a = +a;
  b = +b;
  var des = a > b;
  var n = a;

  whi

[2015-05-23 22:21] tunnckoCore commented on #31
yea, I thought that will help, but what to ping you about that case ("bug"/wrong expectation), cuz it was strange to me. But when I think.. have logic, yea.

invalid? why? it's not invalid. but it's wrong to expect what I expected, lol.

[code]

[2015-05-23 22:24] tunnckoCore commented on #31
@jonschlinkert feel free to close ;]

[2015-05-23 23:58] jonschlinkert commented on #31
it is an invalid **regex range**, it's not "invalid" in an absolute sense: http://www.regular-expressions.info/numericranges.html. It just won't match what you're expecting as a range.

Example

[code]
Try

[code]

[2015-05-23 23:59] jonschlinkert commented on #31
k, I will go ahead and close because I think it makes more sense to just stick with regex rules.

[2015-05-23 23:59] #31 closed

[2015-05-24 00:27] tunnckoCore commented on #31
yea, yea, you're right. as i said my fault

[2015-05-24 02:25] jonschlinkert commented on #31
no prob!

[2015-05-28 13:34] es128 opened #32 "Issue with wildcard + negated extglob"
Using v2.1.6
[code]

Using master branch
[code]

Specifying `extglob: true` or  `extglob: false` does not appear to have any impact. When the `*` is removed before the `!` it behaves as I'd expect.

paulmillr/chokidar#58

[2015-05-28 13:35] es128 commented on #32
It's worth noting that minimatch doesn't fare any better

[code]

[2015-05-31 01:40] jonschlinkert commented on #32
sorry I don't know how I missed this! I'll look and see if this is an easy fix, if not I can try to speed things up with the parser refactor

[2015-06-12 20:53] jonschlinkert commented on #32
so, I finally got around to benchmarking the parser refactor (which uses snapdragon) against the current parser. It's still not finished, but the refactor is 20x faster! all that means is that it gives us breathing room to handle edge cases while still being fast. I'll report back when I have more info...

[2015-07-09 08:52] jonschlinkert commented on #27
@es128 I believe all of the above are checked off. please see: https://github.com/jonschlinkert/micromatch/tree/2.2.0 and publish when you're good with everything.

Regarding the `no*` options, I think it makes more sense to keep the `no*` options and drop the others, since there are a lot of options prefixed with `no*` in both bash and minimatch.

also I'm good with doing a 3.0 if you want. I'm s

[2015-07-09 16:58] es128 commented on #27
Awesome. Will try to take some time to review later today.

[2015-07-09 20:19] jonschlinkert commented on #27
thanks!

[2015-07-09 20:19] jonschlinkert commented on #27
and no rush...

[2015-07-10 13:11] es128 commented on #27
yes, cool. that appears to be the same thing I suggested in my checklist. good thing I left that there because my memory on all this has gotten very fuzzy

taking a look now

[2015-07-10 13:34] es128 commented on #27
What's the deal with the skipped test?

These are the assertions that fail

[code]

[2015-07-10 13:35] es128 commented on #27
It would appear in each case that the negation operator is applying to more than just the parens-separated section it was intended to apply to

[2015-07-10 17:46] jonschlinkert commented on #27
those tests are from the `extglob` spec. IMHO those shouldn't be expected to pass for this release to be published. micromatch already has better extglob support than minimatch, in the refactor I'm working on those cases are much easier to solve

[2015-07-10 17:51] jonschlinkert commented on #27
doh, and yeah you did say that about the `no*` options... for some reason I got it in my mind that you were saying the other way around

[2015-07-10 18:01] es128 commented on #27
Ok, so that just leaves the question of whether 2.2.0 or 3.0.0.

Based on a perusal of https://github.com/jonschlinkert/micromatch/compare/2.1.6...2.2.0 I don't see any previously published options being removed (they were added and removed without ever being published afaict). Taken with the passing unit tests (no significant tests removed or stopped working compared with before) - seems like 2.2

[2015-07-10 18:13] jonschlinkert commented on #27
:+1: sounds good. 2.2.0 is fine with me. I'll get it published

[2015-07-12 01:03] aleclarson commented on #32
:+1:

[2015-07-13 18:34] tunnckoCore commented on #32
WOW! That sound amazing!

[2015-07-13 18:42] tunnckoCore opened #34 "problem (not so) matching urls"
I realize that it is because of `filepaths globbing` idea, but it's uncomfortable when trying to match urls.

[code]

using `chorks/is-match#master` (waiting merge PR) which uses micromatch `v2.1.6`

Maybe Im missing some option? Or we should add some option? :D

[2015-07-13 19:06] jonschlinkert commented on #34
Do all of these work with minimatch? I'm thinking this is a great example of what I'd like to use middleware for in the refactor.

[2015-07-13 19:48] tunnckoCore commented on #34
Hm, i will try.

[2015-07-13 19:53] tunnckoCore commented on #34
@jonschlinkert yea, returns `true` for all except that (fourth from bottom to top)

[code]

[2015-07-13 19:58] jonschlinkert commented on #34
all we need to do is strip `https://` or whatever protocol it is from the path before testing it. really though I'm not sure it's something that minimatch or micromatch should do

[2015-07-13 20:00] tunnckoCore commented on #34
agreed, but it should be possible to compare things like that

[2015-07-13 20:13] es128 commented on #34
I don't think micromatch should start making special accomodations for this, but @tunnckoCore you could just use [`url.parse().pathname`](https://nodejs.org/api/url.html) to do glob-style matching against the url paths (and just compare hostnames directly if you need that too).

Although maybe what you really want is something more along the lines of a [client-side router](https://github.com/amper

[2015-07-13 20:41] jonschlinkert commented on #34
that's exactly what @doowb and I were thinking. I asked @doowb his opinion too, I wasn't sure - it seems like a nice to have

[2015-07-13 20:48] es128 commented on #34
I'd say if there is a need for such a thing (glob-style matching on urls) it should be done in a separate module. micromatch should not start down this road.

Then, if something like is-match wanted to support both simultaneously by using the two dependencies, it could.

[2015-07-13 20:54] tunnckoCore commented on #34
I dont know. Actually i won't use it for that and know that there is some ways to do it. But it appears from one usage example for `object.validate` that i'll push up in a bit and i was lil bit surprised, but then realized why is happening.

[2015-07-13 21:06] jonschlinkert commented on #34
k we can keep this in mind for a non-built-in middleware for the next version. closing since we all would probably rather see the next version than to add features now anyway

[2015-07-13 21:06] #34 closed

[2015-07-18 03:19] mathieumg opened #35 "Any with precompiled matcher"
Hi, great project!

Is there any way to compare against multiple globs (like in https://github.com/jonschlinkert/micromatch#any) but using a precompiled matcher (like in https://github.com/jonschlinkert/micromatch#matcher)?

Thank you!

[2015-07-18 06:24] jonschlinkert commented on #35
Agreed! seems like I've probably created what you describe on my own projects half a dozen times... this should definitely be added to the API.

thanks for the kind words

[2015-07-18 10:17] mathieumg commented on #35
:grin: Cool, thanks for the quick reply!

[2015-07-22 15:43] es128 commented on #27
ping

If you want me to go ahead and figure this out I could probably spare some time for it

[2015-07-22 17:52] jonschlinkert commented on #27
that would be awesome! thanks. I'm not 100% sure but I think all that needs to be handled is the merge conflicts with the readme. I'd be happy to generate the docs with verb and updated it once that's done.

[2015-07-22 22:53] es128 commented on #27
Yup that was it. I went ahead and cleared the conflict in the 2.2.0 branch, preserving the version of the readme that was already there. Took a quick look at the verb docs, but it wasn't immediately apparent how to regenerate the docs again to ensure they're up to date.

[2015-07-22 23:13] jonschlinkert commented on #27
great! no prob I can do the verb docs. I'll take a look in a bit

[2015-07-22 23:15] tunnckoCore commented on #27
when to expect refactored micromatch? im excited how it looks with snapdragon.

[2015-07-22 23:50] jonschlinkert commented on #27
ha, me too.. that pattern is so much cleaner and (so far) faster. fun too. I'm making progress... :)

[2015-07-23 01:21] jonschlinkert commented on #27
going to have to merge tomorrow. I'll do this first thing.

[2015-07-24 16:33] chimurai commented on #27
@jonschlinkert is v2.2.0 supposed to be backwards-compatible with v2.1.6?

I'm getting different behavior with default options:

v2.1.6
micromatch(['/api/foo/bar.html'], '**.*')
//=> ['/api/foo/bar.html']

v2.2.0
micromatch(['/api/foo/bar.html'], '**.*')
//=> []

Looking forward to future releases. Keep up the good work! :)

[2015-07-24 16:38] es128 commented on #27
@chimurai the semver minor bump indicates API backward compatibility, not necessarily matching behavior.

If you believe you've identified a bug or regression please open a separate issue about it.

[2015-07-24 16:39] es128 commented on #27
Closing since 2.2.0 has been published.

[2015-07-24 16:39] #27 closed

[2015-07-24 16:58] jonschlinkert commented on #27
I think micromatch should handle that example properly in 2.2.0. Paths that begin with `/` are absolute paths and should only be matched by globs that start with `/`... yeah definitely let us know if you find a bug with this release

[2015-07-24 16:58] jonschlinkert commented on #27
and thanks @es128!

[2015-07-24 21:45] chimurai opened #36 "regression v2.2.0"
Possible regression with default micromatch options. https://github.com/jonschlinkert/micromatch/issues/27#issuecomment-124574227

The first two examples don't match anymore after upgrading to v2.2.0.
Looks like it doesn't match when pattern starts with globstar (`**`) and no slashes (`/`) are present in the pattern.

*v2.2.0*
[code]

*v2.1.6*
[code]

[2015-07-24 21:50] jonschlinkert commented on #36
see https://github.com/jonschlinkert/micromatch/issues/27#issuecomment-124578854. all of those results look correct to me

[2015-07-24 22:19] chimurai commented on #36
Ah... so I've been using the pattern incorrectly.
Thanks for the clarification!

Closing the issue.

[2015-07-24 22:19] #36 closed

[2015-07-24 22:47] jonschlinkert commented on #36
no prob, thank you for creating the issue. there are probably others wondering as well!

[2015-08-01 21:41] jonschlinkert commented on #32
@es128 okay, I finally got around to improving extglob support, and I looked into this issue specifically, and believe you're getting the correct result.

This is because the `*` just before the negation pattern is greedy, so it's matching the pattern before it's negated. However, if you try using a less greed character, it should work.

Example:

[code]

[2015-08-01 21:42] jonschlinkert commented on #25
this isn't a priority. closing

[2015-08-01 21:42] #25 closed

[2015-08-03 15:51] es128 commented on #32
I'm a little confused by your last response - the example in the end in particular since it seems to contradict the rest of what you're saying. Also, I get `true` when I try it on the 2.3.0 PR.

But anyway, so if this is correct glob behavior because the wildcard is greedy, then what would be the proper way to achieve the goal of excluding files that match a specific substring in part of their nam

[2015-08-03 17:05] jonschlinkert commented on #32
bah, my fault. I made you confused with my example. I must have had stars on my mind. the star in the code block should be a dot:

[code]

sorry about that

[2015-08-03 17:08] jonschlinkert commented on #32
I think/hope so lol. I'm trying to get there with extglobs, negation in particular is difficult. Your best bet is to try using characters that are less greedy or more specific than `*`. Or try using `*?` instead of `*?` (I didn't test that yet... so I'm not sure).

[2015-08-03 17:25] es128 commented on #32
Neither `.` nor `*?` seem to address this use case. Tried playing with variations of bracket expressions and extglobs, but haven't found anything that cuts it (assuming the name before `_test` is variable-length).

[2015-08-03 19:22] jonschlinkert commented on #32
really? hmm, did you try `.` with pr for 2.3.0?

[2015-08-03 19:25] jonschlinkert commented on #32
here is what I get with the 2.3.0 code:

[code]

[2015-08-03 20:30] es128 commented on #32
right so if `.` was doing its job shouldn't the second example yield `true`?

[2015-08-03 20:34] es128 commented on #32
`.` just generally does not appear to the same meaning as it would it a regex - perhaps it needs to be wrapped in parens or something to work the way you were referring to? But then still, it isn't doing the trick for the notion of excluding `_test` files.

[code]

[2015-08-04 00:24] jonschlinkert commented on #32
you're right about the `.`. I spent so much time on extglob today I can't remember when or what patterns I tried earlier. in my last example, it appears that only the third example is correct, do I have that right? (I've heard that grade school teachers sometimes forget how to spell words from grading papers with mistakes so often lol. I'm starting to get cross-eyed looking at these today)

[2015-08-04 00:34] es128 commented on #32
Haha - take a break and uncross your eyes :)

From the examples you provided, the first shows the result I'd expect, not the third. The idea was to match all the js files except those with `_test` at the end of the name.

[2015-08-04 13:12] masakura opened #38 "Dot directory and {* /} combination is not working"
Dot directory and {* /} combination is not working

Start dot directory, failed.

[code]

Start not dot directory, success.

[code]

[2015-08-04 17:35] jonschlinkert commented on #38
thanks for reporting, marking as a bug

[2015-08-12 12:31] aleclarson opened #39 "Double globstar does not play well with backslashes"
This seems to be a bug.

[code]

&nbsp;

Everything works great if a `/` is nowhere in the string; as seen below.

[code]

&nbsp;

Using `**/*.js` instead is a workaround.

[code]

&nbsp;

NodeJS v0.12.4
micromatch v2.2.0

[2015-08-12 13:09] es128 commented on #39
You're showing slashes, not backslashes, throughout your example, but perhaps it doesn't make a difference.

`**.js` isn't really the way globstar is intended to to be used, and I think double-asterisk gets collapsed to single when it isn't alone as a path part (meaning it should be expanded to n-depth subdirectories).

So given that, this does not look like a bug. In each case of what you're desc

[2015-08-12 13:09] #39 closed

[2015-08-19 14:28] tconroy commented on #38
Status on this issue?

[2015-08-19 14:45] jonschlinkert commented on #38
I'm working on the next version of this and got sidetracked and forgot to come back to this. sorry I'll try to take a look today.

[2015-08-19 14:48] tconroy commented on #38
No worries, thank you for your hard work :)

[2015-09-21 14:14] callumlocke commented on #38
I see a bunch of commits... Can this be closed now?

[2015-09-21 19:09] jonschlinkert commented on #38
I think I just need to publish 0.2.3. sorry for the delay, it's on my priority list for today

[2015-09-23 20:06] callumlocke opened #40 "What is the difference between matcher and filter?"
This might be a documentation issue, or maybe I'm being stupid.

The readme says that [.matcher(pattern)](https://github.com/jonschlinkert/micromatch#matcher) gets you a function that you can use to match paths. I'm assuming this means it returns true/false, in which case it sounds like it could be used as an array filter function.

But then there seems to be another method for this exact purpose,

[2015-09-23 20:21] es128 commented on #40
I can't speak to why both needed to be provided in the API, but here's the difference as far as I can tell:

`filter` works with one or more glob patterns.

`matcher` works with one criterion (not an array) and allows regexes and functions as well as glob patterns as the input.

[2015-09-23 20:48] jonschlinkert commented on #40
Yeah, the differences that @es128 pointed out are correct, but I've thought about removing filter. Maybe we can allow `matcher` to handle multiple patterns, and get rid of filter next time we make major changes

[2015-09-23 21:01] callumlocke commented on #40
That sounds good, less confusing.

In the mean time, do I understand correctly that `mm.filter(x)(filename)` should always work identically to `mm(x, filename)`, no matter what `x` is?

[2015-09-23 21:20] jonschlinkert commented on #40
What's the use case? might be easier to give good feedback based on what you're trying to accomplish.

[2015-09-23 21:31] callumlocke commented on #40
The `mm()` function works like this:

Does the function I get back from `mm.filter(x)` have that same behaviour (i.e. it can either be inclusive or exclusive, depending on whether `x` is an array or a string)?

[2015-09-23 23:11] jonschlinkert commented on #40
it should, yes. see [these unit tests](https://github.com/jonschlinkert/micromatch/blob/master/test/filter.js#L43-L58) for examples

[2015-09-23 23:12] jonschlinkert commented on #40
closing since it's not technically an issue. feel free to continue the conversation or open a new issue if a new topic pops up

[2015-09-23 23:12] #40 closed

[2015-10-08 13:30] bdecarne opened #41 "Directory begin with dot"
Hi !

Strange behavior since 2.2.0 :

[code]

in 2.1.6 :

[code]

Is that normal ?

Thx

[2015-10-08 13:32] bdecarne commented on #41
Grr sorry, duplicate : #38

[2015-10-08 13:32] #41 closed

[2015-10-13 22:57] zackehh opened #42 "Issue when using negations against /'s"
This might just be me being stupid, but I want to check :)

Can someone please clarify the state of these two globs? Afaik they should both match?

[code]

I'm not too familiar with globs so maybe I'm missing something. I guess the potential to have a `/...` after is throwing it off?

`mm.any('/target/build/classes', ['!/target/dist'])` matches too, but in my use case the `/target/` prefix might b

[2015-10-13 23:29] jonschlinkert commented on #42
looks like `mm.any('/target/build', ['/target/!(dist)'])` should match, but I think `mm.any('/target/build/classes', ['/target/!(dist)'])` should not.  I'm pretty sure the latter should work if you do:

[code]

So I think that's right. Let me know if that works

[2015-10-13 23:54] zackehh commented on #42
@jonschlinkert perfect, the tip on the `**` is exactly what I needed. It works perfectly, thanks for your help!

[2015-10-13 23:55] #42 closed

[2015-10-14 01:39] jonschlinkert commented on #42
glad it worked! happy to help

[2015-11-08 06:40] UltCombo opened #45 "Does not handle `+` properly"
Test case:

[code]

Actual: `false`
Expected: `true`

Tested with micromatch@2.2.0.

[2015-11-08 08:01] jonschlinkert commented on #45
thanks for reporting. I'll look into it asap

[2015-11-08 14:59] jonschlinkert commented on #45
this should be a pretty simple fix. basically `+` is recognized as a regex character, so it's trying to match _one or more `e` characters_, but we need it to match a literal `+` instead. I'll get a patch pushed up.

[2015-11-09 04:01] UltCombo commented on #45
That makes sense. Though, as far as I can see, the `+` character is properly listed in the [`chars.escapeRegex`](https://github.com/jonschlinkert/micromatch/blob/5017fd78202e04c684cc31d3c2fb1f469ea222ff/lib/chars.js#L17). I'm not familiar enough with this code base to know what is going wrong.

[2015-11-09 05:38] #38 closed

[2015-11-09 05:57] jonschlinkert commented on #45
no worries, I'll track it down. I'm pretty sure I know where it is. that character is used in both extglobs and brace expansion - but, neither would be causing this issue since they match fairly specific patterns.

if you have any more ideas for test cases I can add to the unit tests, that would be great.

[2015-11-09 06:20] jonschlinkert commented on #45
@UltCombo could you try your test case against [this patch](https://github.com/jonschlinkert/micromatch/tree/issue-45-plus-literal) and see if that works for you?

[2015-11-09 08:53] phun-ky opened #46 "Travis Error: Failed resolving git HEAD (https://github.com/jonschlinkert/micromatch"
Just got this error in our Travis build, it's a subdependency (karma - anymatch - micromatch )

    npm ERR! Failed resolving git HEAD (https://github.com/jonschlinkert/micromatch) fatal: ambiguous argument '2.3.0': unknown revision or path not in the working tree.

    npm ERR! Failed resolving git HEAD (https://github.com/jonschlinkert/micromatch) Use '--' to separate paths from revisions, like

[2015-11-09 12:39] UltCombo commented on #45
Oh nice, I'll try it tonight. :smile:

[2015-11-09 13:45] es128 commented on #46
Is the issue resolved now, or can you still reproduce it with a new build?

[2015-11-09 17:07] phun-ky commented on #46
I've still got the issue reproduced on Travis 24 minutes ago

[2015-11-09 17:08] es128 commented on #46
Is it a public project you can link to?

[2015-11-09 17:32] jonschlinkert commented on #46
yeah any additional info would be great. I'm not sure how to reproduce

[2015-11-09 17:52] jonschlinkert commented on #46
I know what's causing it. something is hard-wired to use a git branch that I removed when I merged - it's now restored. seems like a good argument for not deleting git branches for versions.

did this resolve the issue for you?

[2015-11-09 18:19] es128 commented on #46
@phun-ky to be clear, if this is the case, you really should replace the direct git reference with a regular npm registry install at this point. If you're going to override npm and install directly from git you have to take responsibility for maintaining that within your project.

[2015-11-09 19:21] phun-ky commented on #46
It's probably the case, but not from my side, I don't use direct git reference to micromatch in my project. It's not a public one, so I can't give more information. I believe it comes from karma -> anymatch (anymatch depends on micromatch).

Will keep you up to date

[2015-11-09 19:23] es128 commented on #46
anymatch is mine - it does not use a git reference

[2015-11-09 20:25] phun-ky commented on #46
hm, will try to force a npm clean cache

[2015-11-09 21:38] phun-ky commented on #46
It's fixed now, `npm cache clean` did the trick!

[2015-11-09 21:38] #46 closed

[2015-11-09 21:40] es128 commented on #46
Good to hear. Thanks for letting us know.

[2015-11-10 01:01] jonschlinkert commented on #46
great! glad it's resolved

[2015-11-10 01:53] jonschlinkert commented on #32
In all the times I looked at this, I never noticed that you're trying to (not) match `_test` to `c_test` in the examples. I think `c_test` was supposed to be `c/_test` or something like that, right?

Try the following:

[code]

[2015-11-10 02:14] es128 commented on #32
Hmm. No, the goal is to match all the files of a certain type *except* those that match a particular substring in the filename. Not supposed to have a path separator in between.

This is for the sake of a popular angular convention that puts test files alongside application code instead of away in their own dir.

It's kind of like a regex negative lookahead.

[2015-11-10 02:25] UltCombo commented on #45
Works great, thanks for the quick fix! :smile_cat:

[2015-11-10 02:32] jonschlinkert commented on #45
great! no problem of course, I appreciate you creating an issue. I'll get a patch pushed up shortly

[2015-11-10 02:39] jonschlinkert commented on #32
Got it. Here is another example:

[code]
Right?

[2015-11-10 03:33] es128 commented on #32
Yup, it's showing expected behavior. But the original problem case was with the wildcard to the immediate left of the negated section.

[2015-11-10 03:47] jonschlinkert commented on #32
yeah the `*` should have been after the pattern. like sounds like this can be closed.

[2015-11-10 03:48] jonschlinkert commented on #32
or wait, were you saying that the `*` should be before the pattern? sorry wasn't trying to dismiss

[2015-11-10 03:52] es128 commented on #32
I'm not sure it's actually ready to be closed. I'll try a few examples tomorrow against the latest micromatch code and report back.

The goal is a pattern that would match `a/b.js` and `a/b_foo.js`, but not `a/b_test.js` nor `a/b.html`

[2015-11-10 04:15] jonschlinkert commented on #32
sounds good

[2015-11-10 04:20] jonschlinkert commented on #32
fwiw

[code]

[2015-11-10 04:27] es128 commented on #32
Seems right, so yeah maybe it was just a matter of putting the `*` at the end *just like it would be with a regex negative lookahead*. It just may feel a little unintuitive to users because to negate a suffix it has to be put in front.

Does it still behave as expected if the pattern is just `a/!(_test)*.js`?

[2015-11-10 04:31] jonschlinkert commented on #32
I agree, but this is following regex and bash conventions to the best of my knowledge.

I was about to say "yes", but what would do you think the expected matches would be lol?

[2015-11-10 04:33] #45 closed

[2015-11-10 04:33] es128 commented on #32
Same 2 as before plus `a/a_foo.js`

[2015-11-10 04:34] jonschlinkert commented on #32
k I'll check

[2015-11-10 04:38] jonschlinkert commented on #32
actually IMO the correct result would yield everything but `a/b.html` since `!` does not signify a character. Let me try something

[2015-11-10 04:41] jonschlinkert commented on #32
Adding `?` achieves what you want. This is what I expected:

[code]

[2015-11-10 04:43] es128 commented on #32
I'm good with that. Thanks!

[2015-11-10 04:43] #32 closed

[2015-11-10 04:45] jonschlinkert commented on #32
awesome! no problem.

[2015-11-10 04:52] jonschlinkert opened #47 "2.3.6 housekeeping"
for starters...

- replace gulp-jshint with gulp-eslint
- lint (I expect this to result in a bunch of small changes since we'll be using a much more stringent linting config)

I'm planning on doing this in the next patch. anything to add @es128?

[2015-11-10 04:56] es128 commented on #47
* review minimatch options object, ensure as much parity as possible

(I'm not aware of any gaps, but related to the glob-stream PR it could probably use a once-over to be safe)

[2015-11-10 04:57] jonschlinkert commented on #47
good idea

[2015-11-10 05:01] jonschlinkert commented on #32
oh, here is an example of something I forgot about, but might be more useful for the use case you mentioned:

[code]

Since `?` matches either 1 or 0, using `?` on the above would also match `a.`, which is correct.  But to match a single character - one and one only - you could also use regex ranges, like `[a-z]` etc

[2015-11-10 05:04] jonschlinkert commented on #47
and thanks for that doing that pr, regardless of whether they decide on merging I appreciate it!

[2015-11-10 05:06] es128 commented on #32
Oh, well what we really wanted was to match one or more characters, which is what I thought the `*` was accomplishing. Like `feature.js` and `feature_test.js`. Does the solution with `?` not work there?

[2015-11-10 05:38] jonschlinkert commented on #32
here is a longer example, with results from both minimatch and micromatch. (micromatch's results are correct).

[code]

**micromatch**

Since we excluded `.a` in the extglob, any pattern with `.a` directly following that negation should not be included in the result array:

[code]

**minimatch**

Minimatch incorrectly matches `a.a` as well as `.b` and `.c` which were also negated.

[code]

not sur

[2015-11-14 21:53] TrySound opened #48 "array of globs for matcher"
Public api should also accept precompiled array of globs for matcher like filter. API parts should be similar, I think.

[2015-11-14 22:02] jonschlinkert commented on #48
agreed, this would be good to have. related https://github.com/jonschlinkert/micromatch/issues/35

Meaning most or all methods should handle arrays of patterns? I'd have to think about that. There are many use cases for singular glob patterns, and when the function is optimized for a single pattern it's going to be faster.

[2015-11-14 22:18] TrySound commented on #48
Maybe need to make two versions of methods. Like filter<->filters, matcher<->matchers

[2015-11-18 11:12] julien-f commented on #35
My basic implementation which can serve as a base https://gist.github.com/julien-f/5b9a3537eb82a34b04e2 :)

[2015-11-24 04:01] tunnckoCore commented on #32
@jonschlinkert all that is awesome, but.. BUT.  Why results not includes `a.`?

[2015-11-24 04:29] jonschlinkert commented on #32
Because `[a-f]` does not have a dot in it ;)

[2015-11-24 22:51] tunnckoCore commented on #32
So.. in that logic, then the results should be empty array, cuz every of the current results have the dot lol?

[2015-11-25 03:02] jonschlinkert commented on #32
close, but `a.` and `d.` wouldn't be in the results, since there needs to be at least one `[a-f]` character after the dot.

if we change the pattern to `'?!(*.a|*.b|*.c)[a-f.]'`, it would capture both `a.` and `d.`

[2015-11-25 18:46] es128 opened #49 "Problems with $"
[code]

https://github.com/paulmillr/chokidar/issues/357

[2015-11-25 21:02] jonschlinkert commented on #49
yeah that's a bug. thanks for reporting

[2015-11-25 21:13] #49 closed

[2015-11-25 21:17] jonschlinkert commented on #49
should be fixed.

[2015-11-26 09:30] tunnckoCore commented on #32
Hmm.. I think it's confusing, why after the dot?
But okey, maybe problem is on my side :)

[2015-11-26 18:51] jonschlinkert commented on #32
yeah it is kind of confusing. I think it's right but what you're saying makes sense too, when I get a chance I'll paste the expanded regex that micromatch creates from the pattern so we can see what's happening.

[2015-11-26 19:37] es128 commented on #32
I think the moral of the story is that globbing has its limits, and there comes a level of complexity where the right tool for the job is multiple globs (positive plus negated) or just writing a custom regular expression.

Actually it might be a pretty cool feature if there were an option to embed regex syntax into the glob for particular path parts.

[2015-11-27 01:13] tunnckoCore commented on #32
Why not just allow regexes instead of digging around string complexity and thinking new ways to do regexes with strings?

[2015-11-27 03:57] es128 commented on #32
Regexes *are* allowed. But writing them by hand as well as micromatch does for paths would be hard. Allowing regex syntax within a particular path section could be powerful for some specific circumstances like the one discussed in this thread. Not a necessity or a high priority, just an idea.

[2015-11-27 04:01] jonschlinkert commented on #32
I wouldn't mind continuing this discussion, at least until I'm 100% confident that I'm right. It might seem like we're trying to do regex-ish stuff since extglob borrows from regex, but the examples we're discussing here are extglobs  and they should work as expected for extglobs.

agreed, micromatch already allows you to pass a regex instead of a glob string (hmm, after writing this I'll go look

[2015-11-27 04:02] jonschlinkert commented on #32
yeah, but it would be pretty nice to have :)

[2015-11-27 04:04] jonschlinkert commented on #32
and I just noticed @es128's "right tool for the job" comment! maybe that's what put that in my head when I was writing lol

[2015-11-27 04:13] es128 commented on #32
I'll suggest triple-slash `///` for an embedded regex delimiter. Less likely to clash with anything else than any other arbitrary set of characters, a bit closer to traditional regex syntax, and has some precedent in coffeescript (albeit used for a different purpose there)

[2015-11-27 05:36] jonschlinkert commented on #32
I'm not so sure. I don't know how common it is to improperly join paths and/or incorrectly convert from windows paths to unix, but I've seen `\\\\` and `//` lots of times. Also, what if a user wanted to lead or follow the regex with an actual path slash (especially on windows)? You'd have patterns like `foo////bar////`.  It seems a lot safer to use an illegal character as the delimiter. Maybe `#`?

[2015-12-07 07:19] jonschlinkert commented on #35
related https://github.com/jonschlinkert/micromatch/issues/48

[2015-12-07 07:19] jonschlinkert commented on #35
@julien-f thanks!

[2015-12-07 07:25] jonschlinkert commented on #48
@TrySound is the expectation that **any** of the patterns can match, not **all**? if so I think this is a dupe of #35.

However, today I was doing something where I wanted to use an array of patterns and have **all** of them match (I was building up the array programmatically), so I just wanted to confirm. If it's the latter, we can just clarify the issue title

[2015-12-07 07:38] TrySound commented on #48
@jonschlinkert Yep. It's related.

[2015-12-07 14:29] jonschlinkert commented on #48
thanks, closing as a dupe

[2015-12-07 14:29] #48 closed

[2015-12-08 17:12] bcoe opened #52 "seeing utils.isGlob error with versions of micromatch > 2.3.1"
Note, this error does not occur with `2.1.6`, but has occurred since `2.3.1`:

[code]

[2015-12-08 18:25] doowb commented on #52
@bcoe do you have a script that reproduces this? I pulled down `nyc` and tried running the tests on the `improve-exclude` branch with the latest `micromatch` and all the tests pass.

[2015-12-08 18:41] jonschlinkert commented on #52
hmm, I just pulled down and wasn't able to reproduce either.

<img width="450" alt="screen shot 2015-12-08 at 1 38 00 pm" src="https://cloud.githubusercontent.com/assets/383994/11664663/fa14aef8-9db0-11e5-8c71-b20cdee6d13f.png">

@bcoe / @doowb what version of npm are you on? I'm using latest

[2015-12-08 19:40] es128 commented on #52
I tried with node v0.12.7 & npm v2.11.3. Tests pass on the `improve-exclude` branch both before and after installing `micromatch@latest`.

However, I *was* able to reproduce similar errors by forcing lazy-cache down to 0.2.1. Not that npm should allow that to happen, but I'm guessing somehow it did.

Suggest publishing lazy-cache as 1.0.0 and using bumping the version here to prevent the possibili

[2015-12-08 21:29] bcoe commented on #52
@jonschlinkert It's weird, tests pass when I install latest, but when I:

`npm link` inside nyc.

and then

`npm link nyc` inside one of the libraries I'm instrumenting, I get this `isGlob` error.

[2015-12-08 21:40] bcoe commented on #52
It's interesting, when I traverse into the `node_modules/micromatch` folder post install, the plugin infrastructure seems to not be working great for me:

[code]

[code]

[2015-12-08 22:11] jonschlinkert commented on #52
Hmm, I'll keep digging into it. any more info would be great.

I'm not sure if this is related yet, but we're getting a similar error for a different lib with the latest npm, but it doesn't use lazy-cache.

not a bad idea. I have a bunch of linting changes to push up (from switching to eslint). I'll do that at the same time since it should just be a patch

[2015-12-08 22:30] doowb commented on #52
@bcoe I just had an issue with "missing modules" and there was a fix published in `npm@3.5.2` (which is the latest.

Another thing to look at is, lazy-cache defers "requiring" modules until they're used. The modules are added as non-enumerable "getters" so the above code is only showing the utils functions that were manually added in `micromatch`. If you do this in the node repl you should see `[F

[2015-12-08 22:30] bcoe commented on #52
@jonschlinkert if you:

1. clone `nyc` and `yargs`.
2. inside `nyc` install the latest tag of micromatch.
3. inside `nyc`, `npm link`.
4. inside `yargs`, `npm link yargs`.
5. inside `yargs` run `npm test` you should get an exception.

[2015-12-08 22:32] bcoe commented on #52
@doowb that would make sense, I didn't realize that `lazy-cache` was overriding the require hook -- was this added in the `lazy-cache` post `2.1.6` of `micromatch`?

[2015-12-08 22:35] doowb commented on #52
It's not overriding a require hook. It's just creating a "getter" that calls `require` later.

[2015-12-08 22:57] jonschlinkert commented on #47
@es128 I just pushed up 2.3.6. It's just a patch - the vast majority of changes are whitespace or similar things from switching to eslint. fortunately that only needs to be done once.

also included in the patch:

- bumps lazy-cache to 1.0. There were no API changes in lazy-cache, we just bumped to per https://github.com/jonschlinkert/micromatch/issues/52
- documentation updates

Once you review,

[2015-12-08 23:10] jonschlinkert commented on #52
@bcoe we're still trying to figure this out. in the meantime let us know if you have any suggestions or think there is something on our side we can do to fix this.

@doowb I made properties enumerable in 0.2.5 of lazy-cache.

Also, fwiw lazy-cache is really doing the equivalent of:

[code]
But instead of returning functions lazy-cache returns getters to make the syntax nicer to work with. e.g. `fo

[2015-12-08 23:13] doowb commented on #52
@bcoe I can confirm that I get that error when following the instructions above.

When I do the following from `yargs`, `micromatch` works fine though:

![image](https://cloud.githubusercontent.com/assets/995160/11671100/d3aab2bc-9dd3-11e5-8975-8f430d915b36.png)

From digging in a little more:

 - `micromatch` is using `lazy-cache` to defer requiring modules until they're used.
 - `nyc` adds a req

[2015-12-08 23:38] jonschlinkert commented on #52
we can expose an option/method/property on lazy-cache to immediately `require` ("unlazy") all of dependencies.  then we would expose that as an option in consuming libraries like micromatch when it makes sense (like `{cache: false}` or something)

thoughts?

[2015-12-09 00:22] bcoe commented on #52
@jonschlinkert I like this idea, and wow you moved fast looking at the commits now -- I'll test the option now.

[2015-12-09 00:40] bcoe commented on #52
@jonschlinkert @doowb I've confirmed that the `unlazy` option works :+1: great work.

[2015-12-09 02:48] jonschlinkert commented on #52
great! we'll get a patch up asap

[2015-12-09 05:33] doowb commented on #52
@bcoe See PR #54

This adds an `.unlazy` method so you can update [this line](https://github.com/bcoe/nyc/blob/improve-exclude/index.js#L5) in `nyc` to `var micromatch = require('micromatch').unlazy()` and all the dependencies will be required immediately.

[2015-12-09 07:07] jonschlinkert commented on #52
@bcoe, we've spent a lot of time discussing this and I'd like to propose that we implement a "kill switch" in lazy cache that forces all dependencies to be required immediately when `process.env.UNLAZY = true` is defined.

I'm not a big fan of hanging a property off of `process.env`, but this seems like a good use case as it ensures that it will always work, regardless of what implementors decided

[2015-12-09 07:10] jonschlinkert commented on #52
here is the code I described above: https://github.com/jonschlinkert/lazy-cache/blob/0.2.7/index.js#L24-L27

[2015-12-09 07:56] bcoe commented on #52
@jonschlinkert I have no objection to this, but I'm happy to use the `option` inside of `nyc` itself -- one thing we do in `nyc` which might be worth copying, we prefix the environment variables we pass around:

e.g., `process.env.NYC_CWD`, it might be worth copying this conventions.

[2015-12-09 08:28] jonschlinkert commented on #52
good idea, I've not published code with environment variables before, that's good advice. thx

We'll keep the option as well. I should have mentioned that the branch I linked to is back-versioned to 0.2.7 since we're considering making a patch to allow earlier versions to use the environmental variable patch if necessary.

That said, the other reason I'm in favor of the environmental variable is t

[2015-12-09 16:54] doowb commented on #52
We've allowed dynamic "namespacing" in other modules. This might be a good idea with `lazy-cache` to allow setting the prefix of the environment variable. This will allow more granular control over the "kill switch" and users of libraries will be able to turn off lazy caching just for that library through an environment variable like `process.env.MICROMATCH_UNLAZY`.

We can still have a global set

[2015-12-09 17:40] jonschlinkert commented on #52
hmm, interesting. my first reaction was that it would be overkill. but I can see how that could be pretty useful.

agreed. it doesn't need any now and I'd start ripping it out of everything if it did. Hopefully it doesn't come to that, the performance benefits are worth a bit of a battle, but there are limits :)

[2015-12-09 18:20] es128 commented on #52
Regardless of all these improvements being planned, seems like in this particular case that is-glob is so likely to be used with any invocation of micromatch that it would be better to load that one with the regular `require`.

[2015-12-09 19:38] jonschlinkert commented on #52
I don't think it has anything to do with is-glob though. My guess is that `is-glob` just happens to be the first "lazy" property on `utils` that gets called, and it also happens to be a module dependency.

This is also an edge case. IMHO the `process.env` solution is looking like a great way to go, since it resolves this issue in a not-too-unusual way for the usage scenario without having to chang

[2015-12-09 20:03] es128 commented on #52
It does sound fine, but I'm bringing up something that is tangential and you haven't quite addressed in your response. Is there any common usage of `minimatch` that does not involve `is-glob`? If not, what is gained by loading it lazily?

In contrast, lazy loading makes total sense for all the other extensions that may or may not be used, and I have no concerns to raise with the solutions to this

[2015-12-09 23:22] jonschlinkert commented on #52
wanted to mention first that I was completely wrong about the webpack stuff.  @doowb brought it up so I went and looked through their code and messed around with it a bit, it's not related in the slightest to this issue (or micromatch)

Probably not, and being a micro-lib it has a minute impact on init load times, we could probably go either way with it. I'm just a creature of habit and tend to li

[2015-12-09 23:38] es128 commented on #52
Yep I understand the problems with `require`'s slowness, and your reasoning does make sense.

But there are some cons to go with those pros. One, which this thread is all about, is a new opportunity for edge cases. But another that I'm not sure you've thought about, is that there may be cases - particularly in production environment - where deferring the module latency from startup to runtime may

[2015-12-09 23:48] jonschlinkert commented on #52
I agree, this makes sense all around

IMHO this is a good example of why micro-libs are an ideal use case for lazy-caching. gotta run but these are good things to think about, thank you!

[2015-12-16 23:01] jonschlinkert commented on #47
@es128 I'm like to go ahead and merge this unless you have any last minute objects

[2015-12-16 23:27] es128 commented on #47
It was already merged last week I thought

[2015-12-16 23:30] jonschlinkert commented on #47
I meant publish, sorry for confusion. I think it's still at 2.3.5, I have a Board meeting but will be able to look in about an hour or so.

[2015-12-16 23:43] es128 commented on #47
No objections. Go ahead and publish at will.

[2015-12-19 13:05] fazo96 opened #55 "Doesn't work in webpack"
Webpack can't build this because it has requires that can't be resolved statically (without executing the code)

The problem is of course in https://github.com/jonschlinkert/micromatch/blob/master/lib/utils.js

This makes micromatch not a drop in replacement in environments where webpack is used.

I know this sounds like a harsh critique, but just wanted to let you know about the issue :+1:

[2015-12-19 22:19] jonschlinkert commented on #55
We've already created an issue on webpack and have discussed this at length elsewhere. I don't expect a solution there anytime soon given that there are 490 other issues.

Webpack requires custom plugins and loaders to work in many scenarios, this is no different.

I think @doowb was working on a webpack loader that might help with this, we can link it here if/when that's published.

[2015-12-19 23:09] jonschlinkert commented on #55
I've unlazied micromatch, so this should be fixed.

although I still think this is a bug or limitation in webpack, it's just impossible to keep up with the number of webpack users who wouldn't have any way of knowing that.

[2015-12-19 23:09] #55 closed

[2015-12-19 23:10] jonschlinkert commented on #47
done

[2015-12-19 23:10] #47 closed

[2015-12-19 23:10] jonschlinkert commented on #52
fixed by https://github.com/jonschlinkert/micromatch/commit/30655d15ee97161743e60c311482fcf92c9ddaec

[2015-12-19 23:10] #52 closed

[2016-01-31 23:56] jonschlinkert opened #56 "docs: add `options.nonegate` to readme"

[2016-03-30 01:21] MartinKolarik opened #58 "Partial matching"
When implementing a glob-walker, it'd be useful if we were able to tell that files in a specific directory will never match the pattern, without trying to match all of them.

E.g., with a pattern `aaa/{bbb,ccc}/**/*.js`, we could immediately discard folder `aaa/ddd`, without listing and matching everything inside, which would greatly reduce the number of fs operations.

I tried to implement a flag

[2016-03-30 02:10] jonschlinkert commented on #58
maybe try this:

- get the glob parent, which in your example is `aaa/`
- join it to cwd and make it an absolute path to get the starting point for `fs.readdir`
- expand brace pattern in the glob
- split the rest of the pattern by slashes (make sure braces are expanded first, since they might contain slashes)
- each time you recurse into a directory
    1. shift off a pattern segment and join it t

[2016-03-30 14:02] es128 commented on #58
@MartinKolarik chokidar carries code that splits apart and compares the segments of the pattern and the dir paths in order to decide whether to traverse into a directory or not: https://github.com/paulmillr/chokidar/blob/master/index.js#L409-L419

Maybe there would be some value in extracting this determination into a new method here or a micro-lib that determines whether or not there is any possi

[2016-03-30 14:45] MartinKolarik commented on #58
@es128 unfortunately that code is very simple and fails in certain situation, as it relies on splitting the path by `/`. E.g. `{bbb,xxx/yyy}` will be incorrectly split into `[ '{bbb,xxx', 'yyy}' ]`. It might be an edge case, but I'm looking into adding this optimization to micromatch without restricting any of its functionality.

Doing some regexp transformation magic I got to a point where it wor

[2016-03-30 16:07] es128 commented on #58
@MartinKolaric ok, that makes sense

[2016-03-30 18:12] jonschlinkert commented on #58
yeah this is why I suggested expanding brace patterns first. that said, I don't think this belong here. Specifically because in order to do it correctly, we would need to use fs methods.

I think creating a microlib like @es128 suggested would be a good solution. feel free to ask questions here still if you want feedback

[2016-03-30 19:24] MartinKolarik commented on #58
Why's that? I'm talking about a function that takes a path and a pattern and determines whether it's possible for the path to have children matching the pattern. Whether any children or the path itself exist doesn't matter.

[2016-03-30 19:52] jonschlinkert commented on #58
Okay, then I assume you would have all of the file paths up front already? Even so, you would need to know the difference between a non-directory path and a directory path in order to predict which might possibly have child directories. Meaning that `foo/readme.md` can't have child directories because it's a file. I don't think there is a reliable way to do that without using fs methods - again, u

[2016-03-30 20:16] MartinKolarik commented on #58
Yes, but that should be handled in the glob implementation, not in the matcher itself. Usage example:
 1. list content of a directory
 2. call `mightMatch()` for each entry
 3. discard all entries that won't ever match the pattern
 4. for each remaining entry, check whether it's a directory or a file
    - if directory, go to step 1
    - if file, check if it matches the exact pattern and do whate

[2016-03-30 21:06] jonschlinkert commented on #58
This is the part that I think I might be stuck on. In order to do this with any confidence, we need to figure out which paths are directories and which are files **first**, then we need to use two different matchers: one that is used to determine if we should continue recursing into a directory, and one that is used to match a full filepath if it's determined that it's not a directory.

For exampl

[2016-03-30 21:45] MartinKolarik commented on #58
That's what we don't agree on, so first, let's clarify how `mightMatch()` should work:

Given a path and a pattern, it determines whether it's possible for the path to have children (however deep) matching the pattern. Again, we don't care if it's actually possible on FS level.

There are several ways to implement such function. One is generating a RegExp that accounts for all possible valid paths

[2016-03-31 01:34] MartinKolarik commented on #58
OK, it seems I was able to find a reliable solution. I'll play with it a little more and if it works well, I'll post the details here.

[2016-04-01 00:19] MartinKolarik opened #59 "globstar"
AFAIK, the double star should only match multiple directories if it' the only thing in a path part, e.g., `a/**/b`, but not `a/b**`.

In micromatch, it seems it can be followed by other characters:

[code]

Is this intentional?

[2016-04-01 20:41] MartinKolarik opened #60 "[:punct:] expanded incorrectly"
`[:punct:]` is changed to ``[!"#$%&\'()\\*+,-./:;<=>?@[\\]^_`{|}~]`` [here](https://github.com/jonschlinkert/micromatch/blob/17f06276a9a1fc8858582612d73aec5abf8744c6/lib/expand.js#L117) and because it starts with `[!` it's changed to the negated version [right after](https://github.com/jonschlinkert/micromatch/blob/17f06276a9a1fc8858582612d73aec5abf8744c6/lib/expand.js#L122). I suppose the most si

[2016-04-01 21:14] jonschlinkert commented on #60
want to do a pr?

[2016-04-01 21:18] jonschlinkert commented on #60
actually this issue would belong on [expand-brackets](https://github.com/jonschlinkert/expand-brackets)

[2016-04-01 21:18] #60 closed

[2016-04-01 21:23] MartinKolarik commented on #60
Yeah, if we want to just swap the order, then yes. But technically speaking, it's an issue with micromatch, the pattern generated by expand-brackets is correct.

[2016-04-01 21:31] MartinKolarik commented on #60
Actually, I take that back. This isn't the only problem with that pattern. Will submit a PR at https://github.com/jonschlinkert/expand-brackets

[2016-04-01 23:45] jonschlinkert commented on #59
No, it's not. I'll look into it, thx

[2016-04-02 00:25] MartinKolarik commented on #58
So, I was able to [write a library](https://github.com/MartinKolarik/glob-possible-parent) that takes a pattern and transforms it into a list of patterns, which can then be fed to micromatch/minimatch/etc. producing a final pattern that matches all possible parent directories. The usage is something like...

[code]

... and it works with all micromatch features.

That said, it'd be great to have t

[2016-04-02 01:53] jonschlinkert commented on #58
Well done! Since the method would be used for matching parent directories, what if we choose a method name that has something to do with directories or parent?

I think this would be useful in micromatch. @es128 any thoughts?

[2016-04-02 02:12] MartinKolarik commented on #58
Maybe `isParent()` or `possibleParent()` then? I'd go with `possibleParent()`, as there's one catch to how this method works - in a few specific cases, it'd be very hard/impossible to determine if the parent really should match or not. In those cases, it returns `true` to make sure you don't miss any directory. In other words, calling this function doesn't give you 100% guarantee the path is a par

[2016-04-02 05:58] jonschlinkert commented on #58
can you give some examples? I'm mostly just curious. thx

[2016-04-02 12:44] MartinKolarik commented on #58
Situations when a `/` might, or might not be there, or might be there multiple times - any extglob pattern with `/` inside, and `[:punct:]`, `[![:alnum:]]`, `[![:alpha:]]`, `[![:blank:]]`, `[![:digit:]]`, `[![:lower:]]`, `[![:upper:]]`, `[![:word:]]`, and `[![:xdigit:]]` classes.

If a path part contains any of these, it is replaced with `**`. E.g., `aaa/bbb/cc+(d/e)` is transformed to `aaa/bbb/**

[2016-04-22 09:49] tunnckoCore commented on #59
I don't think so. It's not a bug for me.

@jonschlinkert @MartinKolarik, actually it is logical to be `true` because `*` means `0 or more`.

[2016-04-22 09:55] tunnckoCore opened #62 "bug when absolute path and dot option true/false"
[code]

Try out to change `absolute` to false and you get empty array. Which is the correct behaving when `dot: false`. But when absolute path and absolute pattern is passed it find match when `dot: false`.

[2016-04-22 09:56] MartinKolarik commented on #59
@tunnckoCore it would make sense for `mm.isMatch('a/b', 'a/**b');`, but it shouldn't behave like globstar (matching multiple dirs) if it isn't the only thing in a path part.

[2016-04-22 10:11] tunnckoCore commented on #62
Actually, looking the tests.. they also looks wrong?

[code]

[2016-04-22 10:21] MartinKolarik commented on #62
Those tests are correct. It should match dotfiles even with `dot: false` when dot is explicitly part of the pattern. `dot: true/false` only affects wildcards.

[2016-04-22 10:27] tunnckoCore commented on #59
I'm not saying it should behave like globstar. I'm not sure for the my last sentence, just saying it make some sense.

And not, it not behaves as globstar, which is good and expected?

[code]

[2016-04-22 10:29] tunnckoCore commented on #62
I don't think so. That's the idea of that option for me.

Nevermind, issue is for other bug.

[2016-04-22 10:36] MartinKolarik commented on #59
It does if you fix the pattern: `console.log(mm.isMatch('a/b/c/d', 'a/**d')); // => true`

[2016-04-22 11:05] tunnckoCore commented on #62
@jonschlinkert the whole point of this issue is because if we have directory with 1 file and 1 directory, and we want to pass `foobar/**` pattern it will return only the 1 file and 1 directory without the `foobar/` and this make sense because it comes as `foobar` and pattern want at least `foobar/`, so the trailing slash is problem. So i'm forced to add trailing slash before pass to micromatch.

D

[2016-04-22 21:24] jonschlinkert commented on #59
The current behavior is correct. From the [bash specification](https://www.gnu.org/software/bash/manual/bashref.html#Pattern-Matching)

closing

[2016-04-22 21:26] jonschlinkert commented on #62
correct. the bash specification says that when `/.` is part of your pattern, it will always match dotfiles, even if `options.dot` is false.

[2016-04-22 21:49] tunnckoCore commented on #62
Okey, got it. But issue is a bit another, see my last post. And see this example it may clear it a bit

[code]

[2016-04-22 21:55] jonschlinkert commented on #62
Did you notice you're using `.makeRe` on the filepath, not on the pattern?

maybe, I'll look.

[2016-04-22 21:55] MartinKolarik commented on #59
Well, the linked spec also doesn't say `mm.isMatch('a/b/c', 'a/b**');` shouldn't match, but it (I think correctly) doesn't. I wasn't able to find a spec covering this behavior, but it's documented in [minimatch's README](https://github.com/isaacs/minimatch#comparisons-to-other-fnmatchglob-implementations), and more importantly, it's how real bash works (just tested that).

[2016-04-22 22:03] MartinKolarik commented on #62
@jonschlinkert from @tunnckoCore's first post, it seems there actually is a bug:

[code]

[2016-04-22 22:06] jonschlinkert commented on #59
Hmm, okay. I remember implementing behavior based on my (literal) interpretation of the spec. But it seems this is a bit nuanced.

fwiw I'm refactoring this to use a parser like the one implemented in the [refactor branch of extglob](https://github.com/jonschlinkert/extglob/tree/refactor). this will allow us to easily make changes based on discussions like this

[2016-04-22 22:08] jonschlinkert commented on #58
closing since this isn't necessarily and issue, and I think the important parts have been split into other issues. @MartinKolarik feel free to open another issue if necessary

[2016-04-22 22:08] #58 closed

[2016-04-22 22:09] jonschlinkert commented on #62
yeah that's what I was thinking as well. but I hadn't had a chance to check. Is it only when the path is absolute?

[2016-04-22 22:13] MartinKolarik commented on #62
No, it's the same for relative paths as well. But it's only an issue when a dotfile is at the same level as `**` - if it's inside a directory, it works correctly:

[code]

[2016-04-22 22:14] tunnckoCore commented on #62
@MartinKolarik yea, but that's another bug, maybe we should separate them in separate issues.

I'm talking for another.

[code]

Hmm, I thought answer was `yes`, but huh.

[code]
obviously, no.

[2016-04-22 22:17] jonschlinkert commented on #62
let's do that please. Also try to just use the minimum reduced use case to illustrate the bug.  thanks

[2016-04-22 22:22] #56 closed

[2016-04-22 22:30] MartinKolarik commented on #62
I see. From your original post, I thought this was the problem you were reporting :smile:

I that case, `bar` might be a file in `foo` directory, and definitely shouldn't match.

[2016-04-22 22:33] MartinKolarik opened #63 "** sometimes matches dotfiles"
From #62:

[code]

[2016-04-22 22:35] jonschlinkert commented on #62
closing this issue since we're splitting out

[2016-04-22 22:35] #62 closed

[2016-04-22 22:37] MartinKolarik commented on #59
Looks good, that should definitely make it easier to handle situations like this.

[2016-04-22 22:49] tunnckoCore commented on #63
And

[code]

I'm not sure totally, but I think it make sense first one also to be `false`. It may be bash spec behaving, but it not make sense to get dot files/dirs  when you don't want. And it's normal user to not expect them when he read `dot is false by default` in first time.

[2016-04-22 22:52] tunnckoCore opened #64 "globstar and trailing slash"
From #62

[code]

If that's correct behaving, okey, but you are forced to do some hacks like https://github.com/jonschlinkert/micromatch/issues/62#issuecomment-213600188 and it not make sense for me.

edit: and `**` means anything or empty - same as single `*`. so basically if it make sense to match with trailing slash it make sense to match without it, because it is absolutely the same - in anywa

[2016-04-22 22:55] MartinKolarik commented on #63
@tunnckoCore the first one is exactly what this issue is about - it should be `false`.

[2016-04-22 22:56] MartinKolarik commented on #64
That's the problem here. Without the slash, there's no way to know if it's a dir or a file.

[2016-04-22 23:02] jonschlinkert commented on #64
yeah it's correct. Try doing this:

[code]

[2016-04-22 23:04] jonschlinkert commented on #59
indeed, but the best part is that it's also much faster :)

[2016-04-22 23:16] #64 closed

[2016-04-22 23:17] tunnckoCore commented on #64
Mm, yea, thanks.

[2016-04-22 23:19] MartinKolarik commented on #59
Really? It already is quite fast. Will definitely take a closer look at the code.

[2016-04-23 02:22] jonschlinkert commented on #59
more specifically it parses and compiles the regex patterns faster. so initialization will be faster, but not necessarily the actual matching. Hmm, I'm going to create an issue to get my thoughts out on this

[2016-04-25 15:07] MartinKolarik commented on #59
yeah that makes sense

[2016-05-21 13:51] electerious opened #66 "Whitespace in path"
Hi, I'm trying to match files using the following pattern:

[code]

micromatch sadly returns an empty array, which is not what I expected. After several experiments I figured out that the whitespace between "ccc" and "2016" might be the reason for it.

[code]

Is this a problem of the pattern I'm using or an issue of micromatch? How should I deal with spaces in paths?

Node.js Version: 6.2
microma

[2016-05-21 14:50] jonschlinkert commented on #66
If it's failing on a space, that would be a bug. I'm guessing it's not just the space but a combination of the space and something else... I'll take a look, thanks for creating the issue

[2016-05-21 14:58] jonschlinkert commented on #66
Yeah it's the brace pattern. For some reason it appears to be recognizing the whitespace as a boundary or a delimiter. I know where the problem is, I should be able to get a fix pushed up.

[2016-05-21 15:01] jonschlinkert commented on #66
k, found it, and fixed it. I need to run some tests on braces and micromatch then I can push up

[2016-05-21 15:12] #66 closed

[2016-05-21 15:13] jonschlinkert commented on #66
please reopen if you have any more issues, thanks!

[2016-05-21 15:18] electerious commented on #66
That was fast. Thanks a lot for the quick fix!

[2016-05-21 15:22] jonschlinkert commented on #66
Any time. I always appreciate getting issues for bugs. We all get busy and it's hard to take a few min and do that sometimes, but this lib is better as a result, so thank you!

[2016-06-17 08:26] SaitoWu opened #68 "how to get the contains matched string"
The current `contains` method just returns true or false, is there anyway to get the contains string.

For example:

[code]

In my case, I just want to `replace` the matched string with empty

[2016-06-17 16:08] jonschlinkert commented on #68
Hmm, you could try using `.makeRe`, then manually edit the regex to add a capture group. Would that work for you?

[2016-06-18 16:57] SaitoWu commented on #68
Yes, It worked, i was use it to solve the question.

But its not very convenient for me, and i must do a lot of work for the regex.

I must remove the `$` at the end of the `makeRe` created, and do some other works if a have some regex modifications.

What i really need is:

[code]

Or maybe the more comfortable one:

[code]

I'm very glad to see the library can have this function.

Thanks.

Have

[2016-06-18 17:08] jonschlinkert commented on #68
You [should be able](https://github.com/jonschlinkert/micromatch/blob/master/index.js#L366-L367) to do this:

``js
var re = mm.makeRe('a/*', {contains: true});
[code]

[2016-06-18 17:16] SaitoWu commented on #68
Wow, `{contains: true}` really make sense.

Thanks for your advise!

🎊🎊🎊

[2016-06-18 17:16] #68 closed

[2016-06-18 21:37] jonschlinkert commented on #68
My pleasure, glad I could help.

[2016-07-15 16:27] callumlocke opened #70 "The glob string */*/** fails to match a lot of things"
[code]

[Live demo of this bug on Tonic](https://tonicdev.com/callumlocke/micromatch-bugs)

[2016-07-15 17:03] jonschlinkert commented on #70
I'll take a look, I suspect this is because consecutive `*/*/` patterns are collapsed (and they shouldn't be)

[2016-07-15 17:15] #70 closed

[2016-07-15 17:16] jonschlinkert commented on #70
Let me know if you have any more issues. thanks for reporting the bug

[2016-07-29 13:29] ngryman commented on #35
@jonschlinkert Do you plan to add it? I need this too 👍

[2016-09-07 22:49] phated opened #72 "Update is-glob"
I just updated my `glob-parent` dependency in `glob-stream` and was warned about micromatch requiring a different version.  Thought I'd give the heads up.

[2016-09-08 00:26] jonschlinkert commented on #72
thanks, I just worked on a refactor for the past few days. `glob-parent` probably won't be needed in the next version.

[2016-10-07 22:17] tunnckoCore opened #73 "nodupes option not work as expected?"
Heya, not sure enough be I have one snippet here...

[code]

result (outputs `example.js` twice?)

[code]

[2016-10-07 22:24] tunnckoCore commented on #73
A little debugging shows there really have a need for one more `utils.unique`, but in the `micromatch()` return, not only in `match()` (which is for each pattern).

Line 120-124

[code]

in line 46-48
[code]
So we really need to be `utils.uniq(utils.diff(keep, omit))` ?

[2016-10-08 06:14] laggingreflex opened #74 "/foo/ doesn't match *f*"
mm.isMatch('foo', 'f*');
    //=> true [ok]

    mm.isMatch('/foo/', '*f*');
    //=> false [?]

Is this intentional?

[2016-10-08 08:38] jonschlinkert commented on #74
Yes, a single `*` never matches slashes. This follows bash spec, so if you look for `bash glob`, `bash globbing`, `globstar` etc on google you'll find a lot of good info on using wildcards and rules for using them. The unit tests are also a good resource.

[2016-10-08 08:38] #74 closed

[2016-10-08 11:39] #59 closed

[2016-10-18 17:00] jepler opened #75 "Notes on differences between bash 4.3.33, dash 0.5.7, and micromatch 2.3.11"
I tested bash with `shopt -s nullglob extglobs`.

[code]
`[]-]` matches `]` or `-`.
[code]
`[!-5]` matches anything but `-` or `5`.

[code]
`[/]` and `[ab/]` are not sets of characters.  Dash doesn't support nullglob, so an unmatched pattern is itself.  (Furthermore, the second example is an extglob, which dash doesn't support.)

[code]
`[.-0]` is a set of characters, but not one which matches `/`

[2016-10-18 18:31] jonschlinkert commented on #75
what is dash? and what is the point of this issue? Also, anything we discuss here is irrelevant after I push up the latest changes from extglob, nanomatch and braces. Each of which are more accurate than bash and follow specifications exactly.

[2016-10-18 18:42] #75 closed

[2016-10-18 19:20] jepler commented on #75
Yes, that dash.  I'm glad you found at least one of my test cases useful to add.

[2016-10-18 19:54] jonschlinkert commented on #75
That test is from git wildmatch and was already included in the nanomatch tests: https://github.com/jonschlinkert/nanomatch/blob/master/test/bash.js#L97-L108.

Other similar tests: https://github.com/jonschlinkert/nanomatch/blob/master/test/bash.js#L125-L138

[2016-11-01 15:46] electerious opened #77 "Incorrect matching when path contains braces"
Hi, I'm trying to match a path that contains braces.

[code]

The given command returns `false`, but I expected `true`. Removing the braces from the path fixes the problem, escaping doesn't:

[code]

[code]

Node.js Version: 6.2
micromatch Version: 2.3.11

[2016-11-01 16:16] doowb commented on #77
@electerious only the `( )` in the glob pattern need to be escaped, but you also need to escape the escape character since it's being used in a string (this just means double backslash like this:

[code]

[2016-11-01 16:29] electerious commented on #77
Ah, you're right. Thanks!

The glob-pattern is auto-generated. The first part is the current path. Are you aware of a smart way to escape a path to a glob-friendly string. Or with other words: A way to escape all chars that are special in glob-patterns?

[2016-11-01 16:29] #77 closed

[2016-11-03 09:52] asgoth opened #78 "Single character in combination with a dot (.) results in no matches"
If I try the following combinations, it results in no matches (failing tests):

     mm(['a/bbb/abcd.md'], ['a/bbb/ab??.md']).should.eql(['a/bbb/abcd.md']);
     mm(['a/bbb/abcd.md'], ['a/*/ab??.md']).should.eql(['a/bbb/abcd.md']);

Only when removing the dot (.) from the pattern, makes it succeed:

    mm(['a/bbb/abcd.md'], ['a/bbb/ab???md']).should.eql(['a/bbb/abcd.md']);

Is this expected behav

[2016-11-03 18:33] #78 closed

[2016-11-03 18:34] jonschlinkert commented on #78
Thanks for the issue. There is a [refactor](https://github.com/jonschlinkert/micromatch/pull/76) that will be published in the next few days with this fix.

[2016-11-03 19:25] jonschlinkert commented on #73
this is fixed in the [refactor](https://github.com/jonschlinkert/micromatch/pull/76)

[2016-11-03 19:26] jonschlinkert commented on #72
closing in light of the [refactor](https://github.com/jonschlinkert/micromatch/pull/76)

[2016-11-03 19:26] #72 closed

[2016-11-03 19:26] jonschlinkert commented on #73
going to go ahead and close since this won't be changed on the current branch

[2016-11-03 19:26] #73 closed

[2016-11-03 19:48] tunnckoCore commented on #73
yea, not problem, seeing your rss feed, so seeing the changes

[2016-11-14 22:41] bcoe opened #79 "enabling dotfiles changes behavior of **/ glob patterns"
when `dotfiles=false`, the following rule `**/foo.js` would match `foo.js`.
when `dotfiles=true`, the rule `**/foo.js` does not match `foo.js`.

I've worked around this in `nyc`, with the following logic:

https://github.com/istanbuljs/test-exclude/commit/43008d5f045b06898b11a3f47e310e8181e332ec

But I'd prefer to have less exclude rules.

[2016-11-14 22:58] jonschlinkert commented on #79
thanks @bcoe there is a refactor here that supports this https://github.com/jonschlinkert/micromatch/tree/dev that has 7,000+ unit tests and a real parser-compiler (so it even creates an AST, not sure what that could be used for yet lol).

I also just pushed up some unit tests to show that it's passing in the refactor (fwiw the refactor is ready to publish I just have to wrap up a commitment then

[2016-11-14 23:05] bcoe commented on #79
@jonschlinkert wow, you've been busy; One that lands, I'll happily help test against nyc's test cases.

[2016-11-14 23:43] jonschlinkert commented on #79
great! I'd be happy to add some here too if you want

[2016-11-16 13:47] Avaq opened #80 "Check if one glob encompasses another?"
Is the a possibility to determine whether one glob would match *all* strings matched by another? The goal is to eliminate extraneous globs in an array of patterns to run against a single string:

[code]

So that I can:

[code]

[2016-12-13 16:44] pugnascotia opened #81 "Path with multiple double-dots not matched"
Here is a test case that I thought should pass but doesn't (including `nanomatch` for completeness):

[code]

Result:

[code]

Am I misunderstanding how `**` works in this context?

[2016-12-13 16:46] jonschlinkert commented on #81
is this a theoretical test? how is a valid path like that created?

[2016-12-13 16:58] jonschlinkert commented on #81
oh, sorry - there were two problems with my initial review. For some reason my brain told me that `/__tests__/` was `/../tests/../`, which is part of the reason I was confused about how a path like that would exist. Then I forgot to answer your actual question.

Yes. `../` should never be matched by `**` because it can cause infinite recursion.

[2016-12-13 16:59] pugnascotia commented on #81
Ah, of course it would - thanks.

[2016-12-13 16:59] #81 closed

[2016-12-13 17:01] jonschlinkert commented on #81
No problem, it was a totally valid question with a not-so-obvious answer IMO. If you're interested, there is also a [code comment in minimatch](https://github.com/isaacs/minimatch/blob/master/minimatch.js#L817-L818) speaks to this.

[2016-12-13 17:18] jonschlinkert commented on #79
related https://github.com/jonschlinkert/micromatch/blob/dev/test/options.js#L43-L44

@bcoe getting closer on the refactor.  I'm just working on docs and a couple of windows path-related bugs that cropped up on appveyor. I'll update with progress

[2016-12-14 14:18] akshay-since1987 opened #82 "Issue with split when running this lib as dependency of node-sass"
This works fine in MAC environment but fails in windows. I have no clue whether it has anything to do with the parent inheriting this library. How can i check the same?

Here's my code while trying to generate SASS.
This appears to occur only on windows though.

[code]

Here's the log generated on running in verbose mode.

[code]

[2016-12-14 14:56] jonschlinkert commented on #82
this is probably an issue for glob-fs, since it uses an outdated version of micromatch. We're refactoring glob-fs because of windows issues. I recommend using node-glob until that refactor is finished.

[2016-12-14 14:57] jonschlinkert commented on #82
just noticed you forked micromatch, that's awesome! just wanted to make sure you noticed the [dev branch](https://github.com/jonschlinkert/micromatch/tree/dev) with the latest changes. There are more than 36,000 unit tests on that branch.

[2017-01-11 04:55] wtgtybhertgeghgtwtg commented on #63
This was resolved in `nanomatch`, but isn't that only used in `micromatch@3.0.0`?  I think this is still a problem in the current version.

[2017-01-11 13:06] jonschlinkert commented on #63
thanks this was automatically closed. I'll reopen until the dev branch is merged

[2017-01-13 22:23] tunnckoCore commented on #63
we all expecting it :)) good luck to get to it soon!

[2017-01-26 08:59] litmit opened #83 "options.matchBase behavior different from minimatch"
Let see a code:
[code]
Who is right?
Without matchBase both engines will return true.

[2017-01-26 16:47] jonschlinkert commented on #83
Hi, thanks for the issue. The description of the `matchBase` option is "Allow glob patterns without slashes to match a file path based on its basename".  The point is to pass a pattern that matches only the basename of a file, like `*.js`. You're passing two globstars (`**`), but the point of the option is so that you don't need to do `**`.

Also, fwiw this code has been completely refactored on [

[2017-01-27 08:32] litmit commented on #83
You are right, but this additional feature should not change behavior of basic features like globstar matching (IMHO).

[2017-01-27 08:45] jonschlinkert commented on #83
IMHO, the matcher should essentially do `isMatch(path.basename(filepath), pattern)`, in which case your pattern would not match, since the basename of the filepath does not match (and should not) the directory in your pattern. Why would it? If you expect it to, why use `matchBase` at all?

But this is just my opinion, I'd like to hear from others if anyone else has an opinion about it.

[2017-01-27 14:50] es128 commented on #83
Based on the decription of the option I agree with your assessment @jonschlinkert

[2017-01-27 14:53] es128 commented on #83
Well, ok, I guess it could be considered additive. The option only applies to patterns without slashes. If a pattern has a separator, `matchBase` has no effect. That would be fine, imo, but the docs should explain it explicitly. Could be useful when providing an array of patterns.

[2017-01-27 16:04] jonschlinkert commented on #83
k, meaning that a pattern with slashes should still match as it would be expected to if `matchBase` wasn't enabled?

[2017-01-27 16:09] es128 commented on #83
Yes that's what I'm saying would be an accepted perspective. It makes no sense to deliberately use `matchBase` with a pattern that has separators, so we could decide the pattern, rather than the option wins in the conflict.

In this way `matchBase` would only create more opportunities to find a positive match, never fewer.

[2017-01-27 16:14] jonschlinkert commented on #83
K, I was going back and forth on that. thanks

[2017-01-30 06:38] litmit commented on #83
@jonschlinkert

I'm using a glob file like .npmignore or .gitignore. It may contain patterns like  `*.js` (should match any js files at any nesting level), `folder/*.js`,  `**/dir/*.js`, `**/dir./**` and so on. Therefore i need to set option `matchBase = true` in app that allow to works for any patterns like `*.js`. But other patterns would have been working too.

[2017-02-15 16:58] HrOice opened #84 "need help creating windows patterns"
The path on windows contains "\\",but cause bugs:
[code]

can you help me ?
I find the final code:
micromatch-master/node_modules/braces/index.js:escapeBraces
[code]

[2017-02-15 17:24] jonschlinkert commented on #84
You will need to use forward slashes in globs, even on windows.

Backslashes are reserved for escaping in glob patterns, and windows supports forward slashes as path separators.

fwiw, none of the globbing libs allow backslashes as path separators in globs (including bash, [minimatch and node-glob](https://github.com/isaacs/node-glob#windows)).

[2017-02-16 01:37] HrOice commented on #84
Thank you, I see! ^ ^

[2017-02-16 03:36] jonschlinkert commented on #84
great, I'll go ahead and close. Feel free to ask more questions

[2017-02-16 03:36] #84 closed

[2017-02-22 17:31] fidian opened #85 "Get the captured/matched results?"
My goal is to rename files using a syntax similar to `mmv`.  Here's an example of how to use that tool:

    mmv 'folder/*.jpg' 'other-destination/#1.jpeg`

In order to make my library, I would really like to capture the matches for the various patterns. Assuming a filename of "test/documentation/module-controller.md", I would expect the following:

    // [ "module-controller.md" ]
    console.lo

[2017-02-22 17:57] jonschlinkert commented on #85
Once the [dev branch](https://github.com/jonschlinkert/micromatch/blob/dev/index.js#L573) is merged, you will be able to use the `.parse` method to get an AST (with optional sourcemap), which you can then use however you want. Your use case seems like an excellent example of what you can do with the AST.

Does that address what you're trying to accomplish? I can show you how to use the AST once I

[2017-02-22 18:11] fidian commented on #85
I ran the tests on Linux and found no problems. Do you have a way to simulate a Windows environment, such as using `path.win32` by default or by mocking a `require()`? It seems like this would be useful to do so you are not required to run the tests on every operating system in order to prove that a release would work.

[2017-02-22 18:22] jonschlinkert commented on #85
Yeah, they all pass on Linish.

That's a great idea, I'd definitely take a pr for it - even it it's just to get it started - if you're interested in tackling it.

[2017-04-02 23:01] jonschlinkert commented on #82
closing since this isn't a micromatch issue

[2017-04-02 23:01] #82 closed

[2017-04-02 23:04] jonschlinkert commented on #83
Sorry for lack of response to your last comment, @litmit. I've been stuck on a few windows path issues with [the refactor](https://github.com/jonschlinkert/micromatch/pull/76), but I'll make sure to revisit this as soon as I get those resolved.

[2017-04-17 22:58] loganfsmyth commented on #35
I just made the mistake of assuming that

    items.filter(micromatch.filter(patterns))

would be the same as

    micromatch(items, patterns)

am I right that this issue is aimed at resolving that type of thing?

[2017-04-17 23:41] jonschlinkert commented on #35
@loganfsmyth I *think* so. But I'd love some feedback on this.

In the [upcoming release](https://github.com/jonschlinkert/micromatch/pull/76), I'm planning on adding support for multiple globs to  `.matcher`, `.any` and `.contains`. (I generalized a "compose" function that is used in [.matcher](https://github.com/jonschlinkert/micromatch/blob/dev/lib/utils.js#L41) in the dev branch. The plan is t

[2017-04-18 00:15] loganfsmyth commented on #35
I don't think I have enough background to answer all of this. Essentially I was trying to implement a `.gitignore`-style thing and originally wanted to cache a `filter` function per-`ignore` file, but since `.filter` wanted to match _all_ of the patterns, I was unable to use it, assuming I understood the issues I was seeing well enough.

[2017-04-26 06:06] jamen opened #86 "Trouble using this module"
Hello @jonschlinkert, I am trying to create something with this module that streams files with `files.read(globs)`, but I am having trouble using `mm.any` to check each path in the pipeline

I have isolated the problem to this for simplicity:

[code]
How does this yield `true` if I'm explicitly negating it?  Is there a function that lets me do this type of check?

[2017-04-26 06:12] jamen commented on #86
I think I am misunderstanding the purpose of `mm.any`.  Does it support negation?

Is there a way I can check a single path against multiple globs?  I tried the other methods but they didn't seem to do what I want.

[2017-04-26 06:19] jamen commented on #86
I also tried using `mm.filter`, but I was getting a different problem:

[code]

[2017-04-26 06:36] jamen commented on #86
I guess basically `mm.isMatch()` except could take an array of globs.

[2017-04-26 06:41] jamen commented on #86
I was able to do it using `globs.some(x => isMatch(path, x))`

Nevermind :smile:

[2017-04-26 06:41] #86 closed

[2017-04-26 13:53] doowb commented on #86
You can do something like this:

[code]

That will account for the negations. `mm.any` will return `true` if any of the glob patterns match the file path, meaning that it works like an `or`.

[2017-04-26 15:39] jonschlinkert commented on #86
The description from the readme is "Returns true if a file path matches any of the given patterns". The file path matches the inclusive pattern, so it returns true.

You can simplify your logic a big by doing something like this:

[code]
But I can see the need for a method that does something similar to `.any` but with paths instead of patterns.

Maybe `.some`? I just did a quick implementation th

[2017-04-26 15:55] jamen commented on #86
I did consider the `.length` way but I want to make it to where I don't have to create it for each file in the pipeline.

Also, with `.some`, I don't think that is what I would expect either.

I am basically receiving singular paths inside the pipeline, so I would never end up with something like `[ 'foo.js', 'bar.js' ]`.

For me it's more like I'm just checking if the path is negated anywhere ins

[2017-04-26 16:23] jonschlinkert commented on #86
It depends on how big the list is (of paths, not patterns). Sometimes a breadth-first search like this is orders of magnitude faster when the function exits early on positive or negative matches (especially given that the patterns and matcher functions are memoized).

[2017-04-26 16:31] jamen commented on #86
Well, what I am doing is admittedly kind of confusing.

Instead of collecting multiple paths and filtering them based on some patterns, I am recursively reading directories using a stream, and filtering it path-by-path.

So if I got `files.read([ 'foo/**.js', 'bar/**.js' ])`, it would start reading both `foo/` and `bar/` directories recursively, but also use negations to avoid some unnecessary rea

[2017-04-26 16:39] jonschlinkert commented on #86
we were just talking about this. I'm re-factoring glob-fs and we're thinking about similar challenges there.

[2017-05-11 15:32] kt3k opened #89 "double slash in the pattern"
I found this difference between micromatch and minimatch:

[code]

Is this intended or not?

---
I'm using the pattern like `source/{,!(node_modules)}/!(README).md` in my script, and this expands to `source//!(README).md` and `source/!(node_modules)/!(README).md`. I use chokidar and gulp with this pattern and both seem working on different paths because of the above difference.

[2017-05-11 16:18] jonschlinkert commented on #89
is this against master or dev?

[2017-05-12 15:27] kt3k commented on #89
Thanks for the quick response!

After doing some checks with Bash like the below, I agree with you that both `mm.isMatch('foo//baz.md', 'foo/baz.md')` and `mm.isMatch('foo/baz.md', 'foo//baz.md')` should be `false`.

[code]

`micromatch` seems more conformant to Bash in these cases. 👍

[2017-05-12 15:27] #89 closed

[2017-05-23 17:46] jamen commented on #86
@jonschlinkert Ended up making that in case you were curious: [`pull-files`](https://github.com/jamen/pull-files).  It turned out pretty great, but I still have some bigger optimizations in the back of my mind I am not willing to take on right now.  Still does reads x4+ faster than [`vinyl-fs`](https://github.com/gulpjs/vinyl-fs) on my machine, not counting the reduced complexity pull-streams woul

[2017-05-23 17:49] jonschlinkert commented on #86
that's great! nice work.

[2017-05-29 06:10] #83 closed

[2017-05-29 06:15] jonschlinkert commented on #79
I believe this is resolved in 3.0.0. please feel free to reopen if you or anyone else still experience this issue.

[2017-05-29 06:15] #79 closed

[2017-05-29 06:15] jonschlinkert commented on #63
I believe this was resolved in 3.0.0 but please reopen if you still experience the issue

[2017-05-29 06:15] #63 closed

[2017-05-30 15:23] asgoth opened #91 "Negation glob causes issues with the newest version (3.0.1)"
Negation glob causes issues with the newest version (3.0.1). The following still worked in version 2.3.11:

    var micromatch = require('micromatch')
    var fixtures = ["bar/bar"];
    var result = micromatch(fixtures, ["foo/**", "!foo/baz"]);

I would expect `result` to be an empty array, but it is `["bar/bar"]`. When I remove `"!foo/baz"` it works, so it seems to be connected.

Note: the same

[2017-05-30 16:24] jonschlinkert commented on #91
Thanks I'll take a look

[2017-05-30 16:45] jonschlinkert opened #92 "org"
@paulmillr, @es128 I added you to the org since you are on other micromatch projects. Sorry, I thought that was automatically done when I moved the projects over, but it looks like it only added you to those projects (which makes sense but i didn't think about it).

closing this, just wanted to notify you and there isn't a better way to do this here

[2017-05-30 16:45] #92 closed

[2017-05-30 16:46] jonschlinkert commented on #91
k, I just wanted to do some double-checking. before I comment with my opinion I'd like to hear yours about this...

what should the result be for the following?

[code]

@doowb or (@phated, @es128  or anyone else have thoughts on this?)

[2017-05-30 17:14] doowb commented on #91
`["bar/baz"]` since there's only a negative glob pattern passed in and that pattern "does not" match any `fixtures`.

[2017-05-30 17:35] jonschlinkert commented on #91
Actually, I just doubled checked and the behavior seems to be consistent with the previous version of micromatch (v2.3.11). e.g. nothing has changed.

So, basically, if you want to negate a string, you should put a negation pattern that matches what you want to negate.

[code]

I'm going to go ahead and close b/c I think this is expected behavior that is consistent with minimatch, but anyone from

[2017-05-30 18:03] asgoth commented on #91
Thanks for the explanation. I'll take a look

[2017-05-30 18:41] asgoth commented on #91
Still, it feels "weird", especially since it worked in a previous version (which might be by accident). I would expect it to be excluded since it is not part of `'foo/**'`. Which is the behaviour when there is no negation in the glob array.

   var micromatch = require('micromatch');
   var fixtures = ['bar/bar'];
   var result = micromatch(fixtures, ['foo/**']);
   console.log(result);
   //=> []

[2017-05-30 19:32] jonschlinkert commented on #91
hmm, it would help if you could show which version it worked in.

Why? can you be more specific with actual globs you're using? (e.g. not simplistic contrived examples). There are many unit tests covering negation behavior if you want to look over those. I'd also be happy to help you optimize what you're doing, I just need something more detailed to help me understand specifically what you're doin

[2017-05-30 20:34] asgoth commented on #91
It worked in version 2.3.11.

I'll try to explain a bit better. I've created a library that bundles files (using [r.js](https://github.com/requirejs/r.js). It is a library that we use internally for several huge repositories. Here is a simple (unit test) example:

* subdir
  * file1.js
  * file2.js
* main.js
* other.js

These files are amd modules ([requirejs](https://github.com/requirejs/requirej

[2017-05-30 21:05] jonschlinkert commented on #91
It didn't though. I just tested it again.

I'm guessing the paths are just relative of basenames at that point? Otherwise you'll need to do:

[code]

[2017-05-31 06:31] asgoth commented on #91
Yeah, all paths are relative.

Behaviour is now different than multimatch. Just did a quick test:

    const micromatch = require('micromatch'); // 3.0.1
    const multimatch = require('multimatch');

    console.log("micromatch: " + micromatch("other.js", ["subdir/**", "!subdir/file1.js", "main.js"]));
    //=> ["other.js"]

    console.log("multimatch: " + multimatch("other.js", ["subdir/**", "!

[2017-05-31 11:28] jonschlinkert commented on #91
behavior should have always been different than multimatch, because (IMHO) multimatch has always been wrong. If micromatch was producing the same value as multimatch before, I believe that was a bug that has now been fixed.

that said... hmm I'm wondering if there is indeed a bug with a single file when multiple patterns are passed and a negation pattern is given. I'm not sure why you keep using a

[2017-05-31 11:31] jonschlinkert commented on #91
actually, I don't think it's single files, I think it's something else... something about this seems familiar... I'm looking into it now.

[2017-05-31 12:02] #91 closed

[2017-05-31 12:02] jonschlinkert commented on #91
Ok, let me know if that works for you

[2017-05-31 12:55] asgoth commented on #91
Alright, this indeed works. Thank you for your quick fixing :)

[2017-05-31 13:34] jonschlinkert commented on #91
no prob. thanks for your patience (with me) lol. I'm slow sometimes... I'm glad it's working for you now!

[2017-05-31 13:36] asgoth commented on #91
Understandable :D Working for months on a new (major) version and then someone complains it doesn't work the minute it is finished :)

Anyways thanks

[2017-05-31 19:30] jonschlinkert opened #93 "3.0.0 regressions? please let us know!"
If you experience regressions with upgrading to 3.0, please let us know, we're here to help!

[2017-06-01 06:16] nuintun opened #94 "Many dependencies out of date!"
See:

[![Dependencies][david-image]][david-url]

Dependencies ```arr-diff@4.0.0``` benchmarks is faster

[code]

[david-image]: https://img.shields.io/david/micromatch/micromatch.svg?style=flat-square
[david-url]: https://david-dm.org/micromatch/micromatch

[2017-06-01 09:35] jonschlinkert commented on #94
please describe the bug you're experiencing in more detail.

[2017-06-01 10:55] yvele commented on #93
`3.0.0` is a major release.. but where is the changelog? What exactly is supposed to be breaking?

https://github.com/micromatch/micromatch/releases

![image](https://cloud.githubusercontent.com/assets/4225430/26676760/6bd3f96e-46c9-11e7-913a-cee138af669d.png)

https://github.com/micromatch/micromatch/blob/master/CHANGELOG.md

![image](https://cloud.githubusercontent.com/assets/4225430/26676765/77

[2017-06-01 20:37] jonschlinkert commented on #93
Why are you assuming something is supposed to be breaking? Feel free to review the commits and submit a pr with an update to the change log

Sent from my iPhone

[2017-06-01 21:00] jonschlinkert commented on #94
Closing since this isn't a bug report or feature request.

[2017-06-01 21:00] #94 closed

[2017-06-02 08:34] yvele commented on #93
@jonschlinkert I supposed you are following [semver](http://semver.org/) standard like all other libraries. If not, I think you should follow [semver](http://semver.org/) standard 😉

MAJOR version is supposed to be breaking and to be huge and **deserve a changelog entry**.. at least one line.

When a developer manage a huge (or many huge) repos, and is updating dependencies.. when he sees a MAJOR

[2017-06-02 08:40] #93 closed

[2017-06-04 20:48] electerious opened #95 "Tests failing on Windows"
I updated micromatch from 2.3.11 to 3.0.3. My tests are running fine on macOS, but are failing on Windows: https://ci.appveyor.com/project/electerious/rosid/build/1.0.55/job/xd2am7ys0vfx80p3

There seems to be no changelog or release notes, so I'm not sure if I need to change anything on my side.

The error:

[code]

How I use micromatch:

https://github.com/electerious/Rosid/blob/master/src/copy.

[2017-06-04 20:50] electerious commented on #95
The error `Error: no parsers registered for: "]*.{h"` seems to refer to the `[^_]*.{html,ejs}*` pattern.

[2017-06-05 01:40] jonschlinkert commented on #95
here are the [release notes](https://github.com/micromatch/micromatch/pull/76). There shouldn't be changes

There are bound to be new matching edge cases since the parser was re-written from the ground up.  But generally, they should be pretty easy to fix now, as long as I have enough information to debg.

Nope, you found a bug, thanks for reporting it.

The thing that would help me most is if you

[2017-06-05 01:47] jonschlinkert commented on #95
hmm, could you do me a favor and try these? (no worries if you don't have a chance)

[code]

[2017-06-18 11:36] electerious commented on #95
Will try your patterns.

It's because of this issue I had: https://www.sternglas.de/shop/

Not really. I wasn't aware I can do it this way. I will check if it makes a difference.

[2017-06-18 12:32] electerious commented on #95
`!_*.{html,ejs}` 1) 4)
`*/[^_]*.{html,ejs}*` 1)
`a/[^_]*.{html,ejs}*` 1)
`[^_]*.{html,ejs}` 2)
`[^_]*.html` + `[^_]*.ejs` 3)

1) No error, but pattern has a different behavior and my tests are failing because of this: https://ci.appveyor.com/project/electerious/rosid/build/1.0.72/job/srfjb4x7p6t1l5r5
2) Throws `no parsers registered for: "]*.{h"`.
3) Works on macOS, but fails on windows because of

[2017-06-18 19:11] jonschlinkert commented on #95
thanks! the parser error is a bug. But I know there are negation character classes being tested so I'll look into it and get it fixed.

try using `!(_*.{html,ejs})`, and see what that produces.

[2017-06-18 19:31] jonschlinkert commented on #95
I'm not able to reproduce this error. If you could log out the actual paths that are being created in your build and paste them here that would be helpful.

[2017-06-20 11:54] litmit commented on #95
I don't know its related bug or not but try to report it here. Following code :
[code]
cause exception:
[code]

[2017-06-20 16:24] jonschlinkert commented on #95
yeah, i think it's the same bug. thanks, that gives me an idea of what's causing it.

[2017-06-21 11:02] evilebottnawi commented on #95
@jonschlinkert https://github.com/stylelint/stylelint/pull/2597 we also have troubles on windows, on linux all works fine

[2017-06-21 11:45] jonschlinkert commented on #95
yep I've [made comments on that issue](https://github.com/stylelint/stylelint/pull/2597#issuecomment-305768487).

fwiw I spent quite a bit of time trying to get the unit tests to run to log out the patterns, but didn't have any more time to spend on it. I'm strapped for time atm, but I'd like to get it fixed. If someone could copy/paste into this issue specifically which patterns and file paths th

[2017-06-21 11:47] jonschlinkert commented on #95
@litmit since you commented here, I'm assuming you are on windows? Just want to make sure.

[2017-06-21 11:54] evilebottnawi commented on #95
@jonschlinkert i tried to update to latest version and tests still failed, i will try to find time today to investigate which patterns don't work in our test, thanks!

[2017-06-21 12:02] litmit commented on #95
@jonschlinkert Yes, I'm using Windows.

[2017-06-24 15:07] evilebottnawi commented on #95
@jonschlinkert Some information:
list:
[code]
patterns:
[code]
In v2 it is works as ignore, now not ignore.

[2017-06-24 15:30] evilebottnawi commented on #95
Other example:
List:
[code]
Patterns:
[code]
Seems should be ignored, but not.

[2017-06-25 03:11] jonschlinkert commented on #95
@evilebottnawi thanks! that helps.

Here is what's happening. The patterns are being corrupted by the `path` module.

In particular, when the pattern `**/*.scss` is joined to the directory, the slashes are converted to backslashes, which escapes the wildcards.

The [backslashes section in the readme](https://github.com/micromatch/micromatch#backslashes) explains this in more detail.

[2017-06-26 18:00] electerious commented on #95
What is the best way to join a path/glob pattern without causing issues? I'm currently using `path.join` to prepend a user defined folder to every glob pattern:

[code]

Joining manually with `path.sep` could be a solution. Are there any edge-cases I forgot to think about?

[2017-06-26 18:27] jonschlinkert commented on #95
well, since a glob pattern is a type of regular expression and not a file path, it should always have forward slashes as path separators. In other words, using `path.sep` is actually what's causing the problem.

Maybe try using`path.posix` to ensure that posix slashes are always used when joining glob patterns.

[code]

Or, maybe consider keeping the globs as they are and testing against relative

[2017-07-02 16:00] electerious commented on #95
@jonschlinkert Thanks for the clarification.

I know remember why I used [glob-escape](https://www.npmjs.com/package/glob-escape). This lets me use a path inside a glob pattern (on windows). The only issue on my side was that I used `path.join` to concat the escaped path with the glob pattern. This created a new, unescaped backslash.

[2017-07-02 16:00] #95 closed

[2017-07-03 10:06] rogierschouten opened #96 "basename: true and unixify: true breaks .not()"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then procede to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]
…

## What is happening (but shouldn't):

Specifying basename: true and unixify: true  on Windows breaks the .not() function (i

[2017-07-03 18:06] doowb commented on #96
I have a fix for this (tested on mac and windows). I'll submit a PR in a bit.

[2017-07-11 18:53] #96 closed

[2017-07-11 21:25] jonschlinkert commented on #80
This is intriguing, but I don't think it's something we'll do. Mostly because it's not clear that this will achieve any benefit since the processing time to reduce the globs might take longer than filtering a list. It depends on the list size and the number and complexity of globs.

However, this is probably something that can be done using an AST created by micromatch.  See the [.create](https://

[2017-07-11 21:25] #80 closed

[2017-07-11 21:26] jonschlinkert commented on #85
Closing based on age, and 3.0 was released so this should be possible now.

[2017-07-11 21:26] #85 closed

[2017-07-11 22:09] jonschlinkert commented on #35
closing, since this is resolved in the 3.0 release. `.isMatch` leverages memoization, so the result should be the same as pre-compiling the matcher, but with the added advantage of lazily compiling the regex the first time the matcher is actually called. If there is something more specific you'd like to accomplish with `.any`, please feel free to create another issue, I'd be happy to discuss.

@lo

[2017-07-11 22:09] #35 closed

[2017-07-12 19:54] eephillip commented on #55
Looks like this makes a come back in versions matching `^3.0.0`

[code]

[2017-07-12 20:38] doowb commented on #55
Use [unlazy-loader](https://github.com/doowb/unlazy-loader)

[2017-07-22 13:25] danez opened #99 "micromatch throws in certain cases"
## Please describe the **minimum necessary steps** to reproduce this issue:

see https://github.com/babel/babel/pull/5992

## What is happening (but shouldn't):

[code]

## What should be happening instead?

no error

I am not able to reproduce this in a simple case. I tried using codesandbox and receive a similar error. https://codesandbox.io/s/0grnwozBK

So my guess is that the lazy loading [her

[2017-07-22 13:32] jonschlinkert commented on #99
No worries, I appreciate you creating the issue. I'll dive into this and see what's happening. Agreed that it looks like a bug. Also, we tried to remove all lazy-loading modules. If there is still one in the dep tree, I'll get that fixed.

[2017-07-22 13:35] danez commented on #99
Maybe an update of snapdragon from 0.8 to 0.11 would already solve this problem. I tried to do it but then noticed that I would also have to update nanomatch and never got it working.

[2017-07-22 14:48] jonschlinkert commented on #99
Good point, I think that might resolve it. There were other API changes in snapdragon that would cause the tests to fail in all of the libs using it. I'm already looking into it, I'll update here as soon as it's resolved. thx

[2017-07-22 19:07] jonschlinkert commented on #99
quick update. I should be able to push something up later today to fix this. I'm sorry this caused problems for you, I know how frustrating it can be when something breaks your flow.

[2017-07-22 20:04] danez commented on #99
No hurry, I just noticed it when I tried updating micromatch from 2.x to 3.x.

[2017-07-22 23:17] jonschlinkert commented on #99
great I think I'm just about finished with this, but I won't have time to push it up today. You were right about the cause. For now, I'm just going to patch bump snapdragon to 0.8.x to fix the bug. fwiw the latest version of snapdragon has API changes that wouldn't really provide any benefits to micromatch atm, but the next release of Snapdragon will, so I'll upgrade Snapdragon then.

If this is p

[2017-08-05 23:37] robrichard opened #100 "Wildcards + extglobs does not match file"
When combing wildcards + extglobs for file extensions, `micromatch` does not match files at the root of the wildcard. Using micromatch@3.0.4.

## Please describe the **minimum necessary steps** to reproduce this issue:
See example code. It appears that `minimatch` handles this case correctly but micromatch does not.

[code]

Both minimatch and micromatch will correctly match the file if the extglo

[2017-08-06 04:35] jonschlinkert commented on #100
Am I correct in assuming that you're using windows?

[2017-08-06 10:49] robrichard commented on #100
This is on macOS.

I'm using this via `fast-glob` via `relay-compiler` where the glob is generated from command line arguments where the user can pass a list of file extensions: https://github.com/facebook/relay/blob/master/packages/relay-compiler/bin/RelayCompilerBin.js#L73

[2017-08-06 16:56] jonschlinkert commented on #100
you can do `.{js,jsx,ts,es}`.

[2017-08-14 18:10] robrichard commented on #100
@jonschlinkert were you able to find a fix for this?

[2017-08-14 19:26] jonschlinkert commented on #100
Apologies! I've been wrapping up a project to pay the bills. I did work on this though and found what's causing it. I just need to do some unit tests and push it up. After tomorrow I will be able to catch up. I'll escalate this on my todo list, but I won't mind at all if you ping me again. thanks

[2017-08-18 13:41] robrichard commented on #100
@jonschlinkert if you share what you have I'd be happy to write the tests and prepare a PR.

[2017-08-21 10:37] wong2 opened #101 "Why doesn't this match?"
## Please describe the **minimum necessary steps** to reproduce this issue:

I'd like to match urls which doesn't contain `note` or `review` in path:

`mm.isMatch('douban.com/subject/123/', 'douban.com/**!(note|review)**')`

## What is happening (but shouldn't):

but it returns `false`

[2017-08-21 19:30] jonschlinkert commented on #101
The syntax is wrong `**` must be preceded or followed by a slash to match multiple directories.

[2017-08-22 06:44] wong2 commented on #101
thanks @jonschlinkert

[2017-08-22 06:44] #101 closed

[2017-08-22 08:36] jonschlinkert commented on #101
any time!

[2017-08-23 17:54] fidian opened #102 "Globstar in a subfolder - not matching"
Here's a pretty illustrative example:

[code]

The second one should be `true`, shouldn't it? I'm using version 3.0.4.

[2017-08-23 20:03] fidian opened #103 "negation extglob not matching correctly with wildcard"
[code]

Why is the second one not matching?

[2017-08-24 02:57] jonschlinkert commented on #103
going to mark this as a duplicate of https://github.com/micromatch/micromatch/issues/100

[2017-08-24 02:57] #103 closed

[2017-08-24 03:00] jonschlinkert commented on #102
I agree, it seems like that should match, but I need to reference bash docs and see how that's handled with one and two stars.

marking as a duplicate of https://github.com/micromatch/micromatch/issues/100

[2017-08-24 03:00] #102 closed

[2017-08-24 12:02] fidian commented on #100
I also volunteer to assist, considering I'm hitting the same issue. If nothing else, I've got a test or two of my own I can run to validate that the changes work.

[2017-08-24 12:28] jonschlinkert commented on #100
Thanks for your patience, and for offering to help. I should be able to work on this today. If you want to do a pr with failing unit tests that would be great. Probably in [test/exglobs.js](https://github.com/micromatch/micromatch/blob/master/test/extglobs.js).

[2017-08-24 12:52] fidian commented on #100
Tests are created that cover all of the scenarios brought up in the three issues.

[2017-09-03 17:56] devongovett commented on #85
Added preliminary support for this to `nanomatch`: https://github.com/micromatch/nanomatch/pull/4. If that is merged, I'll also update `micromatch` and `extglob`.

[2017-09-04 14:44] fidian commented on #100
Is there anything I can do to help finish this off?

[2017-09-04 19:45] devongovett commented on #85
Added https://github.com/micromatch/extglob/pull/9 and https://github.com/micromatch/micromatch/pull/105.

[2017-09-04 20:15] jonschlinkert commented on #100
I'm really sorry it's taking so long. I had an unusually busy past couple of weeks. I've been catching up since Friday, I'm pretty close to getting this done.

One thing that might help is to establish with 100% certainty that the issue is caused by a combination of wildcards and extglobs, I haven't had a chance to run the patterns (sans wildcards) in [extglob](https://github.com/micromatch/extglo

[2017-09-05 15:35] fidian commented on #100
Does this help?

[code]

Results in the following output.

[code]

[2017-09-05 16:02] jonschlinkert commented on #100
It might, thank you! I'm working on it this afternoon.

[2017-09-07 18:00] trevordmiller opened #106 "Possible recursive pattern bug"
I'm not sure if this is a bug or me doing something wrong but I'm not getting any matches with `someDir/**/someDir/**/*.somefile`. For example, with these patterns (the green and orange are what I would expect for each pattern, but no matches are found):

![image](https://user-images.githubusercontent.com/5497885/30177740-f8dda016-93c3-11e7-91cb-bc914f6e1236.png)

Is my pattern incorrect or is thi

[2017-09-07 19:24] trevordmiller commented on #106
If it is relevant, I'm using Jest which uses micromatch for the globbing; the use cases are npm scripts like this:

[code]

Which give these errors:

[code]

[code]

[2017-09-07 19:38] doowb commented on #106
@trevordmiller that helps a lot. What OS are you running those on? (it looks like Mac, but just want to be sure)

[2017-09-07 19:59] trevordmiller commented on #106
@doowb Yes it is mac. I was able to get this working using Jest regex:

**package.json**
[code]

[2017-09-07 20:09] jonschlinkert commented on #106
hmm interesting, is it only failing on double extensions?

[2017-09-07 20:38] doowb commented on #106
`jest` is using an older version of `micromatch`. I'm trying to update it and run the tests with the latest version.

[2017-09-08 01:42] jonschlinkert commented on #99
Really sorry for the delay. I believe this is fixed now so I'm going to go ahead and close, but please reopen or create another issue if this happens again.

[2017-09-08 01:42] #99 closed

[2017-09-08 01:50] trevordmiller commented on #106
@jonschlinkert Correct.

[2017-09-08 02:19] #100 closed

[2017-09-08 02:25] jonschlinkert commented on #103
Sorry for the delay. These should be working now.

related

https://github.com/micromatch/nanomatch/commit/acde39356bc0708b2e26149e6c084ae505fb9021

[2017-09-14 18:47] jonschlinkert commented on #106
Closing since this was resolved in current version of micromatch.

[2017-09-14 18:47] #106 closed

[2017-09-15 02:48] trevordmiller commented on #106
@doowb Any idea when Jest will upgrade to `micromatch 3.0` with this fix?

[2017-09-15 03:30] doowb commented on #106
I don't know. When I get a chance I can try to submit a PR if someone else doesn't first.

[2017-10-09 20:43] SimenB opened #107 "Unable to bundle micromatch@3 with rollup"
Jest uses micromatch 2. When attempting to upgrade to micromatch 3 the build for the browser fails since rollup is unable to bundle micromatch@3.

## Please describe the **minimum necessary steps** to reproduce this issue:
See https://github.com/SimenB/micromatch-rollup

## What is happening (but shouldn't):
Rollup fails to bundle micromatch.

[code]

## What should be happening instead?
Rollup sh

[2017-10-09 21:22] jonschlinkert commented on #107
closing, please create an issue on `class-utils`. also, technically this is a rollup issue, but I don't mind helping to get it fixed.

[2017-10-09 21:22] #107 closed

[2017-10-09 21:25] SimenB commented on #107
Sure: https://github.com/jonschlinkert/class-utils/issues/3

[2017-10-16 17:11] sntran opened #108 "Braced expansion match issue"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening (but shouldn't):

It returns an empty array.

Further more, running `mm.isMatch('./css/critical/header.css', './css/critical{.css,**/*.css}')` returns `false`.

## What should be happening instead?

It should return `['./css/critical/header.css']`, and `.isMatch` check above should return `tru

[2017-10-16 22:19] jonschlinkert commented on #108
Why not use `css/critical/**/*.css`? The brace pattern you used is confusing, it would match `css/critical.css`.

Also, the leading `./` is probably causing a problem in the glob. Using `./` is only necessary for `require()`, everywhere else it's unnecessary.

[2017-10-16 22:29] sntran commented on #108
Because that is my intention. I want to include both "css/critical.css" and all the CSS files under "css/critical".

The leading `./` is there because my glob is given by outside user, which is used to Bash and the like. I can check and remove it, but this is something `path` module already handles, so I did not give much thought.

[2017-10-16 23:02] jonschlinkert commented on #108
Got it, thanks for clarifying.

Thanks for confirming, I'm going to close this issue and open a new one. I think that should be handled.

[2017-10-16 23:02] #108 closed

[2017-10-18 20:16] chimurai opened #109 "3.0.0 regressions?"
First of all, thanks for this awesome library.

Was upgrading some dependencies for https://github.com/chimurai/http-proxy-middleware and stumbled on some failing tests.

## Please describe the **minimum necessary steps** to reproduce this issue:

Some glob patterns behave differently between `2.3.11` and `3.1.0`

## What is happening (but shouldn't):
micromatch `3.1.0`

[code]

## What should be

[2017-10-19 02:00] jonschlinkert commented on #109
Your glob pattern is defined incorrectly. It should be `/**/*.jpg` instead of `/**.jpg`.

Per bash specification, a globstar (`**`) is regarded as a single star (`*`) when it is followed or preceded by any character besides `/`.

[2017-10-19 02:00] #109 closed

[2017-10-19 08:12] chimurai commented on #109
Ah thanks. Guess I'll update/remove the incorrect globs :)

[2017-10-20 20:25] greyepoxy opened #110 "Inconsistent behavior between makeRe and isMatch"
- micromatch: 3.1.0
___
## Please describe the **minimum necessary steps** to reproduce this issue:
I have this code:
[code]

## What is happening (but shouldn't):
It results in the following console output
[code]

## What should be happening instead?
I expected
[code]
___

Debugging through the source looks like the difference in behavior is the result of [matcher calling unixify](https://github.

[2017-10-20 21:03] es128 commented on #110
Related: https://github.com/micromatch/nanomatch/issues/6

[2017-10-20 21:56] jonschlinkert commented on #110
Ah, this helped me narrow down exactly what's causing the issue. I think the `./` is sliced from the string before creating the regex, I'll get a fix pushed up. thanks

[2017-10-21 00:35] #110 closed

[2017-10-23 20:46] greyepoxy commented on #110
thanks that worked!

[2017-10-30 12:57] benpolinsky commented on #99
Hi,

I'm receiving a similar error, only when running integration tests. I've had a tough time reproducing the error in a more isolated case.

When I get a chance I can try to narrow down my use case and replicate, but this has been nagging me for a few weeks.

Sometimes the error is
`TypeError: utils.isObject is not a function`

and other times the error is
`TypeError: utils.define is not a funct

[2017-10-30 15:56] jonschlinkert commented on #99
Hi @benpolinsky, is that the entire stack trace? We'll need more info to help debug. For starters:

- what OS are you using?
- what code were you running that created the error?
- is there a repository we can look at?
- anything else you can think of that might help with debugging

[2017-11-22 20:03] greyepoxy opened #111 "inconsistencies between makeRe and isMatch with globs starting with './'"
- micromatch: 3.1.4
___
## Please describe the **minimum necessary steps** to reproduce this issue:
I have this code:
[code]

## What is happening (but shouldn't):
It results in the following console output
[code]

## What should be happening instead?
I expected
[code]

[2017-11-26 11:09] rprieto opened #112 "document behavior for ignore when using micromatch.isMatch"
Hi,

I just found this inconsistency between `match` and `isMatch` in `micromatch@3.1.4` and wondering if there's a functional difference I don't understand:

[code]

[2017-11-27 18:18] jonschlinkert commented on #111
What OS and version of node.js are you using?

[2017-11-27 19:10] #111 closed

[2017-11-27 19:15] jonschlinkert commented on #112
`options.ignore` isn't supported with `.isMatch`, since `.isMatch` can only take one string. Can you tell me more about the use case? I assumed there was no need for `ignore` with `.isMatch`, but it might make more sense if you tell me how you're using it.

[2017-11-27 19:36] greyepoxy commented on #111
Ah looks like you already have a fix but to answer your question,
`node -v` -> v8.9.1
OS Name	Microsoft Windows 10 Enterprise
Version	10.0.14393 Build 14393

[2017-11-27 21:36] greyepoxy commented on #111
Thanks for fixing! I verified that it works as expected

[2017-11-28 06:34] rprieto commented on #112
Thanks I didn't realise that. The best way is to show some code: https://github.com/thumbsup/thumbsup/blob/master/src/components/index/glob.js#L29

The use case is checking if a folder path matches a particular condition (doesn't start with a dot, and doesn't match particular regexes). I'm only testing one folder at a time so I only need a boolean. I ended up using `micromatch.match(...).length >

[2018-01-05 13:24] jandockx opened #113 ".isMatch has issues with ** in {}"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening (but shouldn't):

`μm.isMatch(strB, glob2)` returns false.

## What should be happening instead?

It should return true (like minimatch).

[2018-01-05 14:12] jandockx opened #114 "micromatch.isMatch matches * the empty string, while minimatch does not"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

micromatch matches * the empty string, while minimatch does not
according to (some) bash documentation, * should be [0..n], so micromatch would be right, and minimatch would be wrong

## What is happening (but shouldn't):

the difference between minimatch and micromatch is undocumented and surprising

## What shou

[2018-01-06 20:32] phated commented on #114
@jandockx what does Bash 4.3 do?

[2018-01-06 20:34] phated commented on #113
@jandockx What does Bash 4.3 do?

[2018-01-06 20:37] jandockx commented on #114
[GNU/Linux Command-Line Tools Summary / Chapter 20. Mini-Guides / Wildcards](http://www.tldp.org/LDP/GNU-Linux-Tools-Summary/html/x11655.htm) says explicitly

But I don't know whether [GNU/Linux Command-Line Tools Summary / Chapter 20. Mini-Guides / Wildcards](http://www.tldp.org/LDP/GNU-Linux-Tools-Summary/html/x11655.htm) is authoritative. There is no real standard. Nevertheless, this is one of

[2018-01-06 20:41] phated commented on #114
Is that the same as https://www.gnu.org/software/bash/manual/ (linked in docs).

[2018-01-06 20:50] jandockx commented on #114
@phated

[3.5.8 Filename Expansion](https://www.gnu.org/software/bash/manual/html_node/Filename-Expansion.html#Filename-Expansion) is too opaque for me. I don't understand what is written there.

[3.5.8.1 Pattern Matching](https://www.gnu.org/software/bash/manual/html_node/Pattern-Matching.html#Pattern-Matching) however also says explicitly:

[2018-01-06 21:29] jandockx commented on #113
@phated: 4.4 matches; for 4.3, I don't know.

[code]

[2018-01-08 04:54] jonschlinkert commented on #114
We can't use minimatch as a source of truth, it fails a huge % of the micromatch and bash unit tests.

This, as you point out, is what makes this difficult sometimes. I created https://github.com/micromatch/glob-spec a while ago with the intention of creating said spec, a PR or issue to kick that off would be great.

With all of that said, from a "purist" interpretation the micromatch result is co

[2018-01-08 04:54] #114 closed

[2018-01-08 04:58] #113 closed

[2018-01-08 05:04] jonschlinkert commented on #113
fixed, thank you for creating the issue

[2018-01-11 15:04] SimenB commented on #107
Still doesn't work, it now fails with `use`.

[code]

[2018-01-12 18:44] megamindbrian commented on #95
Is there a solution for this?  I've tried both chokidar and glob-watcher and they both give me this error.  I assume it's something to do with version numbers.

[2018-01-12 19:51] jonschlinkert commented on #95
Can you clarify? This is a closed issue, which means it was solved.

[2018-01-12 20:48] megamindbrian commented on #95
@jonschlinkert I ran npm update today and when I use watch('**/*.ipynb') I get this error:
https://github.com/here-be/snapdragon/issues/11

[2018-02-03 04:24] tolmasky opened #115 "request: Fail on trailing slash?"
In the context I'm using micromatch, the expectation is that you are almost only ever wanting to match files, and matching directories is a very rare occurrence. Additionally, I know for a fact that all the directory paths I'll be passing micromatch end in a /.

Currently micromatch seems to match trailing slashes by default unless you explicitly state you don't want one: `/a/b(!/)`. I would very

[2018-02-03 11:21] jonschlinkert commented on #115
This follows bash behavior, what you're requesting differs from bash.

Try this:

[code]

You could just push an ignore pattern onto the `options.ignore` array.

[2018-02-04 22:09] jonschlinkert commented on #115
closing since this isn't a bug and we're going to try to adhere to bash behavior.

[2018-02-04 22:09] #115 closed

[2018-02-15 19:53] mrmlnc opened #116 "Broken RegExp for pattern with noext option"
## Please describe the **minimum necessary steps** to reproduce this issue:

Just run the following code:

[code]

## What is happening (but shouldn't):

In the `re` variable we have a the following RegExp:

[code]

As we see, `\d` in this case will match digits instead of the `d` character.

## What should be happening instead?

The `\d` symbol should be `d`.

[2018-02-16 00:45] mrmlnc commented on #116
The problem is here:

https://github.com/micromatch/micromatch/blob/master/lib/compilers.js#L53

We shouldn't add `\\` to text node.

[2018-02-17 10:22] thasmo opened #118 "Regular expression from `makeRe` does not match Windows paths"
## What is happening (but shouldn't):
The created regular expression which is returned by `makeRe` does not match given Windows paths.

## What should be happening instead?
The created regular expression which is returned by `makeRe` should also match Windows paths.

## Code
[code]
**Proof:**
https://regex101.com/r/aevRx8/2

[2018-02-17 10:31] thasmo commented on #118
Shouldn't every path separator regexp-pattern be more like `(?:\/|\\)`? instead of just `\/`? Do I miss something here?

[2018-02-17 10:41] thasmo commented on #118
Even minimatch's `makeRe` does it wrong, it seems. Also see [this comment](https://github.com/isaacs/minimatch/issues/64#issuecomment-275102348).

[2018-02-18 14:04] #118 closed

[2018-02-18 14:06] jonschlinkert commented on #116
good catch! thanks for the issue.

[2018-02-18 19:06] mrmlnc commented on #116
Should be fixed by `3.1.6`.

[2018-02-18 19:06] #116 closed

[2018-02-18 20:08] jonschlinkert commented on #116
awesome thanks! Published and released as 3.1.6. I appreciate the issue and PR!

[2018-02-20 17:21] jevancc opened #119 "Negation doesn't work properly with matchBase"
## What is happening (but shouldn't):
Negation pattern does not work properly with option `matchBase` in `micromatch@3.1.6`.

## Code
[code]

[2018-02-20 19:46] #119 closed, assigned to nobody

[2018-02-20 19:48] jonschlinkert commented on #119
@jevan0307 thanks for the issue. This was fixed, published and released as 3.1.7. Please reopen if you're still having issues, or create a new issue. Thanks!

[2018-02-20 20:03] jonschlinkert commented on #119
Hmm, looks like the appveyor test is failing on windows for node.js 6 and lower. I'm not sure why, but oddly that version is incorrectly building the regular expression. It's perfectly valid regex, but still... a mystery. I'll figure it out.

[2018-03-20 11:46] amir-arad opened #121 "unable to bundle micromatch to browser using webpack"
## The **minimum necessary steps** to reproduce this issue:
try to bundle a file which `require`s micromatch, using webpack.
…
## What is happening (but shouldn't):
[Link](https://ci.appveyor.com/project/amir-arad/kissfs/build/1.0.53#L608)
[code]
…

## What should be happening instead?
In my opinion, It should bundle with no dependency in nodejs API. There shouldn't be a need to use the `fs` modul

[2018-03-21 05:39] jonschlinkert commented on #121
webpack bug, report it there

[2018-03-21 05:39] #121 closed

[2018-03-21 09:22] amir-arad commented on #121
I dont think this is a webpack bug. IMO the bug is that micromatch (via snapdragon) depends on nodejs API. seems easily avoidable, and a small price to pay to be browser compatible.

[2018-03-21 10:02] jonschlinkert commented on #121
fwiw, it's an anti-pattern to write node.js modules like they're for the browser. If you can't get something to bundle for the browser, it's a problem to be solved by the bundler. That said, I understand that if you are focused on front-end dev, then that is your frame of reference and it is frustrating when this happens.

That said, the issue is source-maps. We can externalize source map support,

[2018-03-21 12:28] amir-arad commented on #121
sounds great. thanks!

[2018-03-21 12:30] amir-arad commented on #121
reference :
https://github.com/here-be/snapdragon/issues/7   ?

[2018-03-21 12:35] danez opened #122 "Update snapdragon to latest version"
This is here to track progress of updating snapdragon in micromatch

### Dependencies

- [x] Update snapdragon in nanomatch micromatch/nanomatch#9
- [x] Update snapdragon in expand-brackets micromatch/expand-brackets#9 => **4.0.0**
- [x] Update snapdragon and expand-brackets in extglob => **3.0.0**
- [ ] Update snapdragon, nanomatch, expand-brackets and extglob in micromatch

[2018-04-07 23:30] mrcoles opened #123 "makeRe does not handle parens as part of filename - different from minimatch"
## Please describe the **minimum necessary steps** to reproduce this issue:

In a new directory using bash:

[code]

Then in the `node` repl:

[code]

## What is happening (but shouldn't):

The regular expression that is generated by micromatch does not match `f`.

## What should be happening instead?

I believe it should match and work the same as minimatch?

I encountered this while seeing tests

[2018-04-08 01:44] jonschlinkert commented on #123
Looks like a bug. That should work. I know where that's handled, I'll get a fix pushed up.

[2018-04-08 10:28] mrmlnc opened #124 "Benchmark uses the cache"
## Source

  * https://github.com/mrmlnc/fast-glob/issues/92

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening (but shouldn't):

In the benchmark `micromatch` uses a cache, which gives it priority over competitors. I may be lying, but I see strange numbers.

[code]

<details>

<summary>The full set of benchmarks without cache</summary>

[cod

[2018-04-08 12:28] jonschlinkert commented on #124
I'd also be happy to look at the initialization mentioned in the linked issue.   Can you clarify what "initialization of filters" means?

and fwiw, when I mentioned "a few ms" I hadn't read that issue yet, and I wasn't trying to be flippant. I am always very in support of optimizing any part of the code.

We are working on the next version of micromatch which will have a smaller dependency tree, m

[2018-04-08 12:39] jonschlinkert commented on #124
@mrmlnc I'm going to try to get the next version done in the next week. I'm traveling on tues-wed, but this will be a priority. I already have a huge start on it.

[2018-04-08 13:05] jonschlinkert opened #125 "initialization performance degraded"
When 3.0 was published, I remember init time being in the 30ms range, because I wasn't happy about it. It's the reason I've been refactoring snapdragon, so I can remove deps anywhere possible and reduce init time.

However, it has come to my attention from https://github.com/mrmlnc/fast-glob/issues/92 that init time is 90ms! Which means that either I am remembering incorrectly, or something has ch

[2018-04-08 14:31] jonschlinkert commented on #123
closing since this isn't a bug, and I confirmed that the solution works. If you still have trouble with it, please feel free to re-open the issue or continue the conversation here.

[2018-04-08 14:31] #123 closed

[2018-04-08 15:35] mrmlnc commented on #124
Hello, @jonschlinkert,

I think we're talking about different initialization times. It's my mistake. Sorry.

Under the «initialization of filters» time I understand the time of creating a regular expression (`micromatch.makeRe` + something).

Unfortunately, now it takes **14ms** for one pattern (`micromatch.makeRe`). Now I'm talking about the `src/types/{one,two,three,four,five}/*/sub/y/y.json` pa

[2018-04-08 15:58] mrmlnc commented on #124
Relative to the benchmarks.

I understand that there are optimizations and other cool functionality. But when we want to compare two instruments that do the same thing, we need to put them on an equal footing (level playing field).

Now it turns out that minimatch performs all operations from scratch every time it starts in the benchmark. On the other hand, micromatch performs all operations only

[2018-04-10 03:05] wtgtybhertgeghgtwtg commented on #125
I curious as to how https://github.com/micromatch/micromatch/issues/122 will affect this.  Are there any numbers on the start-up performance of `nanomatch` or `expand-brackets`?

[2018-04-10 03:27] jonschlinkert commented on #125
Not any formal numbers, but it shouldn't have as much impact, or a negative impact, on the individual libraries. It's the build-up of different versions - along with extremely slow init in the source map libs, that's causing micromatch to initialize slowly.

That said, even if it has a negative impact it won't be for long. I'm actively working on the next versions to ensure init is as fast as poss

[2018-04-10 03:55] wtgtybhertgeghgtwtg commented on #125
I'm betting it'll help performance.  While the latest version of `snapdragon` still has a good deal of duplication among transitive dependencies, the dependency tree of the version that `micromatch` currently pulls in is almost twice its size.

[2018-04-21 02:24] wtgtybhertgeghgtwtg commented on #122
So, since `snapdragon@0.12` came out, does that mean these should be bumped to use that?

[2018-04-23 11:17] xwenliang opened #126 "Any bug with micromatch@2.3.11 ?"
## Please describe the **minimum necessary steps** to reproduce this issue:

I want to math some urls without `/js/`, but I get confused by the two version:

## What is happening (but shouldn't):

[code]

## What should be happening instead?

[code]

[2018-04-23 12:00] danez commented on #122
0.12 has literally no difference to 0.11.4, so not sure why it was released in the first place (@doowb), but yes we should use the latest version then.

[2018-04-23 13:46] doowb commented on #122
I had to rollback the changes in `0.11.4` and re-publish `0.11.3` as `0.11.5` because `0.11.4` had breaking changes due to differences in how the nodes are handled in different versions of `snapdragon-util`. This showed up in an [issue in breakdance](https://github.com/breakdance/breakdance/issues/11).

I published `0.12.0` with the newer changes from `0.11.4` so those could be used.

[2018-04-23 23:43] jonschlinkert commented on #126
The latest version of micromatch in your example is correct.

[2018-04-23 23:43] #126 closed

[2018-04-29 06:03] trusktr commented on #58
In case someone stumbles here, you can do this in Node to get an exact path:

[code]

rather than trying to use only a pure glob, like

[code]

because then, even though there may be only one `src` folder in your project, it isn't a guarantee.

[2018-05-02 08:16] dxinteractive commented on #121
Hi, just hit this one. I'd love to use micromatch to match globs in a browser based library, but unfortunately cannot because of the fs / path dependency. Because i'd be using micromatch in a library, I don't get to control the bundling process, and as my library is going to be advertised for browser use, it's unfair of me to expect users of my library to have to change their bundling process. So

[2018-05-02 10:59] jonschlinkert commented on #121
webpack and browserify have solutions for this, we've explain this so many times it's getting old. Node.js modules should be node.js modules to the best of their ability. It's not this library's job to make your code work in the browser, and it never should be.

[2018-05-02 22:28] dxinteractive commented on #121
I'm not sure I explained my point well enough. Please don't think I'm implying that micromatch *should* be made to work in browser, I'm not asking for that, just saying that if it did that would be a bonus. Like I said, if both snapdragon and micromatch are intended to target node.js first and foremost, and not promise browser support out of the box, then that's fine, and it's not this libraries j

[2018-05-02 23:11] jonschlinkert commented on #121
Bundlers **_can be used_**. The fs method(s) are the only things that obviously won’t work in the browser.

Sent from my iPhone

[2018-05-02 23:30] dxinteractive commented on #121
Well sure, but bundlers can be used only by the dev doing the bundling for web. If I publish a library used by that dev, then I cannot control how they do their bundling. A library is only browser ready if it has no dependencies on node.js. If my library has any nested dependency on fs, then I cannot say that my library is browser ready. Maybe thats a purely front end dev expectation, but I think

[2018-05-02 23:34] doowb commented on #121
@dxinteractive you can bundle and distribute the bundle as a "browser ready" library so your users don't have to bundle it. I'm assuming you're already doing that if you're using npm modules and `require` anyway.

[2018-05-02 23:43] dxinteractive commented on #121
Ah, just bundle my libraries dependencies together with my library code, so the dependency doesn't need to be bundled by the end user? Yeah, that would work, thanks. @jonschlinkert I think I get your point now.

[2018-05-12 07:26] sttk opened #127 "Matcher doesn't work properly when glob contains Japanese characters."
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening (but shouldn't):

See [gulp#2153](https://github.com/gulpjs/gulp/issues/2153).

## What should be happening instead?

Support glob which contains Japanese characters.

[2018-05-12 07:31] jonschlinkert commented on #127
Where does gulp use micromatch?

- what operating system?
- are the characters valid file path characters?

[2018-05-12 07:34] sttk commented on #127
@jonschlinkert I reproduced on macOS and this Japanese folder name is valid on it.

[2018-05-12 07:36] jonschlinkert commented on #127
Ok, thanks. But again, where does gulp use micromatch?

[2018-05-12 07:38] mrmlnc commented on #127
Inside `chokidar` package (see related issue).

[2018-05-12 07:40] sttk commented on #127
@jonschlinkert Oh, sorry. I overlooked your one question.

Dependency is `gulp` -> `chokidar` -> `anymatch` -> `micromatch`.

[2018-05-12 07:41] jonschlinkert commented on #127
Ok, thanks. I just wanted to clarify it's not a gulp issue. It seems like a relatively easy fix, I'll get something pushed up.

[2018-05-13 20:14] phated commented on #127
@sttk ❤️for digging into the dependency chains and finding this!
@jonschlinkert ❤️for working on a fix!

[2018-05-14 02:11] jonschlinkert commented on #127
@sttk does it work when you escape the characters?

Like:

[code]

[2018-05-14 12:28] sttk commented on #127
@jonschlinkert No, it does not work well.

Maybe the part of the cause is `\b` in the following regular expression created by micromatch.

[code]

According to [this article in MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions), `\b` treats characters which is not specific set as a word break, including Japanese characters.

[2018-05-14 12:35] jonschlinkert commented on #127
Good thinking! I was thinking there might be a check somewhere that uses `\w` to test some part of the glob, which would also probably fail for the same reason stated in the article you linked to.

Now I have a couple of things to look for, thanks!

[2018-05-14 15:53] jonschlinkert commented on #127
I have a fix for this. I'll push it up asap.

[2018-05-14 21:18] Y0hy0h opened #128 "Trailing slash impacts match"
## Please describe the **minimum necessary steps** to reproduce this issue:
[code]

## What is happening (but shouldn't):
The trailing slash prevents the pattern from matching.

## What should be happening instead?
I haven't figured out how to test this behaviour against bash, but I assume that the trailing slash should still match.

This behaviour came up in [an issue on yarn](https://github.com/

[2018-05-14 21:32] Y0hy0h commented on #128
Sorry, could have checked the version. 😅

Thanks for the lightning fast reply. :)

[2018-05-14 21:49] Y0hy0h commented on #128
Actually, in the newest version, the bug is present. See https://runkit.com/embed/h73y8gc3id4a.

[2018-05-14 21:52] jonschlinkert commented on #128
Is this an expected result in bash?

[2018-05-14 22:01] Y0hy0h commented on #128
Ok, I've finally found a link on how to test this in bash. (It's really easy. 🤦‍♂️ )

I can't tell. If at my root folder I run `echo bin`, it returns `bin`, if I run `echo bin/`, it returns `bin/`. To me, this is ambiguous with respect to this issue.

I just interpreted [your response](https://github.com/micromatch/micromatch/issues/128#issuecomment-388967459) as agreeing with this issue. But ulti

[2018-05-15 01:41] milesj opened #129 "Confused about regex groups"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

Using v3.1.10.

## What is happening (but shouldn't):

Returns false. I've tried `+()`, `@()`, and other variants with no luck.

## What should be happening instead?

I believe these should return true.

[code]

[2018-05-15 01:46] jonschlinkert commented on #129
Not able to reproduce. Here is what I get:

[code]

- What OS are you using?
- What version of node.js?
- any other details that might help figure out the issue

[2018-05-15 01:58] jonschlinkert commented on #128
I agree, this issue isn't as clear-cut as it seems at first glance. In globbing libs that hit the fs - as with bash, it's easier to reason that a trailing slash should match directories, but there is no concept of a directory here. On one hand, I agree that (intuitively) it just seems like it should match. But given that we don't have the benefit of file system hints, et cetera, I'm more inclined

[2018-05-15 03:15] milesj commented on #129
So I figured out the example in my first post. Turns out Jest was showing the wrong line numbers. However, this pattern is still confusing me.

[code]

Is it a whole word vs partial thing?

[2018-05-15 05:49] Y0hy0h commented on #128
Yes, this is absolutely fine. :)

Thanks for your response!

[2018-05-15 06:52] milesj commented on #129
Here's the build: https://travis-ci.org/milesj/beemo/jobs/379067388

And the test: https://github.com/milesj/beemo/blob/master/packages/core/tests/SyncDotfilesRoutine.test.js#L75

And the code: https://github.com/milesj/beemo/blob/master/packages/core/src/SyncDotfilesRoutine.ts#L58

[2018-05-19 05:36] milesj commented on #129
@jonschlinkert I don't see that documented anywhere. Is it new?

[2018-05-19 11:56] jonschlinkert commented on #129
No.

[2018-05-21 06:27] milesj commented on #129
`contains` worked for me, thank you!

[2018-05-21 06:27] #129 closed

[2018-06-22 14:03] phated commented on #127
Any update on this?

[2018-07-10 15:14] roydukkey opened #132 "Windows globs are not matching."
### Using

- ENV = Windows 8.1
- gulp = 4.0.0
- micromatch = 3.1.10

## Reproduce issue:

[code]

## What is happening:

[code]

## What should be happening instead?

Windows paths are breaking when they are using a backslash (`\`). It should not be expected that paths only be provided with forwardslashes, as it is a common scenario to use `path.join()` on path strings (which will produce path str

[2018-07-11 13:03] Vinnl opened #133 "solved: Regression from v3: matches that used to work no longer do"
The changelog says

Hence this issue :)

## Please describe the **minimum necessary steps** to reproduce this issue:

Matches that used to work in `micromatch@2` no longer do in `micromatch@3`. I'm not sure exactly in what cases, but it would be good to mention them in the CHANGELOG.

It's explained in more detail at https://github.com/facebook/jest/issues/6563#issuecomment-403171406, but e.g. `sr

[2018-07-11 13:28] jonschlinkert commented on #133
Hi @Vinnl, thanks for the issue.

Indeed, the changelog is wrong. This is my reminder to update our very neglected changelog, I'm sorry for the inconvenience that caused.

Regarding the actual issue, since I haven't seen any details that lend insight into where and how the patterns are handled etc. (only that it's "not matching"), I'm going to make a leap and assume that it's related to the most "

[2018-07-11 13:35] Vinnl commented on #133
It's a bit hard for me to diagnose as well since it happened inside on of my dependencies (i.e. Jest), but if by "window backslashes" you meant "Windows backslashes" - if that's the case, then Jest should have been doing something with my glob pattern. I'm running on Linux, and did not escape any paths. If helpful, my glob patterns were defined [here](https://gitlab.com/Flockademic/Flockademic/blo

[2018-07-11 13:40] jonschlinkert commented on #133
typo, fixed.

Hmm, something else is going on then. I'm still thinking it's related to joining globs, but I'm not sure what specifically. I'll try to look into it.  Thanks for the additional info.

[2018-07-11 13:47] jonschlinkert commented on #133
Fwiw, to clarify (even though it doesn't really pertain to you since you're not using Windows) it's more related to something like this: `path.join(cwd, '**/*.js')`.

On Windows, that would result in something like `'\\foo\\bar\\**/*.js'`, where the first `*` is now escaped and will no longer be respected as a special character. I know this might seem inconvenient, but the alternative is the inver

[2018-07-11 13:56] Vinnl commented on #133
For me, I encountered the errors both locally and running in GitLab CI/CD - both on Linux. That said, there were quite a few others in that bug report that encountered it too, and I don't know where they encountered it. Of course it's perfectly possible that it happens somewhere in the interaction with Jest, but I just noticed that [you are present in their issue tracker already](https://github.co

[2018-07-11 15:20] Tvrqvoise commented on #133
Here's a test case demonstrating the difference of behavior between versions:
https://github.com/Tvrqvoise/test-micromatch-bracket-handling

A couple opinions here:
 - The behavior in version 3 is in my eyes correct.  For that reason, I don't feel this is a regression so much as a documentation issue
 - We don't know that version 3.0.0 is precisely where it broke.  It's possible that a later bug f

[2018-07-11 15:51] Tvrqvoise commented on #133
Totally agreed -- I think the issue is just that this change in behavior isn't mentioned in the CHANGELOG.  I think even: "v3 handling of glob is more strict, so some invalid expressions which worked in v2 may no longer function" would suffice, though if we know precisely what changed (which would be hard, since v3 was cut so long ago) that would be better.

[2018-07-16 23:14] eGavr opened #135 "Incorrect behaviour for for patterns with underscore"
Hi!

I've met a bug using the latest version of micromatch (3.1.10).

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening (but shouldn't):

The result is `true`.

## What should be happening instead?

I expect the result to be `false`.

Thanks

[2018-07-18 14:42] jonschlinkert commented on #135
@eGavr ping

[2018-07-19 01:07] jonschlinkert commented on #135
Closing since I cannot reproduce this in micromatch.

[code]

Ping @es128, looks like this might be a bug in anymatch in case you want to look into it.

[2018-07-19 01:07] #135 closed

[2018-08-04 18:33] markasoftware opened #136 "Throws opaque error when argument to .matcher's return value is not a string"
## Please describe the **minimum necessary steps** to reproduce this issue:
1. `micromatch.toMatcher('he??o')(47)`
…

## What is happening (but shouldn't):
The error `TypeError: str.charAt is not a function` is thrown.
…

## What should be happening instead?
A human-readable error should be thrown, making clear that the argument must be a string, and what the type of the erroneous argument was.
…

[2018-08-05 01:48] jonschlinkert commented on #136
That's a javascript error. IMHO that's pretty clear, we can add a type check.

[2018-08-27 15:33] jonschlinkert opened #137 "v4.0"
## v4.0

**Goals for 4.0**

- Targeted for first week of September, 2018
- massive reduction in dependencies - no more snapdragon.
- Load time - currently around 1.5ms
- Fast first match - less than 5ms from a cold start
- opt-in caching

## v3.0 post-mortem

**What we did well in 3.0**

- accuracy
- parity with bash (ignoring cases where certain bash/shell behavior doesn't make sense in node.js)

[2018-08-27 18:08] phated commented on #137
@jonschlinkert great post!  And I like the goals set forth for 4.0 ❤️

[2018-08-27 23:44] jonschlinkert commented on #137
thanks @phated!

[2018-08-30 14:53] bradgreens commented on #122
I believe that because `snapdragon@0.8.1` has `base@0.11.1` as dependency, which has `mixin-deep@1.2.0` as a dependency, GitHub is flagging my package-lock.json with the following security vulnerability: https://nvd.nist.gov/vuln/detail/CVE-2018-3719.

In my use case, this comes through the `ts-loader` dependency chain.