[2018-08-30 16:28] doowb commented on #122
Based on how [npm handles semantic versioning](https://docs.npmjs.com/getting-started/semantic-versioning), you should be getting `mixin-deep@1.3.1`. If a different version is in your `package-lock.json` file, then you should update it either by deleting the `package-lock.json`, clearing the npm cache and re-installing your dependencies, or using whatever command npm suggests, which I think is `np

[2018-08-30 17:06] bradgreens commented on #122
Thanks,

I deleted `package-lock.json`, ran `npm cache clean --force`, `npm i`. It produced `base@0.11.2` with `mixin-deep@1.3.0`. `1.3.0` includes the vulnerability, interestingly enough `base@0.11.2` [appears to specify `mixin-deep@1.2.0`](https://github.com/base/base/blob/0.11.2/package.json#L39) regardless.

I also tried `npm update` after, no luck. We can't really do that anyways as we have m

[2018-08-30 17:10] doowb commented on #122
I understand... npm should be installing `mixing-deep@1.3.1` since that's published. I'm not sure why it's not, other than some other issue with npm caching a different version.

[2018-09-05 08:07] jimmywarting commented on #137
You could reduce some more if you target node LTS versions meaning no more support for node < 6

[2018-09-05 11:42] jonschlinkert commented on #137
The goal is for micromatch v4.0 to only have two dependencies: one for brace expansion, and one for parsing globs and creating regular expressions. The latter won't have any dependencies of its own. The brace expansion library (`braces`) has other dependencies, but we will tackle that to reduce deps next.

[2018-09-06 23:01] paulmillr commented on #137
Love it!

[2018-09-13 16:01] jonschlinkert commented on #137
Nice! I’m almost finished moving to my new home, so probably in the next week. Is that soon enough? Honestly fwiw it’s probably ready to publish but I was planning on doing optimization first.

Sent from my iPhone

[2018-09-13 17:08] paulmillr commented on #137
Yes sir. Please optimize first.

[2018-09-19 22:29] Robert-J-Slover opened #138 "micromatch 3.1.10 package at registry.npmjs.org has bad file time stamps"
## Please describe the **minimum necessary steps** to reproduce this issue:

The release tarball retrieved for Micromatch 3.1.10 from the NPM javascript registry at [https://registry.npmjs.org/micromatch/-/micromatch-3.1.10.tgz](https://registry.npmjs.org/micromatch/-/micromatch-3.1.10.tgz) contains files whose time stamps are all midnight of January 1, 1970 (in GMT). The previous release [https:/

[2018-10-16 21:38] SimenB commented on #137
@jonschlinkert any news here? 🙏

[2018-10-16 23:50] jonschlinkert commented on #137
Yes! I've spent quite a bit of time on unit tests and optimization. I'll try to get something pushed up to a branch this weekend. Then we can all agree on whether it's ready to publish.

Thanks for the ping!

[2018-10-17 07:19] SimenB commented on #137
Awesome news! Looking forward to land this in Jest 24 🙂

[2018-10-20 09:21] mrmlnc opened #139 "Double (and more) leading dots in the files and directories"
## Issue source

* https://github.com/mrmlnc/fast-glob/issues/123

## Description

As I know, on Unix-like systems we can create files starting with an indefinite number of dots. Also we can create directories that start with three or more dots in the name.

This is a rather rare case, as I understand it.

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What

[2018-10-22 17:16] jonschlinkert commented on #137
Quick update. I ran into some issues last night trying to push up changes, I haven’t had time to investigate why yet, but I think I saw something about GitHub having problems. I’ll try again tonight or tomorrow.

Sent from my iPhone

[2018-10-22 17:53] SimenB commented on #137
Yeah, GitHub has had a lot of issues for the last 20 hours (still ongoing, even though it's better https://status.github.com/messages)

[2018-10-25 19:52] paulmillr commented on #137
@jonschlinkert sup

[2018-11-05 02:54] paulmillr commented on #137
@jonschlinkert ping.

[2018-11-05 02:58] jonschlinkert commented on #137
@paulmillr hey sorry I missed your last ping. I didn't forget, I've been porting tests. I'll just go ahead and push something up tonight for everyone to see.

[2018-11-05 12:16] jonschlinkert commented on #138
@Robert-J-Slover I can't reproduce this, it seems like something on your end or maybe it was a temporary issue with NPM? Please try deleting `node_modules` first, then reinstall everything.

Closing for now, but please reopen if the problem persists, we could publish a patch to see if it fixes the issue.

[2018-11-05 12:16] #138 closed

[2018-11-05 18:35] paulmillr commented on #137
Nice! Thank you!

[2018-11-11 10:44] mrmlnc opened #140 "Inaccurate comparison within a regular expression"
## Issue source

* https://github.com/mrmlnc/fast-glob/issues/138

## Description

The RegExp returns `true` for a string that does not match the pattern.

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

[code]

## What is happening (but shouldn't):

The `micromatch` returns `[packages/foo-foo/package.json']`.

## What should be happening instead?

The `microma

[2018-11-11 10:56] jonschlinkert commented on #140
I wonder why that's slipping past. Thanks for creating the issue, I'll make sure this gets fixed.

[2018-11-11 11:07] mrmlnc commented on #140
I think that is related to the following part of the RegExp:

[code]

If I remove the second part and remove `?` at first, everything works correctly.

[code]

[2018-11-11 11:11] jonschlinkert commented on #140
thanks for debugging! This will help

[2018-11-15 08:22] MasatoMakino commented on #127
I found a `?\b` segment in [nanomatch](https://github.com/micromatch/nanomatch)

https://github.com/micromatch/nanomatch/blob/a983ca01207f0e01a5ef5368aa9bd60e882135e9/lib/compilers.js#L220

Dependency is `gulp` -> `chokidar` -> `anymatch` -> `micromatch` -> `nanomatch`.
nanomatch is used in [micromatch.makeRe()](https://github.com/micromatch/micromatch/blob/10aacd747e9bfe3cef5b2132b085dd8f34be1582

[2018-11-27 23:43] SimenB commented on #137
Sorry to nag, but any updates here? Is it possible to release and land optimizations later, perhaps? 🙂 Really excited about the direction here!

[2018-11-27 23:47] jonschlinkert commented on #137
No worries, thanks for the reminder. Will do, I'll get something published ASAP.

[2018-11-30 15:59] jonschlinkert commented on #140
lol and now this tweet: https://twitter.com/jonschlinkert/status/1068534438764707841

[2018-11-30 22:51] jonschlinkert commented on #139
fixed by https://github.com/micromatch/picomatch/commit/1ae477e762c47e6dcd55352a08b6bd44116c6150

[2018-11-30 22:51] #139 closed

[2018-11-30 23:32] jonschlinkert commented on #127
I've fixed this and will be pushing up the next version of micromatch asap. I'm just getting docs finished.

[2018-12-01 00:59] phated commented on #127
@jonschlinkert you are awesome!  That's in the 3.x release line, correct? That's the transitive dependency in gulp (-> chokidar -> anymatch -> minimatch).  It'd have to fall in the 3.x line because I believe chokidar is planning to remove older node support in their next released version.

[2018-12-01 01:08] jonschlinkert commented on #127
Well, no, it's in the 4.0 release. Maybe I'm not so awesome... However, I can back and do a patch for the earlier versions as well.

[2018-12-01 01:17] phated commented on #127
A back-ported patch would be greatly appreciated!

[2018-12-03 15:05] wintercounter commented on #125
For me on Windows 10, Node 10.8 it's over 300ms.

[2018-12-14 17:14] #133 closed

[2018-12-21 05:10] jonschlinkert commented on #137
just wanted to mention that I haven't forgotten, I was stuck on a windows-related matching issue that I spent a great deal of time trying to figure out. Over the next few days, I'll finally have time to get this finished!

[2018-12-29 16:33] yongelee commented on #138
same problem. I can't deploy to AWS elastic beanstalk because of this problem.

[2018-12-29 17:39] yongelee commented on #138
i had to manually edit every file's timestamp that was outdated in this package folder.

[2019-01-03 15:48] SimenB commented on #137
Happy new years! 🎉 Any news on this?

[2019-01-19 12:16] fy0 commented on #122
[code]

Seems incompatible with nuxt.js.

[2019-01-19 12:46] fy0 commented on #122
@doowb Thank you for your reminder, I know what happened now.
I exported micromatch to window to make a playground. But I fogot there's no `fs` inside browser.

[2019-01-23 19:18] rprieto commented on #112
I noticed the `ignore` option is also ignored for `.any(str, patterns, options)`. Does the mean the option is only valid for the basic `.match()` usage? What is the reason behind it?

In the meantime I'm using `mm.any(str, whitelist) && ! mm.any(str, blacklist)` which I hope is just as efficient.

[2019-01-26 12:04] SimenB commented on #137
Jest 24 is out with micromatch v3 (so we upgraded from 2 to 3). From my understanding of the OP, we should be able to upgrade without it being a breaking change for consumers. Had to hack around the snapdragon dep for the browser builds though, so still looking forward to this 😀

[2019-02-12 03:08] paulmillr commented on #137
@jonschlinkert hey Jon, thanks for your work — do you think we can get the release ball rolling in February? We want to release chokidar v3 without node-gyp and radically decrease its bundle size before next nodejs v8.x release. That would be really useful!

[2019-02-13 13:08] jonschlinkert commented on #137
@paulmillr yes I think I can make that happen!

[2019-02-27 15:47] Jerska opened #144 "Inconsistent results between micromatch & isMatch if input string is identical to a pattern"
Hi and thanks for this awesome library!
Here's a small inconsistency we noticed.

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

With `isMatch`, it gives back the expected result:

[code]

Also, if the string is not exactly the same one as the excluded pattern, it works:

[code]

## What is happening (but shouldn't):

Anything suffixed by `.js` should be ignor

[2019-02-27 16:03] Jerska commented on #144
<details>
<summary>Removing the equality check breaks 4 tests:</summary>

[code]
</details>

[2019-02-28 13:07] mattparkins opened #145 "A package that micromatch depends on has a security vulnerability"
For me this vulnerability comes to light when using babel-cli which ultimately uses micrmatch which relies on braces:

Regular Expression Denial of Service
Package: braces
Patched in >=2.3.1
Dependency of babel-cli [dev]
Path babel-cli > chokidar > anymatch > micromatch > braces
More info: https://npmjs.com/advisories/786

[2019-02-28 16:11] jonschlinkert commented on #145
Please read closed issues on both libraries before spamming new issues.

[2019-02-28 16:11] #145 closed

[2019-03-04 05:02] jonschlinkert commented on #144
@Jerska thanks for the issue. I'll look into this and see what's happening.

[2019-03-04 08:16] SimenB commented on #137
Hey again! Sorry about the nagging, but the `require` time has been identified as a pretty severe performance regression in the latest version of Jest: #8032. What's the current status of v4?

[2019-03-04 08:18] thymikee commented on #137
Is there anything we can help with to make it happen? 🙂

[2019-03-04 09:31] jonschlinkert commented on #137
No worries! I don't mind, and I appreciate that you care and have been so patient. I've actually been working on this for the past several hours. I finally figured out how to get around this windows issue!! I'm going to keep working on this until it's released!

[2019-03-04 09:57] SimenB commented on #137
Awesome news, thanks @jonschlinkert!

[2019-03-05 12:06] dcruceanu opened #146 "Upgrade braces (security vulnerability)"
When executing `npm install `,
I' m receiving security issues:  130 vulnerabilities require manual review.
Braces 2.3.1 has a security vulnerability.

I have ran `npm audit fix`, but that's not fixing anything (I suppose that's because is not finding any new version).

I see that in package.json we have "braces": "^2.3.1", but this should be upgrade it to 2.3.2

[2019-03-05 12:21] jonschlinkert commented on #146
please read existing issues before spamming duplicates.

[2019-03-05 12:21] #146 closed

[2019-03-05 12:30] Glazy opened #147 "`yarn audit` failure caused by vulnerable version of `braces`"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then procede to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

1. `yarn install micromatch`
2. `yarn audit`

## What is happening (but shouldn't):

<img width="814" alt="screen shot 2019-03-05 at 1

[2019-03-05 12:36] jonschlinkert commented on #147
## Please stop creating spam

This issue has been answered and explained dozens of times on braces, micromatch, and other repositories.

`braces` was fixed ages ago, within a day or two of the report being created (although it was never a "vulnerability" in the first place, but that's besides the point).

**Any library that depends on braces will automatically get the patched version by simply rei

[2019-03-05 12:36] #147 closed

[2019-03-05 12:41] jonschlinkert opened #148 "braces: please read!"
# Do not create issues related to braces

1.  `braces` was fixed ages ago, within a day or two of the report being created
1. Semver makes this really simple. Patch the root library once, and all downstream libraries get the patch. Thus, **any library that depends on braces will automatically get the patched version by simply reinstalling**. _If you are not getting the latest version, you are prob

[2019-03-05 12:46] Glazy commented on #148
I was just about to come and close my issue as I realised this but you beat me to it! Thanks for the explanation and apologies for the spam issue 👍

[2019-03-05 12:49] jonschlinkert commented on #148
Lol, I think I've closed at least 20 braces issues in the past week. No worries, I know no one is doing it intentionally.

[2019-03-05 14:57] dcruceanu commented on #148
And if you were wondering why, that's because no one did explained CLEAR what we should do to fix that. I will use semver, ok, thanks... But I had just added it through npm add received the same error ....

[2019-03-08 20:16] jonschlinkert commented on #137
@SimenB I'm still working on it. Spent the last couple of days fixing a bug. I'll be pushing up something today, then I should be able to publish a beta. FWIW I know it seems like I'm probably not doing anything on this, but there was a bug that I had a really hard time figuring out for some reason. I ended up having to refactor the entire logic for stars and globstars. I finally have it working!

[2019-03-08 20:28] SimenB commented on #137
Super exciting @jonschlinkert! Will there be anything you'd consider breaking changes in this release?

[2019-03-14 01:33] jonschlinkert commented on #137
Alright, I really had every intention of pushing [this up](https://github.com/micromatch/picomatch/tree/dev) on Friday, and now I've spent the last several days on it. This ended up being such a pain to fix that I started from scratch to get rid of some code debt. I'm glad I did, it helped me figure out a great parsing strategy that made picomatch faster by 200-400%, _without caching_! All of the

[2019-03-14 08:44] SimenB commented on #137
Woah, absolutely bonkers numbers on those benchmarks! Awesome job.

The `format` function looks really interesting as well, I wonder if that can help with the underlying issue in #142

[2019-03-14 16:08] csvan commented on #137
@jonschlinkert amazing work, those numbers look fantastic!

[2019-03-14 23:53] jonschlinkert commented on #137
Yes! That's exactly the kind of use case that I was hoping to address with `format`!

Thank you! Much appreciated!

[2019-03-27 07:05] vaishnavravi33 commented on #148
Hi,

Greetings!

**Dependency on insecure version of braces.**

I am currently learning the electron and when i used the "npm install" command to install packages.
While installing packages it show warning " Some vulnerabilities require your attention to resolve ".

I think electron is using  use "check-for-leaks"  and dependencies of packages is show below:

check-for-leaks > anymatch > micromatc

[2019-03-30 01:38] paulmillr commented on #137
@jonschlinkert what's the plan for v4 in removing `braces`? Are we ditching them?

[2019-03-30 01:42] jonschlinkert commented on #137
No. Braces are supported.

[2019-03-30 01:49] paulmillr commented on #137
@jonschlinkert I'm asking because `braces` is the module that brings the most complexity to chokidar and other libs. 3 megabytes — that's too much...

We seem to have a way of optimizing micromatch (v4.0), but nothing for braces.

[2019-03-30 06:02] jonschlinkert commented on #137
I'm not sure how that was determined when micromatch v4.0 wasn't pushed up yet, but I'll look into it and see what we can do.

[2019-03-30 10:49] paulmillr commented on #137
I determined that because we are rewriting micromatch to use picomatch instead of nanomatch — but the braces module is staying the same, apparently.

[2019-04-01 00:52] jonschlinkert commented on #137
It's being refactored. The main cause of the size is two things:

1. People doing pull requests to bump versions for no good reason, which caused duplicate dependencies in the tree
1. source maps, which will not be included in the next version of braces.

[2019-04-01 00:54] paulmillr commented on #137
Please take a look here, i've reduced braces/snapdragon size twice in no time: https://github.com/here-be/snapdragon/pull/23

[2019-04-01 00:54] paulmillr commented on #137
@jonschlinkert Please take a look here, i've reduced braces/snapdragon size twice in no time: https://github.com/here-be/snapdragon/pull/23

[2019-04-01 00:58] jonschlinkert commented on #137
The snapdragon API changed a lot between the current version and the version that braces uses. I appreciate the PR, and I'll merge it in, but the amount of time it would take to update braces to use the newer API wouldn't be worth it. I'd rather just refactor braces completely to not use snapdragon.

[2019-04-01 01:11] jonschlinkert commented on #137
@paulmillr  https://github.com/micromatch/braces/pull/24

It's fast as hell. we have that going for us, which is nice.

Also wanted to mention that we can't use the same parsing strategy with braces as with other globs. It's a lot more complicated. We need a real parser with an AST that allows us to handle nested expressions correctly. Assuming we want to continue avoiding the DDoS issues that hav

[2019-04-01 01:17] paulmillr commented on #137
@jonschlinkert that's pretty huge. Please release this before micromatch v4.

[2019-04-04 15:02] MobileVet commented on #148
@jonschlinkert Sorry to hear you are getting bombarded about the issue with *braces*.

You mention

What is your best practice for patching root libraries?

I tried to use `patch-package` but it came back and said that there wasn't any changes so it didn't create a patch.  I also looked into adjusting the `package-lock.json` file and using `npm ci` but that isn't _currently_ supported by Heroku so

[2019-04-10 10:20] blatx opened #152 "match using basename fails on a trivial case"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

    var mm = require('micromatch');
    console.log(mm.isMatch('a/b.js', 'b.js', { basename: true }));

## What is happening that shou

[2019-04-10 10:23] jonschlinkert commented on #152
What OS are you using?

[2019-04-10 12:52] #144 closed

[2019-04-10 12:52] #152 closed

[2019-04-10 12:52] #122 closed

[2019-04-10 12:52] #125 closed

[2019-04-10 12:52] #127 closed

[2019-04-10 12:52] #136 closed

[2019-04-10 12:52] #140 closed

[2019-04-10 12:52] #112 closed

[2019-04-10 12:54] jonschlinkert commented on #137
Alright, it's published!

I'll be out of the office until this afternoon. If any regressions happen I can triage then. Any help from team members would be appreciated too!

[2019-04-10 12:54] #137 closed

[2019-04-10 14:01] sttk commented on #127
@jonschlinkert This issue is indeed fixed in the 4.0. Thanks!

[2019-04-11 06:16] sebdeckers opened #153 "Missing any method"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

1. Install v3.1.10
1. Happily use micromatch.any in your app.
1. Upgrade to v4.10.1
1. ☠️ TypeError: micromatch.any is not a function

[2019-04-11 06:18] phated commented on #153
I don't recommend you bump major semver versions and not expect breaking changes (because that's what a major indicates).

[2019-04-11 09:23] jonschlinkert commented on #153
Sorry, it's not documented. I knew I'd miss something.

`.isMatch` takes an array of patterns now, which be the same behavior is `.any`

[2019-04-11 14:26] sebdeckers commented on #153
@jonschlinkert Thanks for the tip! 🙇🏼‍♂️ Would you like me to add an alias? Happy to do the PR for you. Also fine if this method is deprecated.

[2019-04-11 20:33] jonschlinkert commented on #153
Yes, am I intended to create an alias and forgot. A pr would be great, thanks!

Sent from my iPhone

[2019-04-14 04:13] DrPizza opened #155 "capture behaviour changed?"
## Please describe the **minimum necessary steps** to reproduce this issue:
in micromatch 3.1.0:

[code]

but in micromatch 4.0.1:

[code]

## What is happening that shouldn't be?

capture isn't returning all captured parts.

## What should be happening instead?

capture should be returning all captured parts.

I mean it's possible that this is by design, but I don't see anything alluding to this

[2019-04-14 04:18] jonschlinkert commented on #155
It's a regression.

Capture was added by PR in a previous release, and unfortunately, I never used it personally and wasn't as familiar with the expected results as I'd like to be. Which means test coverage failed me in this case.

Thanks for creating the issue to let me know. Would you like to do a PR to add [test cases](https://github.com/micromatch/micromatch/blob/master/test/api.capture.js)?

[2019-04-14 04:18] DrPizza commented on #155
I was just playing around with the options and I don't know if it's coincidental or by design, but setting `fastpaths: false` seems to reinstate the old behaviour.

[2019-04-14 04:25] jonschlinkert commented on #155
Aha! That makes sense, and I think I know why. Thank you!

[2019-04-14 04:54] DrPizza commented on #155
Glancing at the fastpathing, I suppose my testcase is rather inadequate. It happens that the existing test cases had patterns such as `test/**/*.js`, which doesn't look like it gets fastpathed. My case, however, is `**/*.cpp`, which I think does. The pre-cached fastpath patterns bake in whether or not capturing is enabled, which is why disabling fastpathing fixes things.

As such, a better set of

[2019-04-14 04:57] jonschlinkert commented on #155
IMHO your test was all that was needed. It tells me that the regex isn't being created properly when fastpaths are enabled. One easy solution is to automatically disable fastpaths when `capture` is enabled, but I'm going to try to fix the regex first.

[2019-04-14 05:01] jonschlinkert commented on #155
Well, that was easy. [this line](https://github.com/micromatch/picomatch/blob/master/lib/parse.js#L116-L118) needs to be added to the fastpaths function, [right here](https://github.com/micromatch/picomatch/blob/master/lib/parse.js#L952).

I can push this up, or you can do another PR with a code contribution if you want?

[2019-04-14 05:16] DrPizza commented on #155
Well taking your word for it (it looks right!) that PR should do the job. It doesn't break anything at least.

[2019-04-14 05:20] #155 closed

[2019-04-20 15:02] thasmo commented on #118
@jonschlinkert Seems like `makeRe` in micromatch 4.0 is broken again for Windows paths; is this a possibility? I tried to use various options to handle Windows paths correctly, but the generated regular expression does not match Windows paths.

[2019-04-20 15:06] jonschlinkert commented on #118
Anything is possible with Windows paths. What's not possible is for me to tell you if you're experiencing a bug, since you didn't provide any details. Please provide as much detail as possible, including any options, the glob pattern being passed, the full file path that is being tested against, and any other information that might help me debug. Thanks!

[2019-04-20 15:17] thasmo opened #158 "Need help with windows paths"
`micromatch.makeRe('**/path/**', {windows: true})` returns this regular expression:
[code]
This [does not match](https://regex101.com/r/aGjAZh/1) a Windows path like `C:\Users\user\Projects\project\path\image.jpg`.

Afaik this [was fixed](https://github.com/micromatch/micromatch/issues/118) and worked properly in v3.

[2019-04-20 15:18] thasmo commented on #158
It seems that some slashes in the glob string are not replaced by `[\\\/]` but by `\/`, which may be the problem.

[2019-04-20 15:18] jonschlinkert commented on #158
Given that there are thousands of passing unit with Windows paths, I changed the title to something that makes more sense.

[2019-04-20 15:19] jonschlinkert commented on #158
checking now

[2019-04-20 15:22] jonschlinkert commented on #158
Also, I think it would make sense for me to add something like that to the regex in micromatch, so that this is done by default. It was never done this way before, but it makes sense.

[2019-04-20 15:42] #158 closed

[2019-04-20 15:45] jonschlinkert commented on #158
Should be fixed. Thanks for reporting this issue!

[2019-04-20 15:45] jonschlinkert commented on #153
closing since this was fixed by https://github.com/micromatch/micromatch/pull/154.

Thanks again @sebdeckers!

[2019-04-20 15:45] #153 closed

[2019-04-20 17:02] phated commented on #127
@jonschlinkert are we able to receive a backported patch?  With the changes to chokidar, it seems that gulp will be on an older version for awhile.

[2019-04-20 17:06] jonschlinkert commented on #127
No, this is one of the reasons I had to refactor the parser.

[2019-04-20 17:07] phated commented on #127
@jonschlinkert oh, okay. Thanks 😸

[2019-04-20 17:18] thasmo commented on #158
@jonschlinkert, thanks for fixing it that fast! Gonna try it in a bit.

[2019-04-20 17:24] thasmo commented on #158
@jonschlinkert, the fix works for me. Thanks! :)

[2019-04-23 13:32] srikanth4b9 opened #159 "node_modules/micromatch/index.js:44"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:
let isMatch = picomatch(String(patterns[i]), { ...options, onResult }, true);
SyntaxError: Unexpected token ...
error	at exports.runInT

[2019-04-23 13:35] jonschlinkert commented on #159
Use an older version of micromatch.

[2019-04-23 13:35] #159 closed

[2019-04-23 17:21] michaellenahan commented on #159
My suggestion is to revert to the latest 3.x version of micromatch ("3.1.10"), which does not make use of the "..." three-dots spread syntax https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax in index.js

Compare:
https://github.com/micromatch/micromatch/blob/master/index.js
https://github.com/micromatch/micromatch/blob/3.1.10/index.js

[2019-04-25 15:32] yvele opened #160 "Add node 6 end of support to changelog"
You are now using object destructuring in micromatch v4 and that is not supported in node v6.

That's ok because you explicitly dropped support of node v6 https://github.com/micromatch/micromatch/commit/976d9569b96f84b386c35cfbbc0eb195a3f75e54#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

But it looks like you forgot to mention that in the breaking section of the changelog https://github.com/micromatch/m

[2019-04-25 15:32] jonschlinkert commented on #160
Thanks for pointing it out, would you like to do a PR?

[2019-04-25 16:18] yvele commented on #160
Sure

[2019-05-06 09:05] arcanis opened #162 "basename: true seems to break non-basename patterns"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening that shouldn't be?

[code]

The `basename` option seems to prevent `/lib/libzip.js` from matching against `/lib/*.js`. It seems to have been working-ish in the `3.1.10` (it prints `true / undefined` there), but not since the `4.0.0`.

## What should be happening instead?

[code]

[2019-05-06 09:18] arcanis commented on #162
Workaround:

[code]

[2019-05-06 09:38] jonschlinkert commented on #162
That seems correct to me. You're trying to match `libzip.js` with `/lib/*`.

There are probably better ways to do what you're trying to do. Can you provide more detail about the use case?

[2019-05-06 09:52] arcanis commented on #162
I'm not sure I understand - per the documentation:

So when matching `/lib/libzip.js` against `/lib/*`, since the pattern contains slashes, then I don't expect the behavior to change compared to `basename` not being set.

In my case I'm applying a set of user-provided patterns to filter a list of files. Those patterns may or may not contain basename checks (think of a `.gitignore` format).

[2019-05-06 10:01] jonschlinkert commented on #162
Ah, the documentation is worded poorly, but it's still correct. It should be reworded to simply: "patterns will be matched against the basename of the path".

It seems like you should be matching against the relative or absolute path, not basename. For example, you'll also need to take into account globs with leading slashes, which indicates an absolute pattern (incidentally, the opposite of what

[2019-05-06 10:11] arcanis commented on #162
Let's say we have the following gitignore:

[code]

In this case, `/lib/foo.js` must be compared against the absolute paths (ie `/src/lib/foo.js` shouldn't match) while `*.ts` should be matched against the basename (ie `/src/foo.ts` should match). From my understanding of the doc, both of those should be possible with `basename: true`.

If it's not the case, how do you suggest I get the right resu

[2019-05-06 13:14] johnnyreilly commented on #160
If this could be added it would be helpful; I published a breaking changes version of ts-loader without meaning to. https://github.com/TypeStrong/ts-loader/issues/929

[2019-05-11 18:07] ypconstante opened #163 "Difference in isMatch between versions"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

I'm trying to migrate some stuff from version 3 to version 4, but I'm getting different results between the versions.

## Please describe the **minimum necessary steps** to reproduce this issue:

Tested with nod

[2019-05-11 18:16] jonschlinkert commented on #163
Which version is correct per the bash specification?

[2019-05-11 18:33] ypconstante commented on #163
How can I check that?

[2019-05-11 18:36] jonschlinkert commented on #163
There is only one use case, printed 4 times:

[code]
That is the correct result since `src/**/*.js` does not match `z.js`.

[2019-05-11 19:16] ypconstante commented on #163
So it seems the basename issue seems to be the same as in #162, but what the in the second case, with the `./` and no matchBase?

[2019-05-14 00:03] G-Rath commented on #148
@jonschlinkert Sorry to be a pain, but would you be at all open to releasing a `2.3.x` version with an updated `braces`?

I'm currently trying to resolve some audit reports, and it seems that the latest version of `browserify-css` results in a dependency that requires `micromatch: ^2.3.7` (via `browserify-css > find-node-modules > findup-sync > micromatch`)

This is caused by `find-node-modules` r

[2019-05-14 06:13] jonschlinkert commented on #148
Delete your lock files, delete node_modules, then reinstall.

Sent from my iPhone

[2019-05-14 06:24] G-Rath commented on #148
@jonschlinkert That won't solve the problem, due to the constraints of the packages npm can only install the latest `micromatch@2.x.x` package.

[2019-05-14 10:29] phated commented on #148
@G-Rath the way you solve this issue is not to try to backport breaking changes (as indicated by the semver major increase) into an older semver version, because that isn't possible when following semver.  You need to update the effected library that is using outdated dependencies, remove it from your dependency chain, or (my recommended solution) don't just blindly try to remove npm audit reports

[2019-05-30 06:25] mrmlnc opened #165 "Ability to split patterns into segments"
Hi, @jonschlinkert,

I don't know how correct it is to talk about this, so I think we should take this issue as a question.

I need to split the pattern into segments by slashes (not a `maybe_slash`). This is necessary in order to check whether the first part of the path matches the pattern or not. To decide whether to read this directory or not.

In the following example we should match the `root

[2019-05-30 06:33] jonschlinkert commented on #165
Of course! you can here anytime. I'll look at the related issue and play around with it and let you know what I come up with.

[2019-05-30 07:02] jonschlinkert commented on #165
@mrmlnc it looks like fast-glob 2.2.7 is published to npm as the `latest`, which is from this branch: https://github.com/mrmlnc/fast-glob/blob/2.x.x/package.json, and it's using micromatch 3.x. Were you having issues with micromatch 4.0? Anything I can help with?

The parser in micromatch v4.0 can split the pattern the way you want to (assuming I understand you correctly).

[2019-05-30 07:11] jonschlinkert commented on #165
I think you mean: `root/dir1/one` and `root/dir2/one` should match, but NOT `root/dir1/two` and `root/dir2/two`. Correct?

Isn't that correct? Meaning, I think the bug is that fast-glob _actually is_ matching `two`, but it should not.

I might be confused, thanks for being patient with me.

[2019-05-30 07:26] mrmlnc commented on #165
Yeap, fast-glob@2.2.7 shipped with micromatch@3. The `master` branch built on micromatch@4.

You say that micromatch@4 can split the pattern into segments? How I can do it? I must use the `.scan` method or… (I don't see `.split` method or something like it).

To clarify. I want split the pattern `one/two` by slashes and then apply their one by one:

Pattern: `one/two`
Segments: [`one`, `two`]
Proc

[2019-05-30 07:36] jonschlinkert commented on #165
Oh man, I'm sorry I forgot that I haven't published that code yet. I was thinking it was in 2.0. Let me push it up to a branch on picomatch, and if you have a chance let me know if it does what you need.

[2019-05-30 08:15] jonschlinkert commented on #165
@mrmlnc I just pushed up https://github.com/micromatch/picomatch/tree/dev, but it doesn't have the feature you're looking for. I can't find it!

@doowb, do you remember where that logic was that I showed you for splitting globs?

[2019-05-30 08:40] jonschlinkert commented on #165
Okay, I updated the branch with the code I was working on for splitting globs. Sorry, it's not ready to release, but you can see that I was working on several different approaches to try to get it right. If you want to play around with them and give me feedback that would be great. If not, no worries, I just try to get something published soon either way.

[2019-05-30 13:49] doowb commented on #165
I'm glad you found it because this is an awesome feature.

[2019-05-30 15:51] nathany commented on #148
Thanks for pinning this issue. However it's still not clear to me what should be done when faced with a npm audit security report such as this. I've already updated all my dependencies (npm outdated says so). The [official documentation](https://docs.npmjs.com/auditing-package-dependencies-for-security-vulnerabilities#security-vulnerabilities-found-requiring-manual-review) suggests opening an issu

[2019-05-31 22:49] YOU54F opened #166 "regex vuln in debug"
Hi,

You may wish to upgrade snapdragon to pick up a non vulnerable version of debug . - see [here](https://github.com/visionmedia/debug/issues/501)

[code]

[code]

[2019-05-31 22:50] #166 closed

[2019-05-31 22:50] jonschlinkert commented on #166
Snapdragon is no longer used in v4.0.

[2019-05-31 22:51] YOU54F commented on #166
Fab, thanks @jonschlinkert, I will see if I get `lint-staged` to upgrade

[2019-06-04 20:21] poelstra opened #167 "Trailing slash with globstar changed between v3 and v4"
First of all, thanks for your excellent library!

The behaviour of matching a trailing slash using globstar changed between version 3 and 4.

I did not see this mentioned as a breaking change in the changelog between 3 and 4.
Is this a bug, or is there a setting to get the behaviour of version 3?

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

[2019-06-05 15:07] OrangeDog opened #168 ".DS_Store in installed lib"
`npm install micromatch@3.1.10` creates the file `node_modules/micromatch/lib/.DS_Store`

I'm not using macOS so I'm pretty sure it's not at my end.

[2019-06-05 21:12] jonschlinkert commented on #168
v4.0 is published

[2019-06-05 21:12] #168 closed

[2019-06-11 02:29] koopero opened #169 ".capture method not working with braces"
The results of the `capture` method have changed from major version 3 to 4.

[code]

I understand from previous issues & 4.0.0 refactoring that this is tricky case, but perhaps limitations should be noted in documentation?

[2019-06-11 02:35] jonschlinkert commented on #169
Try using `expand` as well. If that doesn't work it's a regression.

[2019-06-11 06:26] koopero commented on #169
Same thing using the options `{expand: true}`. It appears that `capture` is not using the `braces` module at all, and going straight to `picomatch.makeRe`. The braces handling there is not good. `{expand: true}` in 3.1.10 returns same erroneous output as 4.0.2.

I'd like to help with this problem, and I will start digging into the code deeper. One question, if I may: What is the use case for the `

[2019-06-11 12:56] jonschlinkert commented on #169
I guess I wasn't thinking about this use case when `capture` was implemented. I'll look into it, what you're saying makes sense.

- It gives globbing implementors (like [fast-glob](https://github.com/mrmlnc/fast-glob) or [node-glob](https://github.com/isaacs/node-glob)) the ability to choose a strategy for hitting the file system. For example: 1) Expand the pattern and glob against multiple patter

[2019-06-11 21:53] koopero commented on #169
I dig that, it just makes for a bit of a mismatch between 'globs as pure regex test functions' and 'globs as expressions expanded to even more globs'. Right now, implementations vary between the methods `micromatch`, `isMatch`, `makeRe` and `capture`.

I'm working on PR right now that should uses `braces` more fully and cover more cases. I'll post here in a few days.

[2019-06-14 22:45] koopero commented on #169
#170

[2019-06-26 14:50] KnisterPeter opened #172 "Wrong match result"
## Please describe the **minimum necessary steps** to reproduce this issue:

Run this in a node REPL:

[code]

## What is happening that shouldn't be?

Theres a match which should not match.

[code]

## What should be happening instead?

[code]

[2019-06-26 14:56] doowb commented on #172
Seems to work fine for me:

![image](https://user-images.githubusercontent.com/995160/60190609-f1766180-9800-11e9-828e-6bb9f386e696.png)

Maybe you can provide more information.

[2019-06-26 14:57] jonschlinkert commented on #172
You have a typo. The path has `/folder-setup/` but your glob has `/folder/`

[2019-06-26 14:57] #172 closed

[2019-06-26 15:01] KnisterPeter commented on #172
@jonschlinkert Sorry, not wanting to bother you. I've having the issue in `lint-staged` and not in the repl, but the repl is the minimal reproducing example for me.
I'll test against the latest version to make sure.

[2019-06-26 15:03] jonschlinkert commented on #167
See the `strictSlashes` option in the readme: https://github.com/micromatch/micromatch#options.

[2019-06-26 15:04] KnisterPeter commented on #172
You are right, its the version, I'll open an issue at `lint-staged`. Thanks anyway.

[2019-06-27 05:19] jonschlinkert commented on #172
Thanks for the update, and no worries. I appreciate the issue.

Sent from my iPhone

[2019-07-03 06:33] jonschlinkert commented on #162
Sorry for the late reply @arcanis

## tldr;

Since your example is limited to a single filepath and pattern, show with and without the `basename` option, I might be missing something, but it seems like you should get what you want by prefixing the pattern with `**`.

If I'm missing something, it might help to provide more examples and/or just point me to the code where you're using micromatch and

[2019-07-03 06:34] jonschlinkert commented on #160
@johnnyreilly I'm really sorry that you experienced that. My apologies.

@yvele thanks for the PR and issue!

closed by https://github.com/micromatch/micromatch/pull/161

[2019-07-03 06:34] #160 closed

[2019-07-03 18:41] poelstra commented on #167
Updated the test code to:

[code]

This still yields `true, true` for v4, so `strictSlashes` indeed doesn't work for globstar.

[2019-07-03 18:47] jonschlinkert commented on #167
@poelstra thanks for checking. I'll get a patch pushed up soon.

related: https://github.com/micromatch/picomatch/issues/21

[2019-07-12 18:48] evilebottnawi opened #174 "backport security updates to 3 branch"
Sorry for removing issue template. Unfortunately, a vulnerability was found in `mixin-deep` package. It is possible to update all deps in `3` branch and do security release to avoid this problems?

It is very important for webpack users, webpack@4 support node@6 and we can't release webpack@5 (only node@8 supporting) right now so we can't update `micromatch` to `4` branch.

To reproduce just insta

[2019-07-12 18:53] jonschlinkert commented on #174
`mixin-deep` was patched on all majors and should automatically be used without having to update any downstream dependencies. If you're not seeing the patch, then please delete lockfiles and `node_modules` then reinstall. If that doesn't work, please let me know.

[2019-07-12 19:00] jonschlinkert commented on #174
I just installed webpack, and it is indeed showing vulnerabilities, but they have been patched and it shouldn't be reporting them as vulnerabilities anymore. I'll see what I can do. brb

[2019-07-12 19:01] doowb commented on #174
I think this issue needs to be brought up with the npm security team since `mixin-deep@1.3.2` is patched with the fix and is the one that resolves through the dependency tree from webpack:

![image](https://user-images.githubusercontent.com/995160/61152219-cdc84200-a4b5-11e9-85e3-6f8b8eda9c33.png)

The [npm advisory](https://www.npmjs.com/advisories/1013) and the [snyk report](https://snyk.io/vuln

[2019-07-12 19:17] jonschlinkert commented on #174
FWIW, @doowb and I are both trying to figure this out. We're on it right now.

[2019-07-12 19:22] jonschlinkert commented on #174
@evilebottnawi we have confirmed with Snyk that this is no longer a vulnerability. It appears that the error is with NPM. They should not be reporting this as a vulnerability anymore.

[2019-07-12 19:28] doowb commented on #174
I ran `snyk test --dev` on a project where I installed `webpack` and here are the results:

![image](https://user-images.githubusercontent.com/995160/61153575-9eb3cf80-a4b9-11e9-8caf-581cf9b95e6e.png)

[2019-07-13 14:04] evilebottnawi commented on #174
hm, it is bug in npm, right? With Snyk all is good, right?

[2019-07-13 14:10] evilebottnawi commented on #174
npm audit:
[code]

Thanks guys for feedback

[2019-07-13 14:10] #174 closed

[2019-08-01 21:03] Toxicable opened #175 "browser support - without bundler"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:
Bundle micromatch with the Angular CLI

## What is happening that shouldn't be?
To best support browsers it's a good idea to not direct

[2019-08-13 09:21] hacdias commented on #133
I'm upgrading to `react-scripts` v3 and I'm using `react-scripts test --testMatch **/test/e2e/**/*.test.js`. I've tried many different combinations from what I got on this post for `**/test/e2e/**/*.test.js` but none is working. It just doesn't match any test. Any ideas?

[2019-08-15 07:39] M4rk9696 opened #177 "Given example of .some not working as expected in v4.0.2"
## Please describe the **minimum necessary steps** to reproduce this issue:

The example given in README for API `some` is not working as intended.

[code]

## What is happening that shouldn't be?

Second case is matching `true` incorrectly

## What should be happening instead?

Second case should match `false`

[code]

[2019-08-15 07:50] M4rk9696 commented on #177
Seems to be working fine till `^3.1.10`

[2019-08-19 08:08] M4rk9696 commented on #177
@jonschlinkert I did some analysis. If I change the order of the patterns it works

[code]

Seems to be because of the following code

https://github.com/micromatch/micromatch/blob/f61212aeb66050025b480987e6de54e2145fef09/index.js#L259-L268

[2019-08-28 20:49] fringd opened #179 "pattern broken from 3.x to 4.x"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:
[code]

## What is happening that shouldn't be?
[code]

all the files match. this is with 4.0.2

## What should be happening instead?
[

[2019-09-03 15:17] petrhajekomio opened #180 "Two digit range pattern doesn't work in 4.x.x"
## Please describe the **minimum necessary steps** to reproduce this issue:
Just run `micromatch.isMatch('foo.bar53','foo.bar{53..55}');`
## What is happening that shouldn't be?
in `4.0.2` is above expression resulting in `false`.
## What should be happening instead?
Should result in `true`. In version `3.1.10` was working as expected.
## Additional info
In `4.0.2` range works just for single digi

[2019-09-21 10:17] mrmlnc opened #181 "An explicitly specified dot leads to an incorrect pattern for glostar"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening that shouldn't be?

The RegExp does not match `fixtures/second/nested/directory/file.md`.

## What should be happening instead?

Should match :)

[2019-09-21 11:53] jonschlinkert commented on #181
That's correct. `**` must be the only thing in a directory segment, otherwise it's converted to `*`, per bash.

Instead, it should be `{.*,*}` and `{**/.*,**}`

[2019-09-21 17:06] mrmlnc commented on #181
Wow, I've never thought about it previously.

Sorry, but I cannot find any information about it. Can you recommend something?

// JFYI @sgtlambda

[2019-09-21 17:45] jonschlinkert commented on #181
I remember reading it in the Bash code and/or docs and/or unit tests - that would be a good starting point, but I don't remember where it is specifically. FWIW [minimatch also follows this rule](https://github.com/isaacs/minimatch/blob/master/README.md#comparisons-to-other-fnmatchglob-implementations).

[2019-09-21 18:11] mrmlnc commented on #181
Thanks! So, I think we can close this issue.

[2019-09-21 18:11] #181 closed

[2019-09-28 10:28] mrmlnc opened #182 "The `scan` method does not respect options"
Hi, @jonschlinkert,

The `micromatch` package has the `scan` method. This method takes a pattern and options.

As I understand it, this method can return an object saying whether a glob expression is in front of us or not. But this method does not respect my options.

The following example shows that my options (`noext: true`) are ignored. I assume pattern A is a glob expression and pattern B is n

[2019-09-28 10:49] jonschlinkert commented on #182
Hmm, that's a good question. I don't think I thought about whether nor not certain syntax features should be disabled when I wrote the code.

I think this is a bug.

[2019-09-28 12:07] M4rk9696 commented on #182
Would the expected result be?

[code]

I'll be happy to raise a PR for this if you can confirm this @jonschlinkert

[2019-09-28 12:28] jonschlinkert commented on #182
I think so, yes. And similar results for other options like nonegate. A PR would be great!

Sent from my iPhone

[2019-10-01 20:36] ObsoleteAcey opened #183 "SyntaxError: Unexpected token ..."
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:
Build on any version of node < 8.6 in micromatch >= v4
…

## What is happening that shouldn't be?
There is a build error.  Object sprea

[2019-10-02 20:08] mrmlnc commented on #183
The `micromatch` packages since version 4 does require Node.js 8+.

https://github.com/micromatch/micromatch/blob/master/CHANGELOG.md#breaking-changes

[2019-10-02 20:50] jonschlinkert commented on #183
Agreed, I'm good with whatever you want to do for this @mrmlnc.

[2019-10-03 20:57] jonschlinkert commented on #180
See: https://github.com/micromatch/micromatch#optionsexpandrange.

We'll probably be adding this natively soon, but for now you will need to use the approach described in the example.

[2019-10-22 05:44] xpepermint opened #185 "Please include typescript definition"
Awesome package but no typescript support out of the box. Please include [@types/micromatch](https://www.npmjs.com/package/@types/micromatch) in the core package.

[2019-10-29 17:17] pvdlg opened #186 "`?(pattern)` doesn't work in 4.0.0 when if follows `+(pattern)`"
##  **Minimum necessary steps** to reproduce this issue
[code]

## What is happening that shouldn't be?

`aa` or `a` doesn't match the glob `+(a)?(b)` while it should. It seems that micromatch ignore the fact that `?(b)` allows 0 match.

This was working in version 3 and is broken since version 4.

## What should be happening instead?

`aa` and `a` should match `+(a)?(b)` as it was the case in ver

[2019-10-31 05:26] jonschlinkert commented on #186
Thanks for creating the issue. I fixed this locally, I'll push up a patch asap.

[2019-10-31 05:52] #182 closed

[2019-11-02 02:06] pvdlg commented on #186
It appears to be fixed now. Maybe in picomatch@2.1.0? Not sure...
I think that can be closed unless the fix was unintentionnal and you want to keep that open to investigate.

[2019-11-04 00:27] jonschlinkert commented on #186
Thanks for confirming! I fixed this in picomatch.

[2019-11-04 00:27] #186 closed

[2019-11-04 10:58] glasseyes42 opened #187 "utils.isObject is not a function"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

https://github.com/micromatch/micromatch/blob/master/index.js#L231

This function doesn't exist...

## Please describe the **minimum necessary steps** to reproduce this issue:
Try using matchKeys

[2019-11-04 11:00] MerlinDMC commented on #187
https://github.com/micromatch/picomatch/commit/cbc6d548965b19782eec3ba5b01e4a95612bff08 did remove the `isObject` function

[2019-11-04 14:22] mickeypearce opened #188 "Matching non existent paths"
Is there a way to match non existent paths, f.e.:

`mm.match(['foo.js', 'bar.js', 'a.log'], '*.js')` where 'foo.js' or 'bar.js' matches but 'a.log' doesn't . All three files don't exist (or exists) on file system.

I guess it sound stupid but I am trying to achive a glob matching before actual file creation, so to have a similar functionality with other cases where files are already created.

I wa

[2019-11-05 14:49] AlphaDu opened #189 "question of nonegate patterns"
## the result of '!' pattern is  different from my expectations:
I try these code below, the × mark is the result different from my expectation

[code]

is there bug cause the result 2 or some point of glob pattern I didn't know? please  disabuse me, thank you very much

 "micromatch": "^4.0.2",

[2019-11-05 14:56] jonschlinkert commented on #189
the result is correct `api` does not match `apii`. Try:

[code]

[2019-11-05 15:21] AlphaDu commented on #189
sorry, I try minimatch `mm('/apii/test', '/!(api)/**')` got true ,but micromatch `mm.isMatch('/apii/test', '/!(api)/**')` got false . so I think is there a bug ?

[2019-11-05 15:23] jonschlinkert commented on #189
Minimatch is not a correct source of information. Please confirm your results with bash.

[2019-11-05 15:44] AlphaDu commented on #189
I search the doc and found that `!`  operator seem doesn't support in linux, and I compare with python glob,  nonegate operator has been deprecated~It confuse me.. maybe it's an operator I shouldn't use more. It's ambiguity in different context

[2019-11-05 17:12] jonschlinkert commented on #189
Why aren't you using `!/api/**` or `/api/**`?

[2019-11-06 02:18] AlphaDu commented on #189
because some history reason, except ./api/**, the other api is format like `/abc/api/**`, so I need distinguish backend api `/api/**` and `/abc/api/**` from all. no I'm using /!(api)/(!api)/**. but /apii/apii/test is wrong match.

[2019-11-06 11:18] #189 closed

[2019-11-06 21:26] Bajix commented on #187
This breaks existing 4.0.1 installs. Please release a patch ASAP to fix this.

[2019-11-06 22:02] jonschlinkert commented on #187
Ah, I broke this. I'll fix it ASAP today and push up a patch. Thanks for letting us know!

[2019-11-06 22:09] Bajix commented on #187
These things happen; semantic versioning can be tricky sometimes. Thanks for being on top of this!

[2019-11-06 22:11] jonschlinkert commented on #187
Thanks for understanding. In this case it's not really a versioning related thing. I made a coding mistake that would have broken the code no matter what version bump was made. We're getting it fixed right now. Thanks again.

[2019-11-06 22:24] Bajix commented on #187
I see. I hadn't considered that there could've been issues in picomatch; I had just assumed isObject was intentionally removed and that micromatch accidentally broke due to both depending on a hidden export and due to the version issue. At face value, picomatch doing this and bumping minor sounds valid especially considering it's an internal export, and micromatch automatically updating by virtue

[2019-11-06 22:33] jonschlinkert commented on #187
Yeah, and really, the fact that I used a utility from picomatch in micromatch is really the problem. I shouldn't have done that -- I only intended to use that utility during development, and I forgot to remove it before publishing micromatch. This was a fail on my part.

[2019-11-06 22:35] doowb commented on #187
I published `picomatch@2.1.1` with the "reverted" change that removed `isObject`, however I think NPM is being slow because it's not installing `2.1.1` yet when I do `npm i picomatch@latest`.

When NPM catches up, this should be fixed. I'll check in a little bit and report back.

[2019-11-06 23:11] doowb commented on #187
I logged into another machine and the correct version of `picomatch` was installed. For some reason `2.1.0` is still installing on my machine, even after clearing cache and trying `yarn`. Could someone else try and let me know if they have any issues?

[2019-11-06 23:15] imagineimpact commented on #187
Try deleting node_modules & package-lock.json first.

[2019-11-06 23:27] glasseyes42 commented on #187
Thanks for taking care of this, will give it a test in the morning

[2019-11-07 14:38] glasseyes42 commented on #187
Seems fixed - thanks a lot

[2019-11-07 14:38] #187 closed

[2019-11-13 13:22] tamuratak opened #190 "posixSlashes: true does not work"
## Please describe the **minimum necessary steps** to reproduce this issue:

1. execute `examples/option-onMatch.js`
[code]

## What is happening that shouldn't be?

Slashes in outputs are not converted.

## What should be happening instead?

Slashes in outputs should be converted to forward slashes.

[2019-11-13 13:25] jonschlinkert commented on #190
Does `isMatch` return the correct result? Micromatch doesn't return file paths.

[2019-11-13 13:38] tamuratak commented on #190
I don't understand what you are saying. What I am saying is that the outputs are different from ones in the comment in `examples/option-onMatch.js`.  Is the comment wrong?

[code]

[2019-11-13 14:02] jonschlinkert commented on #190
Possibly. The examples were run on MacOS, it looks like you're on Windows. My question is whether or not `isMatch` returns the correct **`Boolean`** result, or if that is wrong as well.

That said, I think that `posixSlashes` was renamed and I might have missed that in the docs. I believe it was mentioned in the changelog though. I'll look into this more as soon as I get a chance. Thanks for creat

[2019-11-13 14:16] tamuratak commented on #190
I am on macOS.
OS: macOS High Sierra 10.13.6（17G9016）

[code]

output
[code]

Thank you for you quick response. I hope this issue would help your development.

[2019-11-13 14:25] jonschlinkert commented on #190
you're very welcome! my pleasure

Indeed it does! This at least lets me know that it's not a Windows issue. I'm pretty sure the option was renamed. Will confirm and report back ASAP.

[2019-11-20 05:10] guimard opened #192 "Test fails"
Hi,

when launching test, "option.ignore" and "option.nonull" tests fail:

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

[2019-11-20 08:56] jonschlinkert commented on #192
Closing since this information is already provided by travis.

[2019-11-20 08:56] #192 closed

[2019-11-26 01:09] guimard commented on #192
Hi,
I don't find any information related to this failure in .travis files

[2019-11-26 01:58] jonschlinkert commented on #192
# README

![image](https://user-images.githubusercontent.com/383994/69593088-2bbd7800-0fc6-11ea-8e0b-b2f631cfe687.png)

# https://travis-ci.org/micromatch/micromatch

![image](https://user-images.githubusercontent.com/383994/69593124-42fc6580-0fc6-11ea-908c-ab93528c01cb.png)

[2019-11-26 02:02] jonschlinkert commented on #192
With CI, it's generally not useful to create issues to notify the maintainers of a project that tests are failing, unless you're saying that different tests are failing than the ones failing on travis. In which case it would have been helpful if you had mentioned that in the OP.

[2019-11-26 02:17] jonschlinkert commented on #192
(I accidentally just deleted a my previous comment, this is what it said)

With CI, it's generally not useful to create issues to notify the maintainers of a project that tests are failing, unless you're saying that different tests are failing than the ones failing on travis. In which case it would have been helpful if you had mentioned that in the OP.

[2019-11-26 17:14] guimard commented on #192
I simply tried to build it from source using `npm install && npm run test` _(I'm Debian Developer and try to update Debian package)_

[2019-11-27 10:37] mickeypearce commented on #188
[multimatch](https://github.com/sindresorhus/multimatch) does the trick.

[2019-11-27 10:37] #188 closed

[2019-12-10 06:11] vorfol opened #193 "Dot in path make globstars fail"
If the path has two dot-started folders the globstars won't work.

First three files are matched, but last is missed:
console.log(micromatch(['.vscode/a.js', '.vscode/test/null/b.js', 'any/.vscode/test/null/c.js', '.vscode/.test/d.js'], ['**/.vscode/**']));

** must match all kind of folders

[2019-12-10 06:20] jonschlinkert commented on #193
Only if `dot` is true. https://github.com/micromatch/micromatch#options

[2019-12-10 08:09] #193 closed

[2019-12-15 12:46] mbelsky opened #194 "nocase: true issue"
Hey,

I'm working on https://github.com/facebook/jest/issues/8900 and faced an interesting issue with `{ nocase: true }`:

[code]

You may try it here: https://runkit.com/mbelsky/micromatch-micromatch-issues-194/0.1.0

[2020-01-04 19:37] mbelsky commented on #194
I reread docs and [got answer](https://github.com/micromatch/micromatch#backslashes). Thanks

[2020-01-04 19:37] #194 closed

[2020-01-09 04:20] tianhaoz95 opened #195 "Matching files under dot folder not working"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

…

## What is happening that shouldn't be?

`"node_modules/@octokit/types/.github/ISSUE_TEMPLATE/04_thanks.md"` is matched.

…

[2020-01-09 04:24] jonschlinkert commented on #195
Hi @tianhaoz95, thanks for creating the issue.

Try passing `{ dot: true }` on the micromatch options. If that doesn't work I'd be happy to investigate further.

[2020-01-09 04:59] tianhaoz95 commented on #195
oh, that worked! thanks!

[2020-01-28 16:12] Ignigena commented on #179
Seeing similar things here with a negative matching glob and was able to reproduce on RunKit https://npm.runkit.com/micromatch

[code]

Returns `[]` as expected since the file path is excluded by the second glob pattern. However, in version 4, this exact same code is broken and returns the file path as a match:

[code]

If I update the second glob pattern to `!**/(coverage|config|scripts|tests)/**

[2020-01-28 16:14] jonschlinkert commented on #179
@Ignigena thanks for confirming. I'll look into this.

[2020-01-30 21:32] SimenB commented on #179
@jonschlinkert were you able the look into this - it seemingly is a cause of a horrible performance regression in jest (see https://github.com/facebook/jest/issues/9457)

[2020-02-04 17:57] csvan commented on #179
Any updates on this? Can I help?

[2020-02-04 19:48] jonschlinkert commented on #179
@csvan are you experiencing this issue as well? If so, any additional information would be useful.

I'm working on this. It's at the top of my list.

[2020-02-15 23:00] anilanar opened #196 "Wrong dependency version for picomatch"
`micromatch` has a dependency of `picomatch@^2.0.5`.

Using the below code snippet with various matching `picomatch` versions:

[code]

Results:

[code]

So, shouldn't the dependency be `picomatch@^2.2.0`?

Regression downstream:

https://github.com/mrmlnc/fast-glob/issues/253

Or is `parts` a private API of `micromatch`?

[2020-02-15 23:05] jonschlinkert commented on #196
Only create one issue, on one repository.

[2020-02-15 23:07] anilanar commented on #196
And which repository do you think is a better fit for this?

[2020-02-15 23:18] jonschlinkert commented on #196
I'm really not sure, but it seems like fast-glob is a good start, since the breakage is happening there. We all collaborate often, and I'd be happy to help debug.

FWIW, when you create the same issue on multiple repositories (specifically, _before figuring out exactly what the issue is_), you end up creating a scenario where no one knows who is tackling the issue or spending there time debugging,

[2020-02-15 23:32] anilanar commented on #196
I understand your initial reaction, creating issues in multiple repos probably isn't very helpful in most circumstances. However, I think I've done my homework good and every repo is aware of what might be going wrong and who is responsible for it.

I've come here from graphql-code-generator -> globby -> fast-glob -> micromatch -> picomatch, debugging every layer and interaction between deps with

[2020-02-15 23:50] jonschlinkert commented on #196
Fair enough, that makes sense, and given the amount of time and attention you've given this, it seems I was hasty in my assumptions. I appreciate it, thank you.

[2020-02-23 07:55] jonschlinkert commented on #190
Sounds like this was resolved, I'm going to close but please feel free to reopen or create a new issue if you're still having problems.

[2020-02-23 07:55] #190 closed

[2020-02-23 07:56] jonschlinkert commented on #195
Great, sounds like this was resolved, I'm going to close but please feel free to reopen or create a new issue if you're still having problems.

[2020-02-23 07:56] #195 closed

[2020-02-23 08:53] jonschlinkert commented on #183
closed by https://github.com/micromatch/micromatch/pull/184

[2020-02-23 08:53] #183 closed

[2020-02-26 10:01] csvan commented on #179
@jonschlinkert sorry for missing to reply on this. I'm part of the Jest crowd experiencing a severe performance regression over this (see https://github.com/facebook/jest/issues/9457)

[2020-03-07 10:32] stramel commented on #179
@jonschlinkert I can confirm this as well. Prettier has an extensive test suite that I ran it against. https://github.com/prettier/prettier/pull/7726

The case was:

Pattern: `**/__best-tests__/*.js`
File Path: `__best-tests__/file.js`
Marked as not a match

https://github.com/prettier/prettier/blob/61d3936b6e13238e0eb16fab3ca53d75fc942030/tests_integration/__tests__/config-resolution.js#L70

All

[2020-03-27 16:50] automaticdreams opened #198 "update version of braces"
nom audit
│ Low           │ Regular Expression Denial of Service                         │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ braces                                                       │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Patched in    │ >=2.3.1

[2020-03-27 16:53] #198 closed

[2020-03-27 16:53] jonschlinkert commented on #198
# Please read: It's pinned!

![image](https://user-images.githubusercontent.com/383994/77780160-ed929c80-7029-11ea-9533-9dc5ad290b4b.png)

[2020-03-30 05:07] csvan commented on #179
Hi @jonschlinkert, are there any news on this issue?

[2020-04-14 10:09] valerybugakov opened #199 "Leading './' is not included in the glob regex"
## **Minimum necessary steps** to reproduce this issue:

[code]

## What is happening that shouldn't be?

Output

[code]

## What should be happening instead?

Expected

[code]

This issue is the exact duplicate of https://github.com/micromatch/micromatch/issues/110. It was [resolved](https://github.com/micromatch/nanomatch/commit/770f54c59b3a4b60a92dd1c2a396018b5596f13a) in `nanomatch` long ago.

[2020-04-14 10:45] jonschlinkert commented on #199
See the [format option](https://github.com/micromatch/picomatch#options).

[2020-04-14 12:48] valerybugakov commented on #199
It solves the problem for `isMatch`.
I cannot figure out how to solve it for regex created via `picomatch.makeRe(glob)`. Is it possible?

[code]

[2020-04-14 12:54] jonschlinkert commented on #199
Maybe try using the `prepend` option. However, IMHO the easiest and possibly the most reliable way to do this is to remove the `./` from paths before testing them. This is what I'd personally do if I was implementing a globbing library, since 1) it would most likely be faster than a more complicated regex, and 2) file paths do not typically have `./` before them. AFAIK that is only manually added

[2020-04-14 12:57] valerybugakov commented on #199
Agreed, but I have the same case as described in the issue linked above.

Is it safe to use `nanomatch` in that case? I see it hasn't been update for a while.

[2020-04-14 12:58] valerybugakov commented on #199
btw thanks for quick response 🙌

[2020-04-14 13:04] jonschlinkert commented on #199
Ah, I'm sorry for not reading more carefully and if my answer seemed to ignore those details. I didn't mean to be flippant. I see that this is more nuanced. Before I implement something new, let me think about this for a few, it seems like this came up before and I/we had a solution to it.

It's not as performant. I think we should try to make this work with picomatch. I thought the `prepend` opti

[2020-04-14 13:07] valerybugakov commented on #199
Got it, will try the `prepend` option for now.

[2020-05-22 17:40] rally25rs commented on #162
@jonschlinkert

I ran into this same confusion almost a year later, and the docs are still the same (incorrect) wording.

[2020-05-22 17:50] jonschlinkert commented on #162
@rally25rs pr?

[2020-05-22 18:22] rally25rs commented on #162
@jonschlinkert #201

[2020-06-18 09:29] grinapo opened #202 "[doc] readme mentions match() which does not seem to exist"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

Sidenote: `contributing.md` is `error 406 Not Acceptable` for me.

## What is happening that shouldn't be?
README.md contains some examples to come over from minimatch, including `micromatch.match()`, and links

[2020-06-21 18:09] desfero opened #203 "`onMatch` with `micromatch.not`"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

When `.not` function is used then `onMatch` is called with matched items but in reality what's important with `not` is to match items

[2020-06-22 06:44] polarathene opened #204 "Update snapdragon to avoid deprecation warnings"
Please see https://github.com/here-be/snapdragon/issues/24

Gatsby uses `micromatch` and is throwing two warnings due to `snapdragon` needing to update semver and push out a new release.

[2020-07-02 08:39] chrisrzhou opened #205 "[Question] Returning multiple search matches"
Hi, thank you for this awesome project that I have been able to conveniently implement in my [project](https://github.com/unified-doc/unified-doc/tree/master/packages/unified-doc-search-micromatch)!

There are a few edge cases that I have not been able to solve for in my project, and I would like to confirm on a recommended approach with any relevant `micromatch` APIs.

I want to be able to use `m

[2020-07-02 16:35] doowb commented on #205
From your `codesandbox` implementation, the `searchRe.exec` will start from the `searchRe.lastIndex`, which means that the pattern being searched on the second iteration is `'ome some'` for the `'some s'` and `'s*s'` queries.

This seems to make sense to me since, because otherwise the results would be overlapping.
It seems like this is the same with chrome's "find" function: When I do `Cmd+f` in

[2020-07-03 05:57] chrisrzhou commented on #205
Hey @doowb, you are absolutely right that the browser's find function seems to do this as well.  Funny that my attempt at the implementation was actually on the right direction despite me feeling that it was unintuitive.  I was expecting it would be more intuitive to get all combinations of the search matches, but that doesn't appear to be the case, even for something as formally implemented as br

[2020-07-03 05:57] #205 closed

[2020-07-10 09:00] XxSven opened #206 "Using matcher inside Array.filter doesn't work"
## Please describe the **minimum necessary steps** to reproduce this issue:
Use matcher inside Array.filter function
`['a','b','c'].filter(mm.matcher('b'));`
…

## What is happening that shouldn't be?
Array is not filtered
Result should be ['b']
…

## What should be happening instead?
Array should be filtered
Result is ['b', 'c']
…

Array.filter gives value and index as arguments, so it gives matc

[2020-07-10 09:03] jonschlinkert commented on #206
Do:

[code]

[2020-07-10 09:09] XxSven commented on #206
This is a good workaround but shouldn't it work as mm.filter that was deleted from previous versions ?

[2020-07-13 04:30] jonschlinkert commented on #206
No, there was no promise of parity with `.filter()`.

[2020-07-29 19:52] a7ul opened #208 "Issue with micromatch.every"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]
The documentation says: `Returns true if every string in the given list matches any of the given glob patterns.`

So, shouldnt

[2020-07-29 20:24] a7ul commented on #208
Update: This works correctly with nanomatch though. I just swapped micromatch with nanomatch and everything works as expected.

[2020-08-13 19:31] drpicox opened #209 "No micromatch.makeRe(['**/*.js', '!dist']) ?"
It is more a question than an issue.

Although the documentation says that it is compatible with multimatch & minimatch I guess that is only in their respective functionalities, so the ability to work with multiple expressions only works in the same case of multimatch.

So, there is no:

[code]

right?

Thanks!

[2020-08-15 14:11] doowb commented on #209
`multimatch` does not have a `makeRe` method, and the `minimatch.makeRe` method only accepts a single string as the glob pattern. The `micromatch.makeRe` method works the same way, so I'm not sure where you think it's not compatible.

Also, the main `micromatch` function will accept an array of glob patterns, which is also compatible with `multimatch`.

Since this is just a question, I labeled it

[2020-08-15 14:11] #209 closed

[2020-08-18 17:42] tylersmalley commented on #179
This is also a blocker for us, so stopping by to show my support ❤️

[2020-08-29 05:24] vilicvane opened #210 "Inconsistent behaviors between `/foo/bar/**` and `/foo/*/**`"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

I was expecting both result in `false` (or `true`, but I'd prefer `false`, and that's also the behavior of minimatch).

[2020-09-15 08:03] Kawai-So opened #211 "problem for glob pattern with wilcard and dots"
I used this glob pattern **'!(\*.\*).js'** to exclude **\*.\*.js** files.

Below this code, I expect the output is **[c.js]**.

But it doesn't work unless we used **'!(\*.\*.).js'**.

[code]

Anyone can tell me the reason and difference? THX!

[2021-02-23 01:06] Blasz commented on #162
I disagree, the documentation is incorrect for a couple of reasons:

1. The option only mentions globs without slashes, therefore it's reasonable to assume that the default behaviour occurs when globs do have slashes.
2. The docs for the option also state:

which is false. Minimatch's option behaves as per the desired behaviour in the OP where the documentation makes sense.

Imo it doesn't make se

[2021-03-10 13:03] starpit opened #212 "filepaths with dots in them do not match with brace ranges"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

## What is happening that shouldn't be?

When a filepath contains a dot, brace range expansion does not seem to work as expect

[2021-04-09 17:16] danez commented on #204
The linked issue has been resolved, and also micromatch does not use snapdragon anymore in the latest version.

[2021-04-09 17:16] #204 closed

[2021-04-09 18:38] danez commented on #196
Release in 4.0.3

[2021-04-09 18:38] #196 closed

[2021-04-10 09:34] kibertoad commented on #179
How does fixing this in picomatch address the problem in micromatch?..

[2021-04-10 09:38] jonschlinkert commented on #179
Hi @kibertoad, micromatch depends on [picomatch](https://github.com/micromatch/micromatch/blob/master/package.json#L41).

[2021-04-10 09:40] danez commented on #179
This will be fixed once picomatch gets updated here. Leaving open for now.

[2021-04-10 09:40] kibertoad commented on #179
@jonschlinkert Thank you for clarificaiton! Wouldn't it make sense to bump dependency version on picomatch here then?

[2021-04-10 11:09] #179 closed

[2021-04-10 11:41] danez commented on #179
The regression is now fixed in 4.0.4, but I'm not certain it fixes the performance issue mentioned in jest. If the performance issue still persists please open a separate issue with a repro case.

[2021-04-13 20:03] jayantraj13 commented on #159
try downgrading your browser-sync
by npm i browser-sync@version
you can check version from https://www.npmjs.com/package/browser-sync

This solved my issue

[2021-05-15 20:11] starpit commented on #212
Is this project being maintained?

[2021-05-15 20:18] jonschlinkert commented on #212
It might not be an urgent issue. Read this: https://github.com/jonschlinkert/idiomatic-contributing/#dont

[2021-05-15 20:24] starpit commented on #212
Thanks for the response! I wasn't sure, given the staleness of both.

[2021-05-15 20:27] jonschlinkert commented on #212
I currently have close to 1,000 issues on all of the repos I maintain. I've resolved tens of thousands of issues. We implement automated responses or bots on some big projects, but those systems also need to be maintained.

I will look into this next time I work on this library.

[2021-05-15 20:30] starpit commented on #212
No worries, I completely understand. 👍

[2021-07-01 09:58] Undistraction opened #216 "Match fails when dot in path"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

Run the above on [replit](https://replit.com/@Undistractions/HeftyInsecureLists#index.js).

## What is happening that shouldn't be?

I would expect all three to be matched, however the dotfile is not matched.

## What should be happening instead?

The dotfile should be matched

[2021-07-01 10:05] Undistraction commented on #216
Needed the `dot: true` option.

[2021-07-01 10:05] #216 closed

[2021-08-06 08:47] jerome25000 commented on #159
Sorry, but I need to use node V6 (old projet) with grunt. I've installed grunt-cli 1.4.3 but I have the error wen running grunt

usr/lib/node_modules/grunt-cli/node_modules/micromatch/index.js:44
    let isMatch = picomatch(String(patterns[i]), { ...options, onResult }, true);

I don't understand the link with browser-sync told by jayantraj13

How to solve this issue?

Thanks

[2021-08-06 15:39] jayantraj1133 commented on #159
my micromatch folder was in browser-sync in node module package and my error was showing
```  at Object.<anonymous> (/home/jayant/repo/jj/node_modules/browser-sync/dist/public/stream.js:3:18)```
so look where is your micromatch package try to downgrade that package or try to downgrade micromatch itself
https://www.npmjs.com/package/micromatch

[2021-08-14 23:45] hydrosquall commented on #199
FWIW, `minimatch` has faced this problem for several years too, in case you want to collaborate on a solution.

https://github.com/isaacs/minimatch/issues/30#issue-29835003

[2021-08-28 21:33] vwkd opened #217 "Can't match string with leading dot"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

It seems that a leading dot prevents a glob from matching. For example, `./my/*/file.js` should match `./my/relative/file.js` but it doesn't.

## Please describe the **minimum necessary steps** to reproduce this

[2021-08-29 02:26] jonschlinkert commented on #211
Sorry for the late reply.

For you or anyone else who has this question, here are a few ways to do what you need, all of these work in micromatch.
[code]

FWIW, minimatch fails something like 30% of the bash unit tests and is not a good comparison.

[2021-08-29 02:26] #211 closed

[2021-08-29 02:29] jonschlinkert commented on #202
Thanks for the feedback, we'll add some docs for `.match()`.

Thanks for the heads up on this too!

[2021-08-29 02:32] jonschlinkert commented on #180
Closing due to age

[2021-08-29 02:32] #180 closed

[2021-08-29 02:47] jonschlinkert commented on #217
Try passing a custom `format` function on the options, as follows:

[code]

The issue of leading dot slashes has been discussed a few times on this and related repositories. Since `./` is contrived and is only really used in `require()` and `import` statements, it's not a pattern that is typically found in real file system paths. The most reliable way to handle such patterns is to use `path.normal

[2021-09-14 23:55] danmarshall commented on #204
Does version 4 have any breaking changes from version 3? I'd like to upgrade but not sure if the API is different.

[2021-09-15 12:58] Var-S1 opened #218 "extglob Denial of service"
Hello, catastrophic backtracking with `extglob`

## **Minimum necessary steps** to reproduce this issue:
[code]
## What is happening that shouldn't be?
catastrophic backtracking, blocking execution

Is there any way to prevent it from backtracking without removing `extglob` from the pattern or an evaluation timeout option?

[2021-09-15 13:03] jonschlinkert commented on #218
The safest way to prevent users from defining malicious regular expressions is to disallow users from defining regular expressions.

[2021-09-15 13:13] Var-S1 commented on #218
Thank you for the quick response, looks like I have reconsider my applied methodology.

[2021-09-15 13:14] #218 closed

[2021-09-18 17:52] dawgwe1 commented on #212
Unlink and close all old accounts from not working issues

[2021-09-18 17:54] dawgwe1 commented on #217
Unlink and close all old issues

[2021-09-18 18:35] vwkd commented on #217
Thanks for the reply. Feel free to close this if this indeed works as intended. Though it would be helpful to mention this in the README so other people won't have to run into debugging this issue.

[2021-09-20 10:18] arcanis opened #219 "Non-filepaths matchs"
## Please describe the **minimum necessary steps** to reproduce this issue:

Ref: https://github.com/yarnpkg/berry/pull/3460

In Yarn, we have a feature that lets our users silence some error messages if they match specific glob pattern. The problem we have is that those messages sometimes feature slashes (for instance, `Package name @scope/name isn't allowed`). Glob patterns currently don't inter

[2021-09-25 20:55] dawgwe1 commented on #115
Close all accounts

[2021-09-25 20:55] dawgwe1 commented on #219
Close all issues & accounts

[2021-09-25 20:57] dawgwe1 commented on #199
Close all accounts

[2021-09-25 20:59] dawgwe1 opened #220 "dawgwe1 blocked for trolling"
troll comment deleted by @jonschlinkert

[2021-09-25 21:01] jonschlinkert commented on #219
@dawgwe1 you've been blocked

[2021-09-25 21:01] jonschlinkert commented on #199
@dawgwe1 you've been blocked

[2021-09-25 21:05] jonschlinkert commented on #220
@dawgwe1 you've been blocked

[2021-09-25 21:07] #220 closed

[2021-09-25 21:08] jonschlinkert commented on #115
@dawgwe1 you've been blocked

[2021-09-25 21:13] jonschlinkert commented on #219
hi @arcanis, sorry for the late reply

That seems doable, and shouldn't be too difficult. Just to ensure I understand clearly what you want, you basically just want an option to customize behavior of `*` and `**`, so that you can more intelligently match around other non-standard path characters, correct?

I'll be catching up on some issues this week, I'll see if I can implement something for this

[2021-09-25 22:07] arcanis commented on #219
Yep, exactly 👍

[2021-11-02 11:03] Dizzienoo opened #223 "SyntaxError: Invalid or unexpected token when running from Jest"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

Install Jest (latest version) and create any test and try to run.

…

## What is happening that shouldn't be?

Error returns:

G:\User

[2021-11-05 11:36] FingalP opened #224 "'Or' functionality broken (using |)"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

[code]
[code]

[code]
[code]

## What is happening that shouldn't be? / What should be happening instead?

We should be seeing a match

[2021-11-05 11:38] FingalP commented on #224
Interestingly it works on both versions with round brackets around each option, e.g.:
[code]
However, we need it to work without the brackets.

[2021-11-08 04:44] ready-research opened #225 "ReDoS"
## Please describe the **minimum necessary steps** to reproduce this issue:

This package is vulnerable to ReDoS (regular expression denial of service). An attacker that is able to provide crafted input to the braces() function may cause an application to consume an excessive amount of CPU.

Reported in https://www.huntr.dev/bounties/ebd7b78f-8501-4598-8dbb-81bcd8a8a672

Please validate the above

[2021-11-25 00:07] webketje opened #226 "Proper docs for windows option??"
The documented posixSlashes (or outdated unixify) options do nothing.
The only way the docs provide a way *not* to convert the backslashes into forward slashes is by providing a custom `format` function.
But that is awkward to use as the docs discourage replacing backslashes with forward slashes explicitly.

## What should be happening?

- Remove any mentions to `posixSlashes` and `unixify` in the

[2022-01-04 17:04] davakos commented on #175
This issue may receive additional interest soon as the the create-react-app project recently updated to version 5.0 which updates WebPack from v4 => v5. WebPack v5 removes default polyfills for NodeJS core modules, so it looks like if you are using picomatch in a browser project you will now need to polyfill `path` module with `path-browserify` manually.

It would be nice to have an option for usi

[2022-01-10 16:40] andreaskundig opened #227 "Add a way to generate a glob from a file name"
I need to generate a valid glob that uniquely matches a filename.

For a file called `ba[ra].foo` the glob needs to escape the brackets like this: `bar\[ra\].foo`, in order to avoid matching files called `baa.foo` or `bar.foo`. There are enough other characters and expressions that need escaping that the task does not seem trivial.

Maybe the solution to this is as simple as a regex that you could

[2022-01-11 12:08] andreaskundig commented on #227
Here's my solution, with some tests, but I don't know if this catches everything

[code]

[2022-02-05 10:09] TrySound opened #230 "Basename breaks matching complex pattern"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

Hi, I tried to use micromatch for prettier I got a failed test with this case

[code]

I wasn't able to make it work with absolute pat

[2022-02-05 10:19] TrySound commented on #230
From docs looks like basename should not be used if pattern contains slashes.

And this actually matches minimatch bahavior. With filtered patterns I was able to pass prettier tests.

[code]

[2022-02-06 22:26] webketje opened #231 "Will micromatch gradually phase out CJS support instead of abruptly (cf multimatch)?"
Hi there, as the maintainer of [Metalsmith](https://github.com/metalsmith/metalsmith) I had to witness in horror that an NPM dependency most of our core plugins use (multimatch) has dropped support for CJS modules altogether in an effort to "get the community behind a single standard". While I respect the cause, and do plan to add ESM support, this is way too quick and leaves me scrambling to upda

[2022-02-06 22:37] jonschlinkert commented on #231
We have no plans to phase out of CJS anytime soon. I know exactly what you mean, and I've actively avoided using libraries that do this.

I also respect the cause, as there are also many advantages to ESM, tree shaking, etc. But IMHO this transition should have, and could have been less pain for the community. For me personally, ESM has been a nightmare to use, and a nightmare to maintain. It was

[2022-02-20 22:52] jordanbtucker opened #232 "Documentation incomplete for `scan`"
_(Thanks for reporting an issue to micromatch! If you haven't already read the [contributor guidelines](contributing.md), Please do that now, then proceed to fill out the details below.)_

## Please describe the **minimum necessary steps** to reproduce this issue:

This is a documentation issue.

## What is happening that shouldn't be?

The documentation for the `scan` method says "Returns an obje

[2022-03-20 15:20] conartist6 commented on #218
You could trying using micromatch to turn an extglob into a regex and then executing it with [@iter-tools/regex](https://www.npmjs.com/package/@iter-tools/regex) which is non-backtracking.

[2022-03-20 15:42] conartist6 commented on #218
Oh oops it doesn't work quite yet because the compiled expression uses lookahead which I don't support yet.

[2022-03-24 18:49] jonschlinkert commented on #231
closing since I believe this was resolved.

[2022-03-24 18:49] #231 closed

[2022-03-24 18:51] jonschlinkert commented on #223
Sorry for the late reply. What version of node.js are (were) you running? Does it happen with the latest version of node?

[2022-04-15 11:56] elmpp commented on #217
[code]

This is awful DX

[2022-04-20 20:20] HackAttack commented on #230
Root issue seems to be micromatch/picomatch#89.

[2022-08-03 19:11] rauschma opened #235 "Alternatives in extglobs not matching correctly?"
## Please describe the **minimum necessary steps** to reproduce this issue:

[code]

[2022-08-03 19:29] jonschlinkert commented on #235
@rauschma thanks for creating the issue. Have you tried moving the double stars outside of the extglobs, like one of the following?

[code]
**/*.{html,md}
[code]

[2022-08-03 20:01] rauschma commented on #235
These all work.

Alas, my globs exist separately and I need to compose them.

I can work around the issue by looping over the alternatives and checking them individually. So it depends on whether you think anyone else might profit from this working.

[2022-08-03 20:05] jonschlinkert commented on #235
Great to know, thanks for checking. Since you were able to get other syntaxes to work, I'll go ahead and close since there might be diminishing returns in solving it. thanks again for creating the issue. If you notice something isn't working the way you thought, feel free to reopen.

[2022-08-03 20:05] #235 closed

[2022-08-03 20:09] jonschlinkert commented on #235
@rauschma btw I just noticed your name. I've read your blog lots of times, it's been very valuable and interesting. thanks for the awesome content over the years!

[2022-08-04 10:27] rauschma commented on #235
@jonschlinkert Cool! Thanks for telling me.